{% extends "core/base.html" %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% load querystring from django_tables2 %}
{% load export_url from django_tables2 %}
{% load core %}
{% block title %}
    {% translate "Membership pauses" %}
{% endblock %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'coop/css/coop.css' %}">
{% endblock %}
{% block content %}
    <div class="card mb-2">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5>{% translate "Membership pauses" %}</h5>
            <div>
                <div class="btn-group">
                    <button type="button"
                            class="{% tapir_button_link %} btn dropdown-toggle"
                            data-bs-toggle="dropdown">{% translate "Export" %}</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        {% for format in view.export_formats %}
                            <a class="dropdown-item" href="{% export_url format %}">
                                download <code>.{{ format }}</code>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <a class="{% tapir_button_link_to_action %}"
                   href="{% url "coop:membership_pause_create" %}">
                    <span class="material-icons">add_circle_outline</span>
                    {% translate "Create a new pause" %}
                </a>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            {% if filter %}
                <li class="list-group-item">
                    <form action="" method="get" class="form member-filter-form">
                        <div class="member-filter-form-filters">{% bootstrap_form filter.form %}</div>
                        <div class="member-filter-form-buttons">
                            <button class="filter-button {% tapir_button_link %}">
                                <span class="material-icons">filter_alt</span>{% translate 'Filter' %}
                            </button>
                            <a class="{% tapir_button_link %}"
                               href="{% url 'coop:membership_pauses' %}">
                                <span class="material-icons">clear</span>
                                {% translate "Clear all filters" %}
                            </a>
                            <div class="ms-2">
                                {% blocktranslate %}
                                    Filtered {{ filtered_pause_count }} of {{ total_pause_count }}
                                {% endblocktranslate %}
                            </div>
                        </div>
                    </form>
                </li>
            {% endif %}
            <li class="list-group-item">{% render_table table %}</li>
        </ul>
    </div>
{% endblock %}
