{% extends "base.html" %}

{% load bootstrap4 %}
{% load static %}
{% load i18n %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "accounts/css/accounts.css" %}">
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center supercoop-authentification">
        <div class="card supercoop-login mt-4" id="login-card">
            <h5 class="card-header d-flex justify-content-between align-items-center">
                {% trans "Sign in" %}
            </h5>
            <div class="card-body">
                <form role="form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <p>
                        <a href="{% url "password_reset" %}">{% trans "Forgot your password?" %}</a>
                    </p>
                    <button type="submit" class="btn btn-primary btn-block">{% trans "Sign in" %}</button>
                </form>
            </div>
        </div>

        {% comment %}
        <div class="card m-2 supercoop-register">
            <h5 class="card-header d-flex justify-content-between align-items-center">
                New User
            </h5>
            <div class="card-body">
                <p>If you don't have an account yet, create one!</p>
                <p>Whether you already attended a welcome session or not, already sent your Beteiligungserklärung or not, it all starts here!</p>
                <p><a href="{% url "coop:draftuser_register" %}">
                    <button type="button" class="btn btn-primary btn-block">Create Account</button>
                </a></p>
            </div>
        </div>
        {% endcomment %}
    </div>
{% endblock %}
