{% extends "core/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="d-flex flex-wrap pt-3">
        <h2 class="mb-2">{% translate "Password reset instructions have been sent." %}</h2>
        <p>
            {% translate "We have emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}
        </p>
    </div>
{% endblock content %}
