{% extends "core/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}
{% load core %}
{% block content %}
    {% if validlink %}
        <div class="card mt-4">
            <h5 class="card-header">{% translate "Set a new password" %}</h5>
            <div class="card-body">
                <p>{% translate "Please enter a new password" %}</p>
                <form role="form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="{% tapir_button_action %}">{% translate "Change password" %}</button>
                </form>
            </div>
        </div>
    {% else %}
        <p>
            {% translate "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
        </p>
    {% endif %}
{% endblock content %}
