{% extends "base.html" %}

{% load bootstrap4 %}
{% load static %}

{% block content %}
    <div class="d-flex flex-wrap">
        <div class="card m-2">
            <h5 class="card-header d-flex justify-content-between align-items-center">
                Problems with logging in? 
            </h5>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <p>Please enter your email adress, we will send you instructions to reset your password.</p>
                    {% bootstrap_form form %}
                    <p>
                        <a href="/accounts/login">Back to login form</a>
                    </p>
                    <button type="submit" class="btn btn-primary btn-block">Send me instructions!</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
