{% extends "accounts/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load core %}
{% block content %}
    <div class="container">
        <div class="card mb-2">
            <h5 class="card-header">{% translate "Set a new password" %}</h5>
            <div class="card-body">
                <form role="form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="{% tapir_button_action %}">
                            <span class="material-icons">save</span>
                            {% translate 'Save' %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
