{% extends "core/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}
{% load core %}
{% block content %}
    <div class="d-flex flex-wrap">
        <div class="card mt-4">
            <h5 class="card-header d-flex justify-content-between align-items-center">
                {% translate "Problems with logging in?" %}
            </h5>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <p>
                        {% blocktranslate %}
                            Please enter your email address, we will send you instructions to reset your password. <br />
                            Your username will be included in the email, in case you forgot it. <br />
                            If you forgot both your email address and your username, email the member office : <a href="mailto:{{ contact_member_office }}">{{ contact_member_office }}</a>, specifying your full name and, if you know it, your member's number.
                        {% endblocktranslate %}
                    </p>
                    {% bootstrap_form form %}
                    <p>
                        <a href="{% url 'login' %}">{% translate "Back to login form" %}</a>
                    </p>
                    <button type="submit" class="{% tapir_button_action %} btn-block">{% translate "Send me instructions!" %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
