{% extends "base.html" %}

{% load bootstrap4 %}
{% load static %}
{% load i18n %}

{% block content %}
  {% if validlink %}
    <div class="card mt-4">
      <h5 class="card-header">{% trans "Set a new password" %}</h5>
      <div class="card-body">
        <p>{% trans "Please enter a new password" %}</p>
        <form role="form" method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          <button type="submit" class="btn tapir-btn btn-primary">{% trans "Change password" %}</button>
        </form>
      </div>
    </div>
  {% else %}
    <p>
      {% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
    </p>
  {% endif %}
{% endblock %}
