{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% translate 'Shift reminder' %}</title>
</head>
<body>
{% blocktranslate with first_name=tapir_user.first_name shift_display_name=shift.get_display_name %}
    <p>Hi {{ first_name }},</p>

    <p>This is an automated email from {{ coop_name }}.</p>

    <p>
        Your next shift at {{ coop_name }} is: <br/>
        <strong>{{ shift_display_name }}</strong>
    </p>
{% endblocktranslate %}
{% if is_first_shift %}
    <p>
        {% translate "Since this is your first shift, remember to arrive 20 minutes before the beginning of the shift in order to get the instructions you need." %}
    </p>
{% endif %}
    <p>
        {% translate "In case you can't attend the shift, contact the team leader as soon as possible. %}
    </p>
</body>
</html>