{% extends "core/email_base.html" %}
{% load i18n %}
{% load utils %}
{% block body %}
    {% get_display_name_short member_infos as display_name_short %}
    {% blocktranslate with display_name_short=display_name_short shift_display_name=shift.get_display_name %}
        <p>Hello {{ display_name_short }},</p>

        <p>We'll see you on {{ shift_display_name }}</p>
        <div>
            If you can't make it to your shift:
            <ol>
                <li>Please set yourself to ‘Looking for a stand-in’ in Tapir</li>
                <li>Register for another shift</li>
                <li>Contact your team leader or the Member Office within the next 48 hours. This way you avoid an additional catch-up shift.</li>
            </ol>
        </div>
        <p></p>
        <p>If you have already contacted your team leader and/or the Member Office about this matter, you can ignore this message.</p>
        <p>If you can't be on time for your shift: Please come anyway, any support is important!</p>
        <p>You can find more information about the stand-in system in the <a href="https://docs.google.com/document/d/19v91mj2MAJTtrPLCw54VMS6qlaiJqBqUAuiC6z_AKpw/edit?tab=t.0#heading=h.naxyslw4b9ig">member manual</a>.</p>
        <p>
            Cooperative greetings,<br />
            The Member Office
        </p>
    {% endblocktranslate %}
{% endblock body %}
