{% extends "core/email_base.html" %}

{% load i18n %}
{% load utils %}

{% block body %}
    {% get_display_name_short tapir_user as display_name_short %}
    {% blocktranslate with display_name_short=display_name_short shift_display_name=shift.get_display_name %}
        <p>Hi {{ display_name_short }},</p>

        <p>This is an automated email from SuperCoop.</p>

        <p>
            It has been registered into Tapir that you did not show up for the following shift even though you were
            registered for it: {{ shift_display_name }}
        </p>
        <p>
            If this is an error, such as you were excused for the shift, please contact the Member Office as soon as
            possible by simply replying to this email.
        </p>
        <p>
            In order for the shift system to work in case of absences, the stand-in system (an internal substitution
            system) has been set up. This is to relieve both you and your team members. You can find out exactly how the
            substitution system works in the
            <a href="https://docs.google.com/document/d/19v91mj2MAJTtrPLCw54VMS6qlaiJqBqUAuiC6z_AKpw/edit#heading=h.lk042ux0tm9c.">Member
                Manual</a>. Please note that it is your responsibility to actively look for a shift substitute, this
            includes an entry in Tapir as well as actively searching for a substitute e.g. via Slack.
        </p>
        <p>
            As a general rule, a member is required to work two make-up shifts for each missed shift for which a
            replacement could not be found. Your Tapir account now contains a note to that effect.
        </p>
        <p>
            We ask that you sign up for your make-up shifts in Tapir within the next four weeks to balance your account. Failure to do so can result in the pausing of your purchasing and voting rights until you begin actively working again (see <a
                href="https://docs.google.com/document/d/19v91mj2MAJTtrPLCw54VMS6qlaiJqBqUAuiC6z_AKpw/edit?pli=1#heading=h.lk042ux0tm9c">Member
            Manual (Section III.F)</a>
        </p>
        <p>Thank you for your understanding.</p>
        <p>
            Cooperative Greetings<br/>
            The Membership Office
        </p>
    {% endblocktranslate %}
{% endblock body %}