{% extends "core/email_base.html" %}
{% load i18n %}
{% load utils %}
{% block body %}
    {% get_display_name_short tapir_user as display_name_short %}
    {% blocktranslate with display_name_short=display_name_short coop_name=coop_name shift_display_name=shift.get_display_name reason=reason %}
        <p>
            Hi {{ display_name_short }},
        </p>

        <p>
            {{ reason }}
        </p>

        <p>
            This is an automated email from {{ coop_name }}. You agreed to receive this mail, but if you don't want to get notification mails, you can disable them in your settings.
        </p>

        <p>
            Thank you!
        </p>
        <p>
            Cooperative greetings,<br />
            The member office
        </p>
    {% endblocktranslate %}
{% endblock body %}
