{% extends "core/email_base.html" %}
{% load i18n %}
{% load utils %}
{% block body %}
    {% get_display_name_short tapir_user as display_name_short %}
    {% blocktranslate with display_name_short=display_name_short shift_display_name=shift.get_display_name cancelled_reason=shift.cancelled_reason %}
        <p>Hi {{ display_name_short }},</p>

        <p>This is an automated email from {{ coop_name }}.</p>

        <p>
        Your shift {{ shift_display_name }} was cancelled! Reason: {{ cancelled_reason }}.

        If you have an ABCD shift, you'll be credited with one shift point. If you're on a flight, you generally won't be credited with a shift point. Feel free to check your shift account, though.
        See you next time!
        </p>

        <p>
            Cooperative Greetings,<br />
            The Membership Office
        </p>
    {% endblocktranslate %}
{% endblock body %}
