{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% translate 'Shift reminder' %}</title>
</head>
<body>
{% blocktranslate with first_name=tapir_user.first_name shift_display_name=shift.get_display_name %}
    <p>Hi {{ first_name }},</p>

    <p>This is an automated email from SuperCoop.</p>

    <p>
        Your next shift at SuperCoop is soon!<br/>
        Your shift is : {{ shift_display_name }}
    </p>
{% endblocktranslate %}
{% blocktranslate %}
    <p>In case you can't attend the shift, contact the teamleader as soon as possible.</p>

    <p>Cooperatively yours,</p>
{% endblocktranslate %}
</body>
</html>