{% extends "core/email_base.html" %}

{% load i18n %}
{% load utils %}

{% block body %}
    {% get_display_name_short member_infos as display_name_short %}
    {% blocktranslate with display_name_short=display_name_short shift_display_name=shift.get_display_name %}
        <p>Hi {{ display_name_short }},</p>

        <p>This is an automated email from {{ coop_name }}.</p>

        <p>
            Your next shift at {{ coop_name }} is: <br/>
            <strong>{{ shift_display_name }}</strong>
        </p>
    {% endblocktranslate %}
    <p>
        {% translate "In case you can't attend the shift, contact the team leader as soon as possible. If you can only come late: please come to your shift anyway, every support is important." %}
    </p>
{% endblock body %}