{% extends "core/email_base.html" %}
{% load i18n %}
{% load utils %}
{% block body %}
    {% get_display_name_short tapir_user as display_name_short %}
    {% blocktranslate with display_name_short=display_name_short shift_display_name=shift.get_display_name %}
        <p>Hi {{ display_name_short }},</p>

        <p>This is an automated email from SuperCoop.</p>

        <p>
            It has been registered into Tapir that you did show up for the following shift: {{ shift_display_name }}
            Thanx for your hard work.
        </p>
        <p>
            Cooperative Greetings,<br />
            The Membership Office
        </p>
    {% endblocktranslate %}
{% endblock body %}
