{% extends "core/email_base.html" %}
{% load i18n %}
{% load utils %}
{% block body %}
    {% get_display_name_short tapir_user as display_name_short %}
    {% blocktranslate with display_name_short=display_name_short shift_display_name=shift.get_display_name %}
        <p>Hi {{ display_name_short }},</p>

        <p>This is an automated email from SuperCoop.</p>

        <p>
        You successfully completed your shift on {{ shift_display_name }}! Thank you for your work and for keeping our SuperCoop running. The shift has bin credited to your Tapir account. 
        See you next time!
        </p>

        <p>
            Cooperative Greetings,<br />
            The Membership Office
        </p>
    {% endblocktranslate %}
{% endblock body %}
