{% extends "core/email_base.html" %}
{% load i18n %}
{% load utils %}
{% block body %}
    {% get_display_name_short member_infos as display_name_short %}
    {% blocktranslate with display_name_short=display_name_short shift_display_name=shift.get_display_name %}
        <p>Dear {{ display_name_short }},</p>

        <p>This is an automated email from {{ coop_name }}.</p>
        <p>
            You were looking for a stand-in for the following shift: {{ shift_display_name }}.<br />
            Another member has taken over your slot for that shift.
        </p>

        <p>If you haven't done so already, don't forget to attend another shift to compensate for the one you will miss!</p>
        <p>
            Cooperative Greetings,<br />
            The member office
        </p>
    {% endblocktranslate %}
{% endblock body %}
