{% extends "core/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load coop %}
{% load static %}
{% load render_table from django_tables2 %}
{% load core %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "coop/css/coop.css" %}" />
    {{ filter.form.media }}
{% endblock head %}
{% block content %}
    <div class="card m-2">
        <h5 class="card-header d-flex justify-content-between">
            <span>{% translate "Logs" %}</span>
        </h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                {% if filter %}
                    <form action="" method="get" class="form log-filter-form">
                        {% bootstrap_form filter.form %}
                        <button class="filter-button {% tapir_button_link %}">
                            <span class="material-icons">filter_alt</span>{% translate 'Filter' %}
                        </button>
                    </form>
                {% endif %}
            </li>
            <li class="list-group-item">{% render_table table %}</li>
        </ul>
    </div>
{% endblock content %}
