{% extends "core/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load coop %}
{% load static %}
{% load render_table from django_tables2 %}
{% load core %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "coop/css/coop.css" %}">
    {{ filter.form.media }}
{% endblock head %}
{% block content %}
    <div class="card m-2">
        <div class="card-header d-flex justify-content-between">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <h5>
                            <span>{% translate "Logs" %}</span>
                        </h5>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <button class="{% tapir_button_link_to_action %}"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseFilter"
                                aria-expanded="false"
                                aria-controls="collapseFilter">
                            {% translate "Filters" %}
                            <span class="material-icons">unfold_more</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item collapse" id="collapseFilter">
                {% if filter %}
                    <form action="" method="get" class="form log-filter-form">
                        {% bootstrap_form filter.form %}
                        <button class="filter-button {% tapir_button_link %}">
                            <span class="material-icons">filter_alt</span>{% translate 'Filter' %}
                        </button>
                    </form>
                {% endif %}
            </li>
            <li class="list-group-item">{% render_table table %}</li>
        </ul>
    </div>
{% endblock content %}
