version: "3.9"
services:
  openldap:
    image: "osixia/openldap"
    env_file:
      - .env
    ports:
      - "389:389"
    volumes:
      - ./ldap_testdata.ldif:/container/service/slapd/assets/config/bootstrap/ldif/custom/50-testdata.ldif
    # Required so that the container doesn't modify the testdata ldif
    command: --copy-service

  web:
    build: .
    command: bash -c "poetry install &&
                      poetry run python manage.py compilemessages --ignore \".venv\" &&
                      poetry run python manage.py runserver_plus 0.0.0.0:80"
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - openldap
      - db
      - selenium

  nginx-proxy:
    image: jwilder/nginx-proxy
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./docker/nginx/certs:/etc/nginx/certs:ro
      - ./docker/nginx/vhost.d:/etc/nginx/vhost.d:ro
      - ./docker/nginx/client_auth_certs:/etc/nginx/client_auth_certs:ro
    ports:
      - "8000:80"
      - "8001:443"
    env_file:
      - .env


  db:
    image: postgres:14-alpine
    env_file:
      - .env
    ports:
      - '5432:5432'

  selenium:
    image: selenium/standalone-firefox-debug:latest
    shm_size: '2gb'
    ports:
      - 5900:5900 # VNC

  # Backend for Celery task queue
  redis:
    image: redis:alpine

  celery:
    build: .
    command: bash -c "poetry install &&
                      poetry run celery -A tapir worker -l info"
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis

  celery-beat:
    build: .
    # --schedule to avoid polluting the app directory
    command: bash -c "poetry install &&
                      poetry run celery -A tapir beat -l info --schedule /tmp/celerybeat-schedule"
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis

volumes:
  nginx-certs-volume:
