version: "3.9"
services:
  openldap:
    image: "osixia/openldap"
    environment:
      LDAP_ORGANISATION: "SuperCoop Berlin"
      LDAP_DOMAIN: "supercoop.de"
      LDAP_ADMIN_PASSWORD: "admin"
      LDAP_READONLY_USER: "true"
    ports:
      - "389:389"
    volumes:
      - ./ldap_testdata.ldif:/container/service/slapd/assets/config/bootstrap/ldif/custom/50-testdata.ldif
    # Required so that the container doesn't modify the testdata ldif
    command: --copy-service

  web:
    build: .
    command: bash -c "poetry install &&
                      poetry run python manage.py runserver_plus 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - openldap
      - db
      - selenium

  db:
    image: postgres:13
    environment:
      - POSTGRES_DB=tapir
      - POSTGRES_PASSWORD=tapir
      - POSTGRES_USER=tapir
    ports:
      - '5432:5432'

  selenium:
    image: selenium/standalone-firefox-debug:latest
    shm_size: '2gb'
    ports:
      - 5900:5900 # VNC

  #odoo:
  #        image: "odoo:12"
  #        depends_on:
  #                - odoo_db
  #        ports:
  #                - "8069:8069"
  #        volumes:
  #                - ./testdata/odoo/filestore:/var/lib/odoo/filestore
  #        environment:
  #                - HOST=odoo_db
  #        command: "--database=odoo"
  #odoo_db:
  #        image: postgres:10
  #        volumes:
  #                - ./testdata/odoo/odoo.sql:/docker-entrypoint-initdb.d/odoo.sql
  #        environment:
  #                - POSTGRES_DB=odoo
  #                - POSTGRES_PASSWORD=odoo
  #                - POSTGRES_USER=odoo

