[tool.poetry]
name = "tapir"
version = "0.1.0"
description = ""
authors = ["Leon Handreke <leonh@ndreke.de>"]

[tool.poetry.dependencies]
python = "^3.7"
Django = "~3.1"
django-bootstrap4 = "^2.3.1"
django-ldapdb = "^1.5.1"
django-weasyprint = "^1.1.0"
django-extensions = "^3.1.3"
selenium = "^3.141.0"
django-bootstrap-datepicker-plus = "^3.0.5"

[tool.poetry.dev-dependencies]
black = "~20.8b1"
ipython = "^7.21.0"
pre-commit = "^2.11.1"
Werkzeug = "^1.0.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
