[tool.poetry]
name = "tapir"
version = "0.1.0"
description = ""
authors = ["Leon Handreke <leonh@ndreke.de>"]

[tool.poetry.dependencies]
python = "^3.10"
Django = "~3.2.16"
django-ldapdb = {version="^1.5.1", markers="sys_platform=='linux'"}
django-weasyprint = "^2.2.0"
django-extensions = "^3.2.1"
django-bootstrap-datepicker-plus = "^4.0.0"
psycopg2 = "^2.9.4"
django-tables2 = "^2.4.1"
django-filter = "^22.1"
tablib = "^3.2.1"
django-phonenumber-field = "^7.0.0"
phonenumbers = "^8.12.57"
weasyprint = "^57.0"
django-select2 = "^7.10.1"
django-silk = "^5.0.1"
gunicorn = "^20.1.0"
django-environ = "^0.9.0"
django-bootstrap5 = "^22.1"
djangorestframework = "3.13.1"
djangorestframework-simplejwt = "5.2.0"
django-cors-headers = "3.11.0"
celery = "^5.2.7"
redis = "^4.3.4"
ipython = "^8.5.0"
django-chartjs = "^2.3.0"
unidecode = "^1.3.6"

[tool.poetry.group.dev.dependencies]
black = "^22.10.0"
ipython = "^8.5.0"
pre-commit = "^2.20.0"
werkzeug = "^2.2.2"
pytest = "^7.1.3"
pytest-cov = "^4.0.0"
pytest-django = "^4.5.2"
pytest-sugar = "^0.9.5"
selenium = "^4.5.0"
factory-boy = "^3.2.1"
poetryup = "^0.12.3"

[build-system]
requires = ["poetry-core>=1.2.0"]
build-backend = "poetry.core.masonry.api"
