[tool.poetry]
name = "tapir"
version = "0.1.0"
description = ""
authors = ["Leon Handreke <leonh@ndreke.de>"]

[tool.poetry.dependencies]
python = "^3.7"
Django = "~3.1"
django-bootstrap4 = "^2.3.1"
django-ldapdb = "^1.5.1"
django-weasyprint = "^1.1.0"
django-extensions = "^3.1.3"
django-bootstrap-datepicker-plus = "^3.0.5"
psycopg2 = "^2.8.6"
django-tables2 = "^2.4.0"
django-filter = "^2.4.0"
tablib = "^3.0.0"
django-phonenumber-field = {extras = ["phonenumbers"], version = "^5.2.0"}
phonenumbers = "^8.12.28"
weasyprint = "^52.5"
django-select2 = "^7.7.1"

[tool.poetry.dev-dependencies]
black = "~20.8b1"
ipython = "^7.21.0"
pre-commit = "^2.11.1"
Werkzeug = "^1.0.1"
pytest = "^6.2.4"
pytest-cov = "^2.12.1"
pytest-django = "^4.4.0"
pytest-sugar = "^0.9.4"
selenium = "^3.141.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
