{% extends "accounts/base.html" %}

{% load i18n %}
{% block content %}
    <div class="card m-2">
        <div class="card-body">
            <div class="d-flex justify-content-between mb-2">
                <h4 class="card-title align-middle">{% trans "Applicants" %}</h4>
                <span class="align-self-right">
                    <a href="{% url "accounts:draftuser_create" %}">
                    <button type="button" class="btn btn-primary">Create</button>
                    </a>
                </span>
            </div>
            <table class="table">
                {% for u in object_list %}
                    <thead>
                    <th>{% trans "First Name" %}</th>
                    <th>{% trans "Last Name" %}</th>
                    <th>{% trans "Email" %}</th>
                    <th></th>
                    </thead>
                    <tr>
                        <td class="align-middle">{{ u.first_name }}</td>
                        <td class="align-middle">{{ u.last_name }}</td>
                        <td class="align-middle">{{ u.email }}</td>
                        <td class="align-middle">
                            <a href="{% url "accounts:draftuser_update" u.pk %}">
                                <button type="button" class="btn btn-outline-primary">Edit</button>
                            </a>
                            <form style="display: inline;" class="form-inline" method="POST" action="{% url "accounts:draftuser_delete" u.pk %}">
                                {% csrf_token %}
                                <button type="submit" value="DELETE" class="btn btn-danger">Delete</button>
                            </form>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}