{% extends "base.html" %}

{% load bootstrap4 %}
{% load static %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "accounts/css/accounts.css" %}">
{% endblock %}

{% block content %}
    <div class="d-flex flex-wrap">
        <div class="card m-2">
            <h5 class="card-header d-flex justify-content-between align-items-center">
                New User
            </h5>
            <div class="card-body">
                <p>If you don't have an account yet, create one!</p>
                <p>Whether you already attended a welcome session or not, already sent your Beteiligungserklärung or not, it all starts here!</p>
                <p><a href="{% url "coop:draftuser_register" %}">
                    <button type="button" class="btn btn-primary">Let's go!</button>
                </a></p>
            </div>
        </div>
        <div class="card m-2" id="login-card">
            <h5 class="card-header d-flex justify-content-between align-items-center">
                Existing User
            </h5>
            <div class="card-body">
                <form role="form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <span class="text-right">
                        {% buttons submit='Login' %}{% endbuttons %}
                    </span>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
