{% load i18n %}
{% load core %}
<div class="card mb-2">
    <h5 class="card-header d-flex justify-content-between align-items-center">
        <span>{% translate 'Purchase tracking' %}</span>
        <span>
            {% if tapir_user.share_owner and tapir_user.allows_purchase_tracking %}
                <a class="{% tapir_button_link %}"
                   href="{% url "accounts:member_card_barcode_pdf" tapir_user.pk %}">
                    <span class="material-icons">download</span>
                    {% translate 'Get barcode as PDF' %}
                </a>
            {% endif %}
            <a class="{% tapir_button_link %}"
               href="https://wiki.supercoop.de/wiki/Mitgliederkarte">
                <span class="material-icons">link</span>
                {% translate 'More information' %}
            </a>
        </span>
    </h5>
    <div class="card-body">
        <div class="row m-1">
            <div class="col fw-bold text-end"
                 data-bs-toggle="tooltip"
                 title="{% translate 'The checkout system links your purchase to your member account. The total amount of your purchase is saved each time. However, it does not record which specific products you have purchased. Also, with each purchase you can still decide whether you want to have your membership card scanned or not. With your general consent here on Tapir, you do not enter into any obligation to scan. You can revoke your consent at any time by unchecking the box above. You are helping Supercoop to better understand the shopping habits of its members. This is important for the further development of our supermarket. More information: https://wiki.supercoop.de/wiki/Mitgliederkarte' %}">
                {% translate "I agree that my membership card will be scanned at the checkout when I make a purchase and that my purchase will thus be recorded and stored:" %}
            </div>
            <div class="col d-flex align-content-center gap-1">
                <span>{{ tapir_user.allows_purchase_tracking|yesno:_("Yes,No") }}</span>
                {% if request.user.pk == tapir_user.pk %}
                    <span>
                        {% if tapir_user.allows_purchase_tracking %}
                            <a href="{% url 'accounts:update_purchase_tracking_allowed' tapir_user.pk 0 %}"
                               class="{% tapir_button_action %} btn-sm">
                                <span class="material-icons">thumb_down</span>{% translate "Disable" %}
                            </a>
                        {% else %}
                            <a href="{% url 'accounts:update_purchase_tracking_allowed' tapir_user.pk 1 %}"
                               class="{% tapir_button_action %} btn-sm">
                                <span class="material-icons">thumb_up</span>{% translate "Enable" %}
                            </a>
                        {% endif %}
                    </span>
                {% endif %}
            </div>
        </div>
        <div class="row m-3">
            <div class="col d-flex justify-content-center">
                {% if tapir_user.share_owner and tapir_user.allows_purchase_tracking %}
                    <a href="{% url "accounts:member_card_barcode_pdf" tapir_user.pk %}">{{ barcode_as_svg|safe }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
