{% extends "accounts/base.html" %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'coop:shareowner_list' %}">{% translate "Users" %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ form.instance.get_absolute_url }}">{{ form.instance.get_display_name }}</a>
            </li>
        </ol>
    </nav>

    <div class="container">
        <div class="card mb-2">
            <div class="card-body">
                <form role="form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn tapir-btn btn-primary">
                            <span class="material-icons">save</span>
                            {% translate 'Save' %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
