{% extends "accounts/base.html" %}

{% load bootstrap4 %}
{% load static %}
{% load i18n %}
{% load shifts %}
{% load coop %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "shifts/css/shifts.css" %}">
    <link rel="stylesheet" href="{% static "accounts/css/user_detail.css" %}">
{% endblock %}

{% block content %}
    <div class="d-flex flex-wrap">
        <div class="col-6 p-0">
            <div class="card m-2">
                <h5 class="card-header d-flex justify-content-between align-items-center">
                    User Details
                    <a href="{% url "accounts:user_update" user.pk %}">
                        <button type="button" class="btn btn-outline-info">Edit infos</button>
                    </a>
                </h5>
                <div class="card-body">
                    <div class="row m-1">
                        <div class="col-3 font-weight-bold text-right">{% trans "Name" %}:</div>
                        <div class="col-9">{{ user.first_name }} {{ user.last_name }}</div>
                    </div>
                    <div class="row m-1">
                        <div class="col-3 font-weight-bold text-right">{% trans "Username" %}:</div>
                        <div class="col-9">{{ user.username }}</div>
                    </div>
                    <div class="row m-1">
                        <div class="col-3 font-weight-bold text-right">{% trans "Email" %}:</div>
                        <div class="col-9">{{ user.email }}</div>
                    </div>
                    <div class="row m-1">
                        <div class="col-3 font-weight-bold text-right">{% trans "Birthdate" %}:</div>
                        <div class="col-9">{{ user.birthdate }}</div>
                    </div>
                    <div class="row m-1">
                        <div class="col-3 font-weight-bold text-right">{% trans "Address" %}:</div>
                        <div class="col-9">
                            {{ object.street }}{% if object.street_2 %} {{ object.street_2 }}{% endif %},
                            {{ object.postcode }} {{ object.city }}
                        </div>
                    </div>

                    <div class="row m-1 justify-content-end">
                        {% if perms.accounts.manage %}
                            <form
                                    method="post"
                                    action="{% url "accounts:send_user_welcome_email" object.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="align-self-right btn btn-outline-info ml-3">
                                    Resend Welcome Email
                                </button>
                            </form>
                        {% endif %}
                        {% if object.pk == request.user.pk %}
                            <a class="btn btn-outline-info ml-1" href="{% url "password_change" %}">Change Password</a>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 p-0">
            <div class="card m-2">
                <h5 class="card-header d-flex justify-content-between align-items-center">
                    {% trans "TODO messages" %}
                </h5>
                <div class="card-body">
                    Alerts about missed shifts or other situations to be regularized
                </div>
            </div>
        </div>

        <div class="col-6 p-0">
            <div class="card m-2">
                <h5 class="card-header d-flex justify-content-between align-items-center">
                    {% trans "My upcoming shifts" %}
                    <button type="button" class="btn btn-outline-info" onclick="alert('Not implemented yet')">Add single shift</button>
                </h5>
                <div class="card-body">
                    <div class="shift-list d-flex flex-wrap">
                        {% for attendance in shift_attendances %}
                            {% shift_block attendance.shift %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 p-0">
            <div class="card m-2">
                <h5 class="card-header d-flex justify-content-between align-items-center">
                    {% trans "My regular shifts" %}
                    <button type="button" class="btn btn-outline-info" onclick="alert('Not implemented yet')">Add regular shift</button>
                </h5>
                <div class="card-body">
                    <div class="shift-list d-flex flex-wrap">
                        {% for attendance in shift_template_attendances %}
                            {% shift_template_block attendance.shift_template %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 p-0">
            {% user_coop_share_ownership_list user %}
        </div>

        <div class="col-6 p-0">
            <div class="card m-2">
                <h5 class="card-header d-flex justify-content-between align-items-center">
                    {% trans "Invoices" %}
                </h5>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">{% trans "Invoice Number" %}</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Status</th>
                        </tr>
                        </thead>
                        {% for invoice in user.invoices.all %}
                            <tr>
                                <td><a href="{{ invoice.get_absolute_url }}">Invoice {{ invoice.pk }}</td>
                                <td>TODO</td>
                                <td>
                                    TODO
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

