{% extends "accounts/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}
{% load shifts %}
{% load coop %}
{% load log %}
{% load accounts %}
{% load core %}
{% load utils %}
{% block title %}
    {% translate "Welcome Desk" %}: {% get_display_name_full share_owner %}
{% endblock %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'shifts/css/shifts.css' %}">
{% endblock %}
{% block content %}
    {% get_display_name_full share_owner as display_name_full %}
    {% get_display_name_short share_owner as display_name_short %}
    <div class="card mb-2" id="welcome_desk_share_owner">
        <h5 class="card-header">
            <span>{% get_display_name_welcome_desk share_owner %}</span>
        </h5>
        <div class="card-body">
            {% if can_shop %}
                <div class="alert alert-success" role="alert" id="welcome_desk_can_shop">
                    {% blocktranslate with name=display_name_short %}{{ name }} can shop
                        :){% endblocktranslate %}
                </div>
            {% else %}
                {% if missing_account %}
                    <div class="alert alert-danger" role="alert" id="welcome_desk_no_account">
                        {% blocktranslate with name=display_name_short %}{{ name }} does not have a Tapir
                            account. Contact a member of the management team.{% endblocktranslate %}
                    </div>
                {% endif %}
                {% if share_owner.is_investing %}
                    <div class="alert alert-danger"
                         role="alert"
                         id="welcome_desk_is_investing">
                        {% blocktranslate with name=display_name_short %}{{ name }} is an investing member.
                            If they want to shop, they have to become an active member. Contact a member of the
                            management team.{% endblocktranslate %}
                    </div>
                {% endif %}
                {% if is_frozen %}
                    <div class="alert alert-danger" role="alert" id="welcome_desk_is_frozen">
                        {% blocktranslate with name=share_owner.get_info.first_name %}
                            {{ name }} has been frozen because they missed too many shifts. <br />
                            If they want to shop, they must first be re-activated. <br />
                            Contact a member of the management team.
                        {% endblocktranslate %}
                    </div>
                {% endif %}
                {% if is_paused %}
                    <div class="alert alert-danger" role="alert" id="welcome_desk_is_paused">
                        {% blocktranslate with name=share_owner.get_info.first_name %}
                            {{ name }} has paused their membership. Contact a member of the management team.
                        {% endblocktranslate %}
                    </div>
                {% endif %}
            {% endif %}
            {% if must_register_to_a_shift %}
                <div class="alert alert-warning"
                     role="alert"
                     id="welcome_desk_no_abcd_shift">
                    {% blocktranslate with name=display_name_short %}{{ name }} is not registered to an
                        ABCD shift yet. Make sure they plan to do it!{% endblocktranslate %}
                </div>
            {% endif %}
            {% if not share_owner.attended_welcome_session %}
                <div class="alert alert-warning"
                     role="alert"
                     id="welcome_desk_no_welcome_session">
                    {% blocktranslate with name=display_name_short %}{{ name }} has not attended a welcome
                        session yet. Make sure they plan to do it!{% endblocktranslate %}
                </div>
            {% endif %}
            {% if not missing_account and user %}
                <div class="row m-1">
                    <div class="col-4 fw-bold text-end">{% translate "Name" %}:</div>
                    <div class="col-8">{% get_display_name_welcome_desk share_owner %}</div>
                </div>
                <div class="row m-1">
                    <div class="col-4 fw-bold text-end">{% translate "Member ID" %}:</div>
                    <div class="col-8">#{{ share_owner.pk }}</div>
                </div>
                <div class="row m-1">
                    <div class="col-4 fw-bold text-end">{% translate "Co-Purchaser" %}:</div>
                    <div class="col-8">{{ share_owner.get_info.co_purchaser }}</div>
                </div>
                {% if perms.accounts.manage %}
                    <div class="row m-1 justify-content-sm-end">
                        <a class="col-md-auto col-1 {% tapir_button_link_to_action %}"
                           href="{% url 'accounts:user_update' share_owner.get_info.pk %}"
                           id="tapir_user_edit_button">
                            <span class="material-icons">edit</span>{% translate 'Edit' %}
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
