{% extends "accounts/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}
{% load shifts %}
{% load coop %}
{% load log %}
{% load accounts %}
{% load core %}
{% block title %}
    {% translate "Welcome Desk" %}: {{ share_owner.get_info.get_display_name }}
{% endblock title %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'shifts/css/shifts.css' %}" />
{% endblock head %}
{% block content %}
    <div class="card mb-2" id="welcome_desk_share_owner">
        <h5 class="card-header">
            <span>{{ share_owner.get_info.get_display_name }}</span>
        </h5>
        <div class="card-body">
            {% if can_shop %}
                <div class="alert alert-success" role="alert" id="welcome_desk_can_shop">
                    {% blocktranslate trimmed with name=share_owner.get_info.first_name %}
                        {{ name }} can shop 😊
                    {% endblocktranslate %}
                </div>
            {% else %}
                {% if missing_account %}
                    <div class="alert alert-danger" role="alert" id="welcome_desk_no_account">
                        {% blocktranslate trimmed with name=share_owner.get_info.first_name %}
                            {{ name }} does not have a Tapir account. Contact a member of the
                            management team.
                        {% endblocktranslate %}
                    </div>
                {% endif %}
                {% if shift_balance_not_ok %}
                    <div class="alert alert-danger"
                         role="alert"
                         id="welcome_desk_shift_balance_not_ok">
                        {% blocktranslate trimmed with name=share_owner.get_info.first_name balance=share_owner.user.shift_user_data.get_account_balance %}
                            {{ name }} has a negative shift balance ({{ balance }}). Contact a member of the
                            management team.
                        {% endblocktranslate %}
                    </div>
                {% endif %}
                {% if share_owner.is_investing %}
                    <div class="alert alert-danger"
                         role="alert"
                         id="welcome_desk_is_investing">
                        {% blocktranslate trimmed with name=share_owner.get_info.first_name %}
                            {{ name }} is an investing member. If they want to shop, they have to become an active
                            member. Contact a member of the management team.
                        {% endblocktranslate %}
                    </div>
                {% endif %}
            {% endif %}
            {% if must_register_to_a_shift %}
                <div class="alert alert-warning"
                     role="alert"
                     id="welcome_desk_no_abcd_shift">
                    {% blocktranslate trimmed with name=share_owner.get_info.first_name %}
                        {{ name }} is not registered to an ABCD shift yet. Make sure they plan to do it!
                    {% endblocktranslate %}
                </div>
            {% endif %}
            {% if not share_owner.attended_welcome_session %}
                <div class="alert alert-warning"
                     role="alert"
                     id="welcome_desk_no_welcome_session">
                    {% blocktranslate trimmed with name=share_owner.get_info.first_name %}
                        {{ name }} has not attended a welcome session yet. Make sure they plan to do it!
                    {% endblocktranslate %}
                </div>
            {% endif %}
            {% if not missing_account and user %}
                <div class="row m-1">
                    <div class="col-4 fw-bold text-end">{% translate "Name" %}:</div>
                    <div class="col-8">{{ share_owner.get_info.get_display_name }}</div>
                </div>
                <div class="row m-1">
                    <div class="col-4 fw-bold text-end">{% translate "Member ID" %}:</div>
                    <div class="col-8">#{{ share_owner.pk }}</div>
                </div>
                <div class="row m-1">
                    <div class="col-4 fw-bold text-end">{% translate "Co-Purchaser" %}:</div>
                    <div class="col-8">{{ share_owner.get_info.co_purchaser }}</div>
                </div>
                {% if perms.accounts.manage %}
                    <div class="row m-1 justify-content-sm-end">
                        <a class="col-md-auto col-1 {% tapir_button_link_to_action %}"
                           href="{% url 'accounts:user_update' share_owner.get_info.pk %}"
                           id="tapir_user_edit_button">
                            <span class="material-icons">edit</span>{% translate 'Edit' %}
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
