{% extends "core/base.html" %}
{% load django_vite %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% load querystring from django_tables2 %}
{% load core %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'coop/css/coop.css' %}">
{% endblock head %}
{% block title %}
    {% translate "Welcome Desk" %}
{% endblock title %}
{% block content %}
    {% vite_asset 'welcome_desk/welcome_desk_entry.tsx' %}
    <span id="welcome_desk"></span>
{% endblock content %}
