{% extends "core/email_base.html" %}
{% load i18n %}
{% load utils %}
{% block body %}
    {% get_display_name_short member_infos as display_name_short %}
    {% blocktranslate with display_name_short=display_name_short %}
        <p>Hi {{ display_name_short }},</p>
        <p>We've noticed that you've been a SuperCoop member for a month/week but haven't set up a Tapir account to sign up for your first shift.</p>
        <p>
            As a reminder, to sign up for your first shift (or indicate that you are eligible for an
            <a href="https://docs.google.com/document/d/19v91mj2MAJTtrPLCw54VMS6qlaiJqBqUAuiC6z_AKpw/edit#heading=h.rjj2v2m92fqa">exemption</a>),
            please visit the Member Office in our shop.
            There, an account will be set up for you on Tapir, our online shift management system, 
            and you will be guided through the steps to select your shift and working group.
        </p>
        <p>
            For general questions about your membership, please contact the Member Office by email <a href="mailto:mitglied@supercoop.de">(mitglied@supercoop.de)</a>
            or visit <a href="https://www.google.com/maps/place/SuperCoop+Berlin/@52.553371,13.3585897,15z/data=!4m5!3m4!1s0x0:0x72e80db955fa8d3!8m2!3d52.5533091!4d13.3586012">SuperCoop</a>.
            Feel free to drop by and meet other SuperCoopies in person! Opening hours are::
        <ul>
            <li>Wednesday - Friday from 16:30 - 19:30 Uhr</li>
            <li>Saturdays from 11.00 - 14.00 Uhr</li>
        </ul>
        </p>
        <p>
            How do you find SuperCoop?
        </p>
        <p>
            You can find our shop at Oudenarder Straße 16, 13347 Berlin, on the corner of Seestraße. 
            There is also a back entrance to the shop, which you can reach via the former Osramhöfe. This entrance is also barrier-free.
        </p>
        <p>
            Cooperative Greetings,<br />
            The Member Office
        </p>
    {% endblocktranslate %}
{% endblock body %}
