{% extends "base.html" %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="card m-2">
        <h5 class="card-header">
            <span>{% trans "About Tapir" %}</span>
        </h5>
        <div class="card-body">
            <p>Tapir has been made with love by Supercoop Berlin members.</p>
            <p>The source code and list of contributors is available on GitHub : <a
                    href="https://github.com/SuperCoopBerlin/tapir">https://github.com/SuperCoopBerlin/tapir</a></p>
            <p>We're always very happy to hear your feedback, suggestions, ideas... You can write us in the <a
                    href="https://supercoopberlin.slack.com/archives/C01SYB5QSTB">#tapir</a> channel of the Supercoop
                Slack.</p>
        </div>
    </div>
    <div class="card m-2">
        <h5 class="card-header">
            <span>{% trans "Latest changes" %}</span>
        </h5>
        <div class="card-body">
            <ul>
                <li>09.10.21
                    <ul>
                        <li>When a member misses a shift, they get an automated email informing them that they should contact the member office and do 2 make-up shifts.</li>
                        <li>When a member looks for a stand-in for their shift and another member takes over, the member that was looking for a stand-in gets an automated email.</li>
                    </ul>
                </li>
                <li>26.09.21
                    <ul>
                        <li>Added the "Excused" option for shift attendance.</li>
                    </ul>
                </li>
                <li>19.09.21
                    <ul>
                        <li>The shift overview and ABCD shift overview page now load faster.</li>
                        <li>Added filters to the shift overview pages.</li>
                    </ul>
                </li>
                <li>17.09.21
                    <ul>
                        <li>Added an info symbol on all elements that show a tooltip on hover.</li>
                        <li>Added a new filter to the member list page to filter by ABCD week the user is registered to.</li>
                        <li>Added a page with the list of all changes to a user's shift account. On that page is also a button to change that shift account manually.</li>
                    </ul>
                </li>
                <li>16.09.21
                    <ul>
                        <li>Added the stand-in system. Slightly updated the shift page design.
                        </li>
                    </ul>
                </li>
                <li>14.09.21
                    <ul>
                        <li>Added a button for each day in the "upcoming shifts" page that gives a printable version of
                            all shifts in that day.
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}