{% extends "core/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% block title %}
    {% translate "About Tapir" %}
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="card mb-2">
            <h5 class="card-header">
                <span>{% translate "About Tapir" %}</span>
            </h5>
            <div class="card-body">
                <p>Tapir has been made with love by SuperCoop Berlin members.</p>
                {% if tapir_version %}
                    <p>
                        You’re running version <a href="https://github.com/SuperCoopBerlin/tapir/releases/tag/{{ tapir_version }}">{{ tapir_version }}</a>.
                    </p>
                {% endif %}
                <p>
                    The source code and list of contributors is available on GitHub : <a href="https://github.com/SuperCoopBerlin/tapir">https://github.com/SuperCoopBerlin/tapir</a>
                </p>
                <p>
                    We're always very happy to hear your feedback, suggestions, ideas... You can write us in the <a href="https://supercoopberlin.slack.com/archives/C01SYB5QSTB">#tapir</a> channel of the SuperCoop
                    Slack.
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
