{% load i18n %}
<a class="nav-link"
   href="https://wiki.supercoop.de/wiki/Community_Challenge:_Holt_ein_weiteres_aktives_Mitglied_an_Bord!">
    {% blocktranslate trimmed asvar tooltip %}
        Grey : {{ member_count_on_start_date }} active members on 15.11.2022 <br/>
        Blue : {{ new_member_count_since_start_date }} new members since 15.11.2022 <br/>
        Click for more statistics
    {% endblocktranslate %}
    <span data-bs-toggle="tooltip" data-bs-html="true" title="{{ tooltip }}">
        <span class="d-flex flex-column align-items-center gap-1">
            <span class="text-light">{% translate "Active Members with a Tapir Account" %}</span>
            <span class="d-flex flex-row align-items-center">
                <span class="progress" style="width: 250px; height:30px;">
                    <span class="progress-bar bg-secondary"
                          role="progressbar"
                          style="width: {{ progress_on_start_date }}%">
                        <span>{{ member_count_on_start_date }}</span>
                    </span>
                    <span class="progress-bar"
                          role="progressbar"
                          style="width: {{ progress_since_start_date }}%">
                        <span>{{ new_member_count_since_start_date }}</span>
                    </span>
                </span>
            </span>
        </span>
        <span class="text-light" style="margin-top: 24px;">{{ target_member_count }}&nbsp;🎉<span class="material-icons"></span></span>
    </span>
</a>
