{% extends "core/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load coop %}
{% load static %}
{% load core %}
{% block title %}
    {% translate "Create Tapir account" %}: {{ form.instance.get_display_name }}
{% endblock title %}
{% block head %}
    {{ block.super }}
    <script src="{% static 'coop/js/draftuser_form.js' %}"></script>
{% endblock head %}
{% block content %}
    <div class="container">
        <div class="card mb-2" id="share_owner_to_tapir_user_card">
            <h5 class="card-header">
                <span>{% translate "Create Tapir account" %}</span>
            </h5>
            <div class="card-body">
                <form role="form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="{% tapir_button_action %}">
                            <span class="material-icons">person_add</span>
                            {% translate 'Create account' %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
