{% extends "base.html" %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "coop:draftuser_list" %}">{% trans "Applicants" %}</a>
            </li>
            <li class="breadcrumb-item">
                {{ object.get_display_name }}
            </li>
        </ol>
    </nav>

    <div class="container">
        <div class="card m-2">
            <div class="card-body" id="draft_user_detail_card">
                <div class="row m-1">
                    <div class="col-3 font-weight-bold text-right">{% trans "Name" %}:</div>
                    <div class="col-9" id="draft_user_display_name">{{ object.get_display_name }}</div>
                </div>
                <div class="row m-1">
                    <div class="col-3 font-weight-bold text-right">{% trans "Username" %}:</div>
                    <div class="col-9" id="draft_user_username">{{ object.username }}</div>
                </div>
                <div class="row m-1">
                    <div class="col-3 font-weight-bold text-right">{% trans "Email" %}:</div>
                    <div class="col-9" id="draft_user_email">{{ object.email }}</div>
                </div>
                <div class="row m-1">
                    <div class="col-3 font-weight-bold text-right">{% trans "Birthdate" %}:</div>
                    <div class="col-9" id="draft_user_birthdate">
                        {% if object.birthdate %}
                            {{ object.birthdate|date:"d.m.Y" }}
                        {% else %}
                            <span class="text-danger">Missing</span>
                        {% endif %}</div>
                </div>
                <div class="row m-1">
                    <div class="col-3 font-weight-bold text-right">{% trans "Address" %}:</div>
                    <div class="col-9" id="draft_user_address">
                        {% if object.street and object.city %}
                            {{ object.get_display_address }}
                        {% else %}
                            <span class="text-danger">{% trans "Missing" %}</span>
                        {% endif %}
                    </div>
                </div>

                <div class="row m-1">
                    <div class="col-3 font-weight-bold text-right">{% trans "Member Type" %}:</div>
                    <div class="col-9">
                        {% if object.is_investing %}
                            <span style="color: blue;">{% trans "Investing" %}</span>
                        {% else %}
                            <span style="color: green;">{% trans "Active" %}</span>
                        {% endif %}
                        {% if object.from_startnext %}(from Startnext){% endif %}
                    </div>
                </div>

                {% if object.ratenzahlung %}
                    <div class="row m-1">
                        <div class="col-3 font-weight-bold text-right">{% trans "Ratenzahlung" %}:</div>
                        <div class="col-9" id="share_owner_email">Yes</div>
                    </div>
                {% endif %}

                <div class="row m-1">
                    <div class="col-3 font-weight-bold text-right">{% trans "Shares requested" %}</div>
                    <div class="col-4" id="draft_user_num_shares">{{ object.num_shares }}</div>
                </div>
                <div class="row m-1">
                    <div class="col-3 font-weight-bold text-right">{% trans "Welcome Session" %}:</div>
                    <div class="col-4">
                        {% if object.attended_welcome_session %}
                            <span class="text-success">Attended</span>
                        {% else %}
                            <span class="text-warning">Pending</span>
                            <form style="display: inline;"
                                  method="post"
                                  action="{% url "coop:mark_draftuser_attended_welcome_session" object.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success ml-3">
                                    <span class="material-icons" style="font-size: 14px;">check</span> Mark Attended
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-3 font-weight-bold text-right">{% trans "Beteiligungserklärung" %}:</div>
                    <div class="col-9">

                        {% if object.signed_membership_agreement %}
                            <span class="text-success">Signed</span>
                        {% else %}
                            <span class="text-warning">Pending</span>
                        {% endif %}
                        <a href="{% url "coop:draftuser_membership_agreement" object.pk %}">
                            <button class="btn btn-outline-secondary ml-3">
                                <span class="material-icons" style="font-size: 20px; vertical-align: top;">file_present</span>
                                Beteiligungserklärung
                            </button>
                        </a>
                        {% if not object.signed_membership_agreement %}
                        <form style="display: inline;"
                              method="post"
                              action="{% url "coop:mark_draftuser_signed_membership_agreement" object.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success ml-3">
                                <span id="button_marker_membership_agreement_signed"  class="material-icons" style="font-size: 14px;">check</span> Mark Signed
                            </button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-3 font-weight-bold text-right">{% trans "Payment" %}:</div>
                    <div class="col-9" id="draft_user_payment">
                        {{ object.get_initial_amount }}€
                        <span class="ml-1">
                        {% if object.paid_membership_fee %}
                            <span class="text-success">{% trans "Paid" %}</span>
                        {% else %}
                            <span class="text-warning">{% trans "Open" %}</span>

                            <form style="display: inline;"
                                  method="post"
                                  action="{% url "coop:register_draftuser_payment" object.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success ml-3">
                                    <span class="material-icons" style="font-size: 14px;">payment</span>
                                    {% trans "Register Payment" %}
                                </button>
                            </form>
                        {% endif %}
                        </span>
                    </div>
                </div>
                <div class="row m-1 mt-5 flex-row">
                    <div style="flex-grow: 1;"></div>
                    <a href="{% url "coop:draftuser_update" object.pk %}">
                        <button class="btn btn-outline-secondary ml-3">
                            {% trans "Edit" %}
                        </button>
                    </a>
                    <form class="form-inline ml-3" method="POST" action="{% url "coop:draftuser_delete" object.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>

                    {% if object.can_create_user %}
                        <form
                                method="post"
                                action="{% url "coop:draftuser_create_share_owner" object.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="align-self-right btn btn-primary ml-3" id="button_create_share_owner">
                                {%  trans "Create Member" %}
                            </button>
                        </form>
                        {% comment %}
                        <form
                                method="post"
                                action="{% url "coop:draftuser_create_user" object.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="align-self-right btn btn-primary ml-3">
                                Create User
                            </button>
                        </form>
                        {% endcomment %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}