{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <div class="card m-2">
        <h5 class="card-header d-flex justify-content-between align-items-center">
            {% translate "Applicants" %}
            <span class="align-self-right">
                <a class="btn tapir-btn btn-outline-primary" href="{% url "coop:draftuser_create" %}">
                    <span class="material-icons">person_add</span>
                    Create
                </a>
            </span>
        </h5>
        <div class="card-body">

            <table class="table table-striped" id="applicants_table" aria-label="{% translate 'List of applicants' %}">
                <thead>
                <th>{% translate "First name" %}</th>
                <th>{% translate "Last name" %}</th>
                <th>{% translate "Email" %}</th>
                <th>{% translate "Beteiligungserklärung" %}</th>
                <th>{% translate "Entrance Fee" %}</th>
                <th></th>
                </thead>
                {% for u in object_list %}
                    <tr>
                        <td class="align-middle">{{ u.first_name }}</td>
                        <td class="align-middle">{{ u.last_name }}</td>
                        <td class="align-middle">{{ u.email }}</td>
                        <td class="align-middle">
                            {% if u.signed_membership_agreement %}
                                <span class="text-success">{% translate "Signed" %}</span>
                            {% endif %}
                        </td>
                        <td class="align-middle">
                            {% if u.paid_membership_fee %}
                                <span class="text-success">{% translate "Paid" %}</span>
                            {% endif %}
                        </td>
                        <td class="align-middle">
                            <a class="btn tapir-btn btn-outline-primary" href="{% url "coop:draftuser_detail" u.pk %}">
                                <span class="material-icons">visibility</span>
                                Show
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}