{% extends "core/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% load core %}
{% block content %}
    {% if request.user.is_authenticated %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'coop:draftuser_list' %}">{% translate "Applicants" %}</a>
                </li>
                {% if form.instance.pk %}
                    <li class="breadcrumb-item">
                        <a href="{{ form.instance.user.get_absolute_url }}">{{ form.instance.user.get_full_name }}</a>
                    </li>
                {% else %}
                    <li class="breadcrumb-item">Create</li>
                {% endif %}
            </ol>
        </nav>
    {% endif %}
    <div class="container">
        <div class="card mb-2">
            <h5 class="card-header d-flex justify-content-between align-items-center">
                {% if request.user.is_authenticated %}
                    {% translate "Create applicant" %}
                {% else %}
                    {% translate "Register" %}
                {% endif %}
            </h5>
            <div class="card-body">
                <p>Welcome to SuperCoop Berlin!</p>
                <p>By filling this form, you're registering as a potential member of SuperCoop. That's a great idea!</p>
                <p>Once it's done we'll then help you fill and send the documents to make the registration official.</p>
                <p>
                    If you want more information, you can visit the <a href="https://supercoop.de/">website</a>, the <a href="https://wiki.supercoop.de/wiki/Main_Page">wiki</a>, or <a href="mailto: contact@supercoop.de">write us an email</a>.
                </p>
                <form role="form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="{% tapir_button_action %}">
                            <span class="material-icons">save</span>
                            {% translate 'Save' %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
