{% extends "core/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load django_tables2 %}
{% load i18n %}
{% load core %}
{% load utils %}
{% block title %}
    {% translate "Applicants" %}
{% endblock title %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'coop/css/coop.css' %}">
{% endblock head %}
{% block content %}
    <div class="card mb-2">
        <div class="card-header d-flex flex-wrap justify-content-between align-items-center">
            <h5>{% translate "Applicants" %}</h5>
            <div class="btn-group">
                <button type="button"
                        class="{% tapir_button_link %} btn dropdown-toggle m-1"
                        data-bs-toggle="dropdown">{% translate "Export" %}</button>
                <div class="dropdown-menu dropdown-menu-right">
                    {% for format in view.export_formats %}
                        <a class="dropdown-item" href="{% export_url format %}">
                            download <code>.{{ format }}</code>
                        </a>
                    {% endfor %}
                </div>
                <a class="{% tapir_button_link_to_action %} m-1"
                   href="{% url 'coop:draftuser_create' %}">
                    <span class="material-icons">person_add</span>
                    Create
                </a>
                <div class="m-1">
                    <button class="{% tapir_button_link_to_action %}"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseFilter"
                            aria-expanded="false"
                            aria-controls="collapseFilter">
                        {% translate "Filters" %}
                        <span class="material-icons">unfold_more</span>
                    </button>
                </div>
            </div>
        </div>
        {% if filter %}
            <div class="collapse" id="collapseFilter">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <form action="" method="get" class="form member-filter-form">
                            <div class="member-filter-form-filters">{% bootstrap_form filter.form %}</div>
                            <div class="member-filter-form-buttons">
                                <button class=" {% tapir_button_link %}">
                                    <span class="material-icons">filter_alt</span>{% translate 'Filter' %}
                                </button>
                                <a class="{% tapir_button_link %}"
                                   href="{% url 'coop:draftuser_list' %}">
                                    <span class="material-icons">clear</span>
                                    {% translate "Clear all filters" %}
                                </a>
                                <div class="ms-2">
                                    {% blocktranslate with filtered=filtered_draftuser_count total=total_draftuser_count %}
                                            Filtered {{ filtered }} of {{ total }}
                                        {% endblocktranslate %}
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        {% endif %}
        <ul>
            <li class="list-group-item">{% render_table table %}</li>
        </ul>
    </div>
{% endblock content %}
