{% extends "core/base.html" %}

{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}

{% block title %}
    {% if form.instance.pk %}
        {% translate "Edit applicant" %}: {{ form.instance.get_display_name }}
    {% else %}
        {% translate 'Create applicant' %}
    {% endif %}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="card mb-2">
            <h5 class="card-header">
                {% if form.instance.pk %}
                    {% translate 'Edit applicant' %}:
                    <a href="{{ form.instance.get_absolute_url }}">{{ form.instance.get_display_name }}</a>
                {% else %}
                    {% translate 'Create applicant' %}
                {% endif %}
            </h5>
            <div class="card-body">
                <form role="form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn tapir-btn btn-primary">
                            <span class="material-icons">person_add</span>
                            {% translate 'Save' %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}