{% extends "core/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load accounts %}
{% load core %}
{% block title %}
    {% translate "Applicant" %}: {{ object.get_display_name }}
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="card mb-2">
            <h5 class="card-header">{% translate "Applicant" %}: {{ object.get_display_name }}</h5>
            <div class="card-body" id="draft_user_detail_card">
                <div class="row m-1">
                    <div class="col-3 fw-bold text-end">{% translate "Name" %}:</div>
                    <div class="col-9" id="draft_user_display_name">{{ object.get_display_name }}</div>
                </div>
                <div class="row m-1">
                    <div class="col-3 fw-bold text-end">{% translate "Username" %}:</div>
                    <div class="col-9" id="draft_user_username">{{ object.username }}</div>
                </div>
                <div class="row m-1">
                    <div class="col-3 fw-bold text-end">{% translate "Email" %}:</div>
                    <div class="col-9" id="draft_user_email">{{ object.email }}</div>
                </div>
                <div class="row m-1">
                    <div class="col-3 fw-bold text-end">{% translate "Phone number" %}:</div>
                    <div class="col-9" id="draft_user_phone_number">{{ object.phone_number|format_phone_number }}</div>
                </div>
                <div class="row m-1">
                    <div class="col-3 fw-bold text-end">{% translate "Birthdate" %}:</div>
                    <div class="col-9" id="draft_user_birthdate">
                        {% if object.birthdate %}
                            {{ object.birthdate|date:"d.m.Y" }}
                        {% else %}
                            <span class="text-danger">Missing</span>
                        {% endif %}
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-3 fw-bold text-end">{% translate "Address" %}:</div>
                    <div class="col-9" id="draft_user_address">
                        {% if object.street and object.city %}
                            {{ object.get_display_address }}
                        {% else %}
                            <span class="text-danger">{% translate "Missing" %}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-3 fw-bold text-end">{% translate "Member Type" %}:</div>
                    <div class="col-9" id="draft_user_member_type">
                        {% if object.is_investing %}
                            <span style="color: blue;">{% translate "Investing" %}</span>
                        {% else %}
                            <span style="color: green;">{% translate "Active" %}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-3 fw-bold text-end">{% translate "Ratenzahlung" %}:</div>
                    <div class="col-9" id="draft_user_ratenzahlung">
                        {% if object.ratenzahlung %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-3 fw-bold text-end">{% translate "Shares requested" %}</div>
                    <div class="col-4" id="draft_user_num_shares">{{ object.num_shares }}</div>
                </div>
                <div class="row m-1">
                    <div class="col-3 fw-bold text-end">{% translate "Welcome Session" %}:</div>
                    <div class="col-4">
                        {% if object.attended_welcome_session %}
                            <span class="text-success">Attended</span>
                        {% else %}
                            <span class="text-warning">Pending</span>
                            <form style="display: inline"
                                  method="post"
                                  action="{% url 'coop:mark_draftuser_attended_welcome_session' object.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="{% tapir_button_action %} ms-3">
                                    <span class="material-icons">check</span>Mark Attended
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-3 fw-bold text-end">{% translate "Beteiligungserklärung" %}:</div>
                    <div class="col-9">
                        {% if object.signed_membership_agreement %}
                            <span class="text-success">Signed</span>
                        {% else %}
                            <span class="text-warning">Pending</span>
                        {% endif %}
                        <a class="{% tapir_button_link %} ms-3"
                           href="{% url 'coop:draftuser_membership_agreement' object.pk %}">
                            <span class="material-icons">file_present</span>
                            Beteiligungserklärung
                        </a>
                        {% if not object.signed_membership_agreement %}
                            <form style="display: inline"
                                  method="post"
                                  action="{% url 'coop:mark_draftuser_signed_membership_agreement' object.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="{% tapir_button_action %} ms-3">
                                    <span class="material-icons">check</span>
                                    Mark Signed
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-3 fw-bold text-end">
                        {% translate "Paid Entrance Fee" %}:
                    </div>
                    <div class="col-9" id="draft_user_paid_membership_fee">
                        {{ object.paid_membership_fee|yesno:_("Yes,No") }}
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-3 fw-bold text-end">
                        {% translate "Paid Shares" %}:
                    </div>
                    <div class="col-9" id="draft_user_paid_shares">
                        {{ object.paid_shares|yesno:_("Yes,No") }}
                    </div>
                </div>
                <div class="d-flex m-1 mt-5">
                    <div class="d-flex flex-row justify-content-end gap-2">
                        <a class="{% tapir_button_link_to_action %} ms-3"
                           href="{% url 'coop:draftuser_update' object.pk %}">
                            <span class="material-icons">edit</span>
                            {% translate "Edit" %}
                        </a>
                        <form class="form-inline ms-3"
                              method="post"
                              action="{% url 'coop:draftuser_delete' object.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="{% tapir_button_custom 'danger' %}">
                                <span class="material-icons">delete</span>Delete
                            </button>
                        </form>
                        {% if object.can_create_user %}
                            <form method="post"
                                  action="{% url 'coop:draftuser_create_share_owner' object.pk %}">
                                {% csrf_token %}
                                <button type="submit"
                                        class="align-self-right {% tapir_button_action %} ms-3"
                                        id="button_create_share_owner">
                                    <span class="material-icons">person_add</span>
                                    {% translate "Create Member" %}
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
