{% extends "core/base.html" %}
{% load i18n %}
{% load core %}
{% block title %}
    {% translate "Applicants" %}
{% endblock title %}
{% block content %}
    <div class="card mb-2">
        <h5 class="card-header d-flex justify-content-between align-items-center">
            {% translate "Applicants" %}
            <span class="align-self-right">
                <a class="{% tapir_button_link_to_action %}"
                   href="{% url 'coop:draftuser_create' %}">
                    <span class="material-icons">person_add</span>
                    Create
                </a>
            </span>
        </h5>
        <div class="card-body">
            <div class="table-responsive">
                <table class="{% tapir_table_classes %}"
                       id="applicants_table"
                       aria-label="{% translate 'List of applicants' %}">
                    <thead>
                        <th>{% translate "First name" %}</th>
                        <th>{% translate "Last name" %}</th>
                        <th>{% translate "Email" %}</th>
                        <th>{% translate "Beteiligungserklärung" %}</th>
                        <th>{% translate "Entrance Fee" %}</th>
                        <th>{% translate "Date" %}</th>
                        <th></th>
                    </thead>
                    {% for draft_user in object_list %}
                        <tr>
                            <td class="align-middle">{{ draft_user.first_name }}</td>
                            <td class="align-middle">{{ draft_user.last_name }}</td>
                            <td class="align-middle">{{ draft_user.email }}</td>
                            <td class="align-middle">
                                {% if draft_user.signed_membership_agreement %}
                                    <span class="text-success">{% translate "Signed" %}</span>
                                {% endif %}
                            </td>
                            <td class="align-middle">
                                {% if draft_user.paid_membership_fee %}
                                    <span class="text-success">{% translate "Paid" %}</span>
                                {% endif %}
                            </td>
                            <td class="align-middle">{{ draft_user.created_at|date:"d.m.Y" }}</td>
                            <td class="align-middle">
                                <a class="{% tapir_button_link %}"
                                   href="{% url 'coop:draftuser_detail' draft_user.pk %}">
                                    <span class="material-icons">visibility</span>
                                    Show
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
