{% extends "base.html" %}

{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="card m-2">
            <h5 class="card-header">
                <span>{% trans "Edit financing campaign" %}</span>
            </h5>
            <div class="card-body">
                <form role="form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn tapir-btn btn-primary">
                            <span class="material-icons">person_add</span>
                            {% trans 'Save' %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}