{% extends "core/base.html" %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% load querystring from django_tables2 %}
{% load export_url from django_tables2 %}
{% load core %}
{% block title %}
    {% translate "Members" %}
{% endblock title %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'coop/css/coop.css' %}" />
{% endblock head %}
{% block content %}
    <div class="card mb-2">
        <div class="card-header d-flex justify-content-between">
            <h5>{% translate "Cooperative Members" %}</h5>
            <div class="btn-group">
                <button type="button"
                        class="{% tapir_button_link %} btn-sm dropdown-toggle"
                        data-bs-toggle="dropdown">
                    {% translate "Export" %}
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    {% for format in view.export_formats %}
                        <a class="dropdown-item" href="{% export_url format %}">
                            download <code>.{{ format }}</code>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <ul class="list-group list-group-flush" id="share_owner_table">
            {% if filter %}
                <li class="list-group-item">
                    <form action="" method="get" class="form member-filter-form">
                        <div class="member-filter-form-filters">{% bootstrap_form filter.form %}</div>
                        <div class="member-filter-form-buttons">
                            <button class="filter-button {% tapir_button_link %}">
                                <span class="material-icons">filter_alt</span>{% translate 'Filter' %}
                            </button>
                            <a class="{% tapir_button_link %}"
                               href="{% url 'coop:shareowner_list' %}">
                                <span class="material-icons">clear</span>
                                {% translate "Clear all filters" %}
                            </a>
                            <div class="ms-2">
                                {% blocktranslate trimmed %}
                                    Filtered {{ filtered_member_count }} of {{ total_member_count }}
                                {% endblocktranslate %}
                            </div>
                        </div>
                    </form>
                </li>
            {% endif %}
            <li class="list-group-item">{% render_table table %}</li>
        </ul>
    </div>
{% endblock content %}
