{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <div class="card m-2">
        <h5 class="card-header d-flex justify-content-between align-items-center">{% trans "Cooperative Members" %}</h5>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Member Since" %}</th>
                <th>{% trans "State" %}</th>
                </thead>
                {% for owner in object_list %}
                    <tr>
                        <td class="align-middle">
                            <a href="{{ owner.get_absolute_url }}">{{ owner.get_display_name }}</a></td>
                        <td class="align-middle">{{ owner.get_oldest_active_share_ownership.start_date }}</td>
                        <td class="align-middle">
                            {% if owner.get_oldest_active_share_ownership.is_active and not owner.is_investing %}
                                <span style="color: green;">{% trans "Active" %}</span>
                            {% elif owner.get_oldest_active_share_ownership.is_active and owner.is_investing %}
                                <span style="color: blue;">{% trans "Investing" %}</span>
                            {% else %}
                                <span style="color: orange;">{% trans "Sold" %}</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}