{% extends "core/base.html" %}
{% load utils %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load core %}
{% block title %}
    {% translate "Confirm delete" %} {{ object }}
{% endblock title %}
{% block content %}
    <div class="container">
        <h1>{{ page_title }}</h1>
        <div class="alert alert-warning">
            <p>Are you sure you want to delete this member?</p>
            <p>
                <strong>Name:</strong> {{ card_title }}
            </p>
        </div>
        <form method="post">
            {% csrf_token %}
            <button type="submit"  class="{% tapir_button_custom 'danger' %}">
                <span class="material-icons">delete</span>
                {% translate 'Delete' %}
            </button>
            <a href="{% url 'coop:shareowner_list' %}"
               class="{% tapir_button_custom 'secondary' %}">{% translate 'Cancel' %}</a>
        </form>
    </div>
{% endblock content %}
