{% extends "base.html" %}

{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load i18n %}
{% load static %}
{% load querystring from django_tables2 %}
{% load export_url from django_tables2 %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "coop/css/coop.css" %}">
{% endblock %}

{% block content %}

    <div class="card m-2">
        <div class="card-header d-flex justify-content-between">
            <h5>{% trans "Cooperative Members" %}</h5>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown">
                    Export current table
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    {% for format in view.export_formats %}
                        <a class="dropdown-item" href="{% export_url format %}">
                            download  <code>.{{ format }}</code>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card-body" id="share_owner_table">
            {% if filter %}
                <form action="" method="get" class="form member-filter-form">
                    {% bootstrap_form filter.form bound_css_class='' %}
                    <div class="member-filter-form-buttons">
                        {% bootstrap_button 'Filter' button_class="filter-button btn btn-primary"%}
                        <a href="{% url "coop:shareowner_list" %}">
                            <button type="button" class="btn btn-outline-secondary">
                                Clear all filters
                            </button>
                        </a>
                        <div>{% trans "Number of filtered members : " %}{{ current_member_count }}/{{ total_member_count }}</div>
                    </div>
                </form>
            {% endif %}
            {% render_table table %}
        </div>
    </div>
{% endblock %}