{% extends "core/base.html" %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}
    {% translate "Edit share" %}: {{ form.instance.share_owner.get_info.get_display_name }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card m-2">
            <h5 class="card-header">
                {% translate "Edit share" %}:
                <a href="{{ form.instance.share_owner.get_info.get_absolute_url }}">
                    {{ form.instance.share_owner.get_info.get_display_name }}
                </a>
            </h5>
            <div class="card-body">
                <form role="form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn tapir-btn btn-primary">
                            <span class="material-icons">save</span>
                            {% translate 'Save' %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}