{% extends "core/base.html" %}
{% load utils %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load core %}
{% block title %}
    {% translate "Confirm Delete" %}: {% get_display_name_for_viewer object request.user %}
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="card mb-2" id="share_owner_confirm_delete_card">
            <h5 class="card-header">
                <span>{% translate "Confirm Delete" %}: {% get_display_name_for_viewer object request.user %}</span>
            </h5>
            <div class="card-body">
                <div class="alert alert-warning">{% translate "Are you sure you want to delete this member?" %}</div>
                <p>
                    {% translate "Please note that deleting this member will permanently remove their account and all associated data such as owned shares and payments. The deleted user will no longer be part of the cooperative. However, all shift records and logs will remain intact." %}
                </p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="{% tapir_button_custom 'danger' %}">
                        <span class="material-icons">delete</span>
                        {% translate 'Delete' %}
                    </button>
                    <a href="{% url 'coop:shareowner_list' %}"
                       class="{% tapir_button_custom 'secondary' %}">{% translate 'Cancel' %}</a>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
