{% extends "core/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load coop %}
{% load log %}
{% load accounts %}
{% load core %}
{% block title %}
    {% translate "Member" %}: {{ object.get_info.get_display_name }}
{% endblock title %}
{% block content %}
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-2" id="share_owner_detail_card">
                <h5 class="card-header d-flex justify-content-between align-items-center">
                    {% translate "Personal Data" %}
                    {% if object.user is not None %}
                        <a class="{% tapir_button_link %}"
                           href="{% url 'accounts:user_detail' object.user.pk %}">
                            <span class="material-icons">account_circle</span>
                            {% translate "Go to user page" %}
                        </a>
                    {% elif not object.is_company %}
                        <span>
                            <a class="{% tapir_button_link_to_action %}"
                               href="{% url 'coop:shareowner_update' object.pk %}"
                               id="edit_share_owner_button">
                                <span class="material-icons">edit</span>
                                {% translate "Edit" %}
                            </a>
                            <a class="{% tapir_button_link_to_action %}"
                               href="{% url 'coop:create_user_from_shareowner' object.pk %}"
                               id="create_tapir_user_button">
                                <span class="material-icons">person_add</span>
                                {% translate "Create Tapir account" %}
                            </a>
                        </span>
                    {% endif %}
                </h5>
                <div class="card-body">
                    <div class="row m-1">
                        <div class="col-4 fw-bold text-end">{% translate "Name" %}:</div>
                        <div class="col-8" id="share_owner_display_name">{{ object.get_info.get_display_name }}</div>
                    </div>
                    <div class="row m-1">
                        <div class="col-4 fw-bold text-end">{% translate "Email" %}:</div>
                        <div class="col-8" id="share_owner_email">{{ object.get_info.email }}</div>
                    </div>
                    <div class="row m-1">
                        <div class="col-4 fw-bold text-end">{% translate "Phone number" %}:</div>
                        <div class="col-8" id="share_owner_phone_number">{{ object.get_info.phone_number|format_phone_number }}</div>
                    </div>
                    <div class="row m-1">
                        <div class="col-4 fw-bold text-end">{% translate "Birthdate" %}:</div>
                        <div class="col-8" id="share_owner_birthdate">
                            {% if object.get_info.birthdate %}
                                {{ object.get_info.birthdate|date:"d.m.Y" }}
                            {% else %}
                                <span class="text-danger">{% translate "Missing" %}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-4 fw-bold text-end">{% translate "Address" %}:</div>
                        <div class="col-8" id="share_owner_address">
                            {% if object.street and object.city %}
                                {{ object.get_display_address }}
                            {% else %}
                                <span class="text-danger">{% translate "Missing" %}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-4 fw-bold text-end">{% translate "Preferred Language" %}:</div>
                        <div class="col-8" id="share_owner_email">{{ object.get_info.get_preferred_language_display }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">{% share_owner_ownership_list object %}</div>
        <div class="col-xl">{% log_entry_list share_owner=object %}</div>
    </div>
{% endblock content %}
