{% extends "core/base.html" %}

{% load django_bootstrap5 %}
{% load i18n %}
{% load coop %}

{% block head %}
    <style>
        .statistics-toggle-card {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <script>
        function show_card(card_id) {
            for (let other_card of document.getElementsByClassName("statistics-toggle-card")) {
                other_card.style.display = null;
            }
            document.getElementById(card_id).style.display = "flex";
        }
    </script>
    <div class="container">
        <div class="card m-2">
            <h5 class="card-header">
                <span>{% translate "Statistics on members" %}</span>
            </h5>
            <div class="card-body">
                <ul>
                    <li>There are currently {{ members_count }} members in total.
                        <ul>
                            <li>{{ active_members_count }} active members.</li>
                            <li>{{ investing_members_count }} investing members.</li>
                        </ul>
                    </li>
                    <li>Out of {{ active_members_count }} active members, {{ active_users_count }} members have a Tapir
                        account. {{ members_missing_accounts_count }} users are missing an account.
                    </li>
                    <li>{{ applicants_count }} applicants are waiting to become members.</li>
                </ul>
            </div>
        </div>

        <div class="card m-2">
            <h5 class="card-header">
                <span>{% translate "Statistics on shares" %}</span>
            </h5>
            <div class="card-body">
                <ul>
                    <li>There are currently
                        <a href="#" onclick="show_card('shares_card')">{{ shares.nb_share_ownerships_now }} shares</a>.
                        <ul>
                            <li>This means on average {{ shares.average_shares_per_month }} new shares per month since
                                the {{ shares.start_date|date:"d.m.Y" }}</li>
                        </ul>
                    </li>
                    <li>Extra shares since the {{ extra_shares.threshold_date|date:"d.m.Y" }} :
                        <ul>
                            <li>
                                An extra share is any share that is bought beyond the first compulsory share,
                                independently of whether the person became a member before or after
                                the {{ extra_shares.threshold_date|date:"d.m.Y" }}.
                            </li>
                            <li>
                                Since the {{ extra_shares.threshold_date|date:"d.m.Y" }},
                                {% if perms.coop.view %}
                                    <a href="#" onclick="show_card('extra_share_owners')">
                                        {{ extra_shares.share_count }} extra shares
                                    </a>
                                {% else %}
                                    {{ extra_shares.share_count }} extra shares
                                {% endif %}
                                have been bought.
                            </li>
                            <li>
                                These extra shares have been bought by {{ extra_shares.members|length }} members,
                                which is {{ extra_shares.average_extra_shares }} average extra share per member.
                            </li>
                            <li>
                                For those extra shares, {{ extra_shares.total_amount_paid }}€ have been paid out of the
                                total cost of {{ extra_shares.total_cost }}€, or {{ extra_shares.paid_percentage }}.
                            </li>
                        </ul>

                    </li>
                </ul>
            </div>
        </div>

        <div class="card m-2 statistics-toggle-card" id="shares_card">
            <h5 class="card-header">
                <span>{% translate "Monthly evolution of the number of shares" %}</span>
            </h5>
            <div class="card-body">
                <ul>
                    <li>{% now "d.m.Y" %}: {{ shares.nb_share_ownerships_now }} </li>
                    {% for date, number in shares.nb_shares_by_month.items %}
                        <li>{{ date|date:"d.m.Y" }}: {{ number }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {% if perms.coop.view %}
            <div class="card m-2 statistics-toggle-card" id="extra_share_owners">
                <h5 class="card-header">
                    <span>{% translate "Members who bought extra shares" %}</span>
                </h5>
                <div class="card-body">
                    <ul>
                        {% for owner in extra_shares.members %}
                            <li>
                                <a href="{{ owner.get_info.get_absolute_url }}">{{ owner.get_info.get_display_name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}