{% extends "base.html" %}

{% load django_bootstrap5 %}
{% load i18n %}
{% load coop %}

{% block head %}
    <style>
        .statistics-toggle-card {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <script>
        function show_card(card_id) {
            for (let other_card of document.getElementsByClassName("statistics-toggle-card")) {
                other_card.style.display = null;
            }
            document.getElementById(card_id).style.display = "flex";
        }
    </script>
    <div class="container">
        <div class="card m-2">
            <h5 class="card-header">
                <span>{% trans "Statistics" %}</span>
            </h5>
            <div class="card-body">
                <ul>
                    <li>Out of <a href="#" onclick="show_card('active_members_card')">{{ active_members|length }} active
                        members</a>, <a href="#" onclick="show_card('active_users_card')">{{ active_users|length }}
                        members</a> have a Tapir account. <a href="#"
                                                             onclick="show_card('members_missing_account_card')">{{ members_missing_accounts|length }}
                        users</a> are missing an account.
                    </li>
                    <li>Out of <a href="#" onclick="show_card('active_users_card')">{{ active_users|length }}
                        members</a> with a Tapir account, <a href="#"
                                                             onclick="show_card('members_in_abcd_system_card')">{{ members_in_abcd_system|length }}
                        members </a> are in the ABCD system and <a href="#"
                                                                   onclick="show_card('members_in_flying_system_card')">{{ members_in_flying_system|length }}
                        members</a> are in the flying system.
                    </li>
                    <li>Out of <a href="#"
                                  onclick="show_card('members_in_abcd_system_card')">{{ members_in_abcd_system|length }}
                        members </a> in the ABCD system, <a href="#"
                                                            onclick="show_card('members_in_abcd_system_without_shift_attendance_card')">{{ members_in_abcd_system_without_shift_attendance|length }}
                        members </a> are not registered to an ABCD shift.
                    </li>
                    <li><a href="#" onclick="show_card('applicants_card')">{{ applicants|length }} applicants</a> are
                        waiting to become members.
                    </li>
                    <li>Number of users by shift slot name
                        <ul>
                            {% for slot_type, users in users_by_slot_name.items %}
                                <li>{{ slot_type }} : <a href="#"
                                                         onclick="show_card('{{ slot_type }}_card')">{{ users|length }}
                                    members</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>Out of {{ abcd_shifts|length }} ABCD shifts, <a href="#"
                                                                        onclick="show_card('abcd_shifts_not_full_card')">{{ abcd_shifts_not_full|length }}</a>
                        are missing at least one member.
                    </li>
                    <li>Out of {{ slot_templates|length }} ABCD shift slots, {{ slot_templates_free|length }} are
                        free.
                    </li>
                    <li>There are currently <a href="#" onclick="show_card('shares_card')">{{ nb_share_ownerships_now }} shares</a>.</li>
                    <li>People who were already members before the {{ new_shares_by_old_members_threshold_date|date:"d.m.Y" }} have bought {{ new_shares_by_old_members }} new shares since that date.</li>
                </ul>
            </div>
        </div>

        <div class="card m-2 statistics-toggle-card" id="shares_card">
            <h5 class="card-header">
                <span>{% trans "Share stats" %}</span>
            </h5>
            <div class="card-body">
                <ul>
                    {% for date, number in nb_shares_by_month.items %}
                        <li>{{ date|date:"d.m.Y" }}: {{ number }}</li>
                    {% endfor %}
                <li>{% now "d.m.Y" %}: {{ nb_share_ownerships_now }} </li>
                </ul>
            </div>
        </div>

        <div class="card m-2 statistics-toggle-card" id="active_members_card">
            <h5 class="card-header">
                <span>{% trans "Active members" %}</span>
            </h5>
            <div class="card-body">
                <ul>
                    {% for member in active_members %}
                        <li><a href="{{ member.get_absolute_url }}">{{ member.get_info.get_display_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="card m-2 statistics-toggle-card" id="active_users_card">
            <h5 class="card-header">
                <span>{% trans "Active members with a Tapir account" %}</span>
            </h5>
            <div class="card-body">
                <ul>
                    {% for user in active_users %}
                        <li><a href="{{ user.get_absolute_url }}">{{ user.get_display_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="card m-2 statistics-toggle-card" id="members_missing_account_card">
            <h5 class="card-header">
                <span>{% trans "Active members without a Tapir account" %}</span>
            </h5>
            <div class="card-body">
                <ul>
                    {% for member in members_missing_accounts %}
                        <li><a href="{{ member.get_absolute_url }}">{{ member.get_info.get_display_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="card m-2 statistics-toggle-card" id="members_in_abcd_system_card">
            <h5 class="card-header">
                <span>{% trans "Members in the ABCD system" %}</span>
            </h5>
            <div class="card-body">
                <ul>
                    {% for member in members_in_abcd_system %}
                        <li><a href="{{ member.get_absolute_url }}">{{ member.get_display_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="card m-2 statistics-toggle-card" id="members_in_flying_system_card">
            <h5 class="card-header">
                <span>{% trans "Members in the flying system" %}</span>
            </h5>
            <div class="card-body">
                <ul>
                    {% for member in members_in_flying_system %}
                        <li><a href="{{ member.get_absolute_url }}">{{ member.get_display_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="card m-2 statistics-toggle-card" id="members_in_abcd_system_without_shift_attendance_card">
            <h5 class="card-header">
                <span>{% trans "ABCD members not registered to an ABCD shift" %}</span>
            </h5>
            <div class="card-body">
                <ul>
                    {% for member in members_in_abcd_system_without_shift_attendance %}
                        <li><a href="{{ member.get_absolute_url }}">{{ member.get_display_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="card m-2 statistics-toggle-card" id="applicants_card">
            <h5 class="card-header">
                <span>{% trans "Applicants" %}</span>
            </h5>
            <div class="card-body">
                <ul>
                    {% for applicant in applicants %}
                        <li><a href="{{ applicant.get_absolute_url }}">{{ applicant.get_display_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {% for slot_type, users in users_by_slot_type.items %}
            <div class="card m-2 statistics-toggle-card" id="{{ slot_type }}_card">
                <h5 class="card-header">
                    <span>Users registered to a {{ slot_type }} shift</span>
                </h5>
                <div class="card-body">
                    <ul>
                        {% for user in users %}
                            <li><a href="{{ user.get_absolute_url }}">{{ user.get_display_name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}

        <div class="card m-2 statistics-toggle-card" id="abcd_shifts_not_full_card">
            <h5 class="card-header">
                <span>{% trans "ABCD shift missing at least one member" %}</span>
            </h5>
            <div class="card-body">
                <ul>
                    {% for shift in abcd_shifts_not_full %}
                        <li><a href="{{ shift.get_absolute_url }}">{{ shift.get_display_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}