{% extends "core/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load coop %}
{% load static %}
{% load core %}
{% block title %}
    {% translate "Members statistics" %}
{% endblock title %}
{% block head %}
    <style>
        .statistics-toggle-card {
            display: none;
        }
    </style>
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    <script>
        function show_card(card_id) {
            for (let other_card of document.getElementsByClassName("statistics-toggle-card")) {
                other_card.style.display = null;
            }
            document.getElementById(card_id).style.display = "flex";
        }

        function stats_chart(url, canvas_id, type) {
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    const context = document.getElementById(canvas_id).getContext("2d");
                    new Chart(context, {
                        type: type,
                        data: data
                    });
                });
        }
    </script>
{% endblock head %}
{% block content %}
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-2">
                <h5 class="card-header">
                    <span>{% translate "Statistics on members" %}</span>
                </h5>
                <div class="card-body">
                    <ul>
                        <li>
                            There are currently {{ members_count }} members in total.
                            <ul>
                                <li>{{ active_members_count }} active members.</li>
                                <li>{{ investing_members_count }} investing members.</li>
                            </ul>
                        </li>
                        <li>
                            Out of {{ active_members_count }} active members, {{ active_users_count }} members have a
                            Tapir
                            account. {{ members_missing_accounts_count }} users are missing an account.
                        </li>
                        <li>{{ applicants_count }} applicants are waiting to become members.</li>
                        <li>{{ nb_members_with_purchase_tracking_enabled }} members have enabled purchase tracking.</li>
                    </ul>
                    <canvas id="member_count_evolution_canvas"></canvas>
                    <script type="text/javascript">
                        stats_chart(
                            '{% url "coop:member_count_evolution_json" %}',
                            'member_count_evolution_canvas',
                            'line',
                        )
                    </script>
                    <canvas id="member_age_distribution_canvas"></canvas>
                    <script type="text/javascript">
                        stats_chart(
                            '{% url "coop:member_age_distribution_json" %}',
                            'member_age_distribution_canvas',
                            'bar',
                        )
                    </script>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-2">
                <h5 class="card-header">
                    <span>{% translate "Statistics on shares" %}</span>
                </h5>
                <div class="card-body">
                    <ul>
                        <li>
                            There are currently
                            {{ shares.nb_share_ownerships_now }} shares.
                            <ul>
                                <li>
                                    This means on average {{ shares.average_shares_per_month }} new shares per month
                                    since
                                    the {{ shares.start_date|date:"d.m.Y" }}
                                </li>
                            </ul>
                        </li>
                        <li>
                            Extra shares since the {{ extra_shares.threshold_date|date:"d.m.Y" }} :
                            <ul>
                                <li>
                                    An extra share is any share that is bought beyond the first compulsory share,
                                    independently of whether the person became a member before or after
                                    the {{ extra_shares.threshold_date|date:"d.m.Y" }}.
                                </li>
                                <li>
                                    Since the {{ extra_shares.threshold_date|date:"d.m.Y" }},
                                    {% if perms.coop.view %}
                                        <a href="#" onclick="show_card('extra_share_owners')">{{ extra_shares.share_count }} extra shares</a>
                                    {% else %}
                                        {{ extra_shares.share_count }} extra shares
                                    {% endif %}
                                    have been bought.
                                </li>
                                <li>
                                    These extra shares have been bought by {{ extra_shares.members|length }} members,
                                    which is {{ extra_shares.average_extra_shares }} average extra share per member.
                                </li>
                                <li>
                                    For those extra shares, {{ extra_shares.total_amount_paid }}€ have been paid out of
                                    the
                                    total cost of {{ extra_shares.total_cost }}€, or {{ extra_shares.paid_percentage }}.
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <canvas id="share_count_evolution_canvas"></canvas>
                    <script type="text/javascript">
                        stats_chart(
                            '{% url "coop:share_count_evolution_json" %}',
                            'share_count_evolution_canvas',
                            'line',
                        )
                    </script>
                </div>
            </div>
        </div>
        {% if perms.coop.view %}
            <div class="card mb-2 statistics-toggle-card" id="extra_share_owners">
                <h5 class="card-header">
                    <span>{% translate "Members who bought extra shares" %}</span>
                </h5>
                <div class="card-body">
                    <ul>
                        {% for share_owner in extra_shares.members %}
                            <li>
                                <a href="{{ share_owner.get_info.get_absolute_url }}">{{ share_owner.get_info.get_display_name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-2">
                <h5 class="card-header d-flex justify-content-between align-items-center">
                    <span>{% translate "Member status updates" %}</span>
                    <a class="{% tapir_button_link %}"
                       href="{% url 'coop:member_status_updates_csv_view' %}">
                        <span class="material-icons">file_present</span>
                        {% translate "Get as CSV" %}
                    </a>
                </h5>
                <div class="card-body">
                    <canvas id="new_members_canvas"></canvas>
                    <script type="text/javascript">
                        stats_chart(
                            '{% url "coop:member_status_updates_json_view" %}',
                            'new_members_canvas',
                            'line',
                        )
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
