{% load i18n %}

<div class="card m-2" id="user_coop_info_card">
    <h5 class="card-header d-flex justify-content-between align-items-center">
        {% if owner %}
            <span>{% blocktranslate with coop_share_owner_id=owner.id %}Member #{{ coop_share_owner_id }}{% endblocktranslate %}</span>
            {% if perms.accounts.manage %}
                <span>
                    <a class="btn tapir-btn btn-outline-secondary" href="{% url "coop:shareowner_membership_confirmation" owner.pk %}">
                        <span class="material-icons">file_present</span>{% trans 'Membership confirmation' %}
                    </a>
                    <a class="btn tapir-btn btn-outline-info" href="{% url "coop:shareowner_update" owner.pk %}">
                        <span class="material-icons">edit</span>{% trans 'Edit' %}
                    </a>
                </span>
            {% endif %}
        {% endif %}
    </h5>

    <div class="card-body">
        {% if owner %}
            <div class="row m-1">
                <div class="col-5 font-weight-bold text-right">{% trans "Status" %}:</div>
                <div class="col-7" id="share_owner_status">
                    {% if owner.is_investing %}
                        <span style="color: blue;">{% trans "Investing" %}</span>
                    {% else %}
                        {% if owner.get_active_share_ownerships.count > 0 %}
                            <span style="color: green;">{% trans "Active" %}</span>
                        {% else %}
                            <span style="color: red;">{% trans "Inactive" %}</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            {% if object.ratenzahlung %}
                <div class="row m-1">
                    <div class="col-3 font-weight-bold text-right">{% trans "Ratenzahlung" %}:</div>
                    <div class="col-9" id="share_owner_email">Yes</div>
                </div>
            {% endif %}

            <div class="row m-1">
                <div class="col-5 font-weight-bold text-right">{% trans "Welcome Session" %}:</div>
                <div class="col-7">
                    {% if owner.attended_welcome_session %}
                        <span class="text-success">{% trans "Attended" %}</span>
                    {% else %}
                        <span class="text-warning">{% trans "Pending" %}</span>
                        {% if perms.accounts.manage %}
                            <form style="display: inline;"
                                  method="post"
                                  action="{% url "coop:mark_shareowner_attended_welcome_session" owner.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn tapir-btn btn-sm btn-success ml-3">
                                    <span class="material-icons">check</span>{%  trans "Mark Attended" %}
                                </button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="row m-1">
                <div class="col-5 font-weight-bold text-right">{% trans "Owned shares" %}:</div>
                <div class="col-7">
                    <span id="share_owner_num_shares">{{ owner.num_shares }}</span>
                    (<a class="" data-toggle="collapse" href="#shares-table">Details</a>)
                </div>
            </div>

            <div class="row m-1">
                <div class="col-5 font-weight-bold text-right">{% trans "Paid Membership Fee" %}:</div>
                <div class="col-7">{{ owner.paid_membership_fee|yesno:"Yes,No" }}</div>
            </div>

            <div class="row m-1">
                <div class="col-5 font-weight-bold text-right">{% trans "Ratenzahlung" %}:</div>
                <div class="col-7">{{ owner.ratenzahlung|yesno:"Yes,No" }}</div>
            </div>

            <div class="row m-1">
                <div class="col-5 font-weight-bold text-right">{% trans "Willing to gift a share" %}:</div>
                <div class="col-7">{{ owner.willing_to_gift_a_share|yesno:"Yes,No" }}</div>
            </div>

            <div class="collapse" id="shares-table">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Purchased</th>
                        <th scope="col">Sold</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    {% for o in owner.share_ownerships.all %}
                        <tr>
                            <td>{{ o.start_date }}</td>
                            <td>{% if o.end_date %}{{ o.end_date }}{% endif %}</td>
                            <td>
                                {% if o.is_active %}
                                    {% if o.is_fully_paid %}
                                        <span class="text-success">{% trans "Paid" %}</span>
                                    {% else %}
                                        <span class="text-warning">{% trans "Waiting payment" %} ({{ o.amount_paid }}€)</span>
                                    {% endif %}
                                {% else %}
                                    <span class="text-danger">{% trans "Sold" %}</span>
                                {% endif %}
                            </td>
                            {% if perms.coop.manage %}
                                <td>
                                    <a class="btn tapir-btn btn-outline-secondary btn-sm" href="{% url "coop:share_update" o.pk %}">
                                        <span class="material-icons">edit</span>
                                        {% trans "Edit" %}
                                    </a>
                                    <span class="dropdown">
                                        <a class="btn tapir-btn btn-outline-secondary btn-sm dropdown-toggle" href="#" data-toggle="dropdown">
                                            <span class="material-icons" >more_horiz</span>&nbsp;
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-right" style="min-width: 20rem;">
                                        <!-- white-space: normal; to make the long text wrap -->
                                        <form class="form-inline" method="post" action="{% url "coop:shareownership_delete" o.pk %}">
                                        {% csrf_token %}
                                            <button type="submit" class="dropdown-item" style="white-space: normal;" href="#">
                                                {% trans "Delete" %}<br />
                                                <small class="text-muted">
                                                    {% blocktrans %}
                                                        Only use this to correct mistakes, i.e. if the share was erroneously
                                                        entered into the system and the person never actually
                                                        bought it. If the person simply sold their share back to the
                                                        coop, please mark the share as sold instead.
                                                    {% endblocktrans %}
                                                </small>
                                            </button>
                                        </form>
                                        </div>
                                    </span>

                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
                {% if perms.accounts.manage %}
                    <div class="d-flex justify-content-end">
                        <a class="ml-auto btn tapir-btn btn-outline-info" href="{% url "coop:share_create" owner.pk %}">
                            <span class="material-icons" >add</span>
                            {% trans "Add Share" %}
                        </a>
                    </div>
                {% endif %}
            </div>
            {% if perms.accounts.manage %}
                <div class="row m-1 justify-content-end">
                    <form class="align-self-right" method="POST" action="{% url "coop:send_shareowner_membership_confirmation_welcome_email" owner.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn tapir-btn btn-info align-self-right">
                            <span class="material-icons">send</span>{% trans 'Send membership confirmation email' %}
                        </button>
                    </form>
                </div>
            {% endif %}
        {% else %}
            {% trans "User is not a cooperative member." %}
        {% endif %}
    </div>
</div>
