{% load i18n %}
{% load core %}
<div class="card mb-2" id="user_coop_info_card">
    <h5 class="card-header d-flex justify-content-between align-items-center">
        {% if share_owner %}
            <span>
                {% blocktranslate trimmed with coop_share_owner_id=share_owner.id %}
                    Member #{{ coop_share_owner_id }}
                {% endblocktranslate %}
            </span>
            {% if perms.accounts.manage %}
                <span>
                    <a class="{% tapir_button_link %}"
                       href="{% url 'coop:shareowner_membership_confirmation' share_owner.pk %}">
                        <span class="material-icons">file_present</span>{% translate 'Membership confirmation' %}
                    </a>
                    <a class="{% tapir_button_link_to_action %}"
                       href="{% url 'coop:shareowner_update' share_owner.pk %}"
                       id="share_owner_edit_button">
                        <span class="material-icons">edit</span>{% translate 'Edit' %}
                    </a>
                </span>
            {% endif %}
        {% endif %}
    </h5>
    <div class="card-body">
        {% if share_owner %}
            <div class="row m-1">
                <div class="col-5 fw-bold text-end">{% translate "Status" %}:</div>
                <div class="col-7" id="share_owner_status">
                    {% if share_owner.is_investing %}
                        <span style="color: blue;">{% translate "Investing" %}</span>
                    {% else %}
                        {% if share_owner.get_active_share_ownerships.count > 0 %}
                            <span style="color: green;">{% translate "Active" %}</span>
                        {% else %}
                            <span style="color: red;">{% translate "Inactive" %}</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% if object.ratenzahlung %}
                <div class="row m-1">
                    <div class="col-3 fw-bold text-end">{% translate "Ratenzahlung" %}:</div>
                    <div class="col-9" id="share_owner_email">Yes</div>
                </div>
            {% endif %}
            <div class="row m-1">
                <div class="col-5 fw-bold text-end">{% translate "Welcome Session" %}:</div>
                <div class="col-7">
                    {% if share_owner.attended_welcome_session %}
                        <span class="text-success">{% translate "Attended" %}</span>
                    {% else %}
                        <span class="text-warning">{% translate "Pending" %}</span>
                        {% if perms.accounts.manage %}
                            <form style="display: inline"
                                  method="post"
                                  action="{% url 'coop:mark_shareowner_attended_welcome_session' share_owner.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="{% tapir_button_action %} btn-sm ml-3">
                                    <span class="material-icons">check</span>{% translate "Mark Attended" %}
                                </button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="row m-1">
                <div class="col-5 fw-bold text-end">
                    <a data-bs-toggle="collapse" href="#shares-table">{% translate "Owned shares" %}:</a>
                </div>
                <div class="col-7">
                    <span id="share_owner_num_shares">{{ share_owner.num_shares }}</span>
                </div>
            </div>
            <div class="collapse" id="shares-table">
                <table class="table"
                       aria-label="{% translate 'List of shares owned by this member' %}">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Purchased</th>
                            <th scope="col">Sold</th>
                            <th scope="col">Status</th>
                            {% if perms.coop.manage %}
                                <th scope="col">{% translate 'Edit' %}</th>
                            {% endif %}
                        </tr>
                    </thead>
                    {% for o in share_owner.share_ownerships.all %}
                        <tr>
                            <td>{{ o.id }}</td>
                            <td>{{ o.start_date }}</td>
                            <td>
                                {% if o.end_date %}{{ o.end_date }}{% endif %}
                            </td>
                            <td>
                                {% if o.is_active %}
                                    {% if o.is_fully_paid %}
                                        <span class="text-success">{% translate "Paid" %}</span>
                                    {% else %}
                                        <span class="text-warning">{% translate "Waiting payment" %} ({{ o.amount_paid }}€)</span>
                                    {% endif %}
                                {% else %}
                                    <span class="text-danger">{% translate "Sold or future" %}</span>
                                {% endif %}
                            </td>
                            {% if perms.coop.manage %}
                                <td>
                                    <a class="{% tapir_button_link_to_action %} btn-sm"
                                       href="{% url 'coop:share_update' o.pk %}">
                                        <span class="material-icons">edit</span>
                                        {% translate "Edit" %}
                                    </a>
                                    <span class="dropdown">
                                        <a class="{% tapir_button_link %} btn-sm dropdown-toggle"
                                           href="#"
                                           data-bs-toggle="dropdown">
                                            <span class="material-icons">more_horiz</span>&nbsp;
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" style="min-width: 20rem;">
                                            <!-- white-space: normal; to make the long text wrap -->
                                            <form class="form-inline"
                                                  method="post"
                                                  action="{% url 'coop:shareownership_delete' o.pk %}">
                                                {% csrf_token %}
                                                <button type="submit"
                                                        class="dropdown-item "
                                                        style="white-space: normal"
                                                        href="#">
                                                    <span class="text-danger">{% translate "Delete" %}</span>
                                                    <br/>
                                                    <small class="text-muted">
                                                        {% blocktranslate trimmed %}
                                                            Only use this to correct mistakes, i.e. if the share was
                                                            erroneously entered into the system and the person never
                                                            actually bought it. If the person simply sold their share
                                                            back to the coop, please mark the share as sold instead.
                                                        {% endblocktranslate %}
                                                    </small>
                                                </button>
                                            </form>
                                        </div>
                                    </span>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
                {% if perms.accounts.manage %}
                    <div class="d-flex justify-content-end">
                        <a class="ml-auto {% tapir_button_link_to_action %}"
                           href="{% url 'coop:share_create_multiple' share_owner.pk %}">
                            <span class="material-icons">add_circle_outline</span>
                            {% translate "Add Shares" %}
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="row m-1">
                <div class="col-5 fw-bold text-end">
                    <a href="{% url 'coop:incoming_payment_list' %}?credited_member={{ share_owner.pk }}">{% translate "Payments" %}:</a>
                </div>
                <div class="col-7">
                    <span >{{ share_owner.get_currently_paid_amount }} / {{ share_owner.get_total_expected_payment }} €</span>
                </div>
            </div>
            <div class="row m-1">
                <div class="col-5 fw-bold text-end">
                    {% translate "Paid Entrance Fee" %}:
                </div>
                <div class="col-7">
                    {{ share_owner.paid_membership_fee|yesno:_("Yes,No") }}
                </div>
            </div>
            <div class="row m-1">
                <div class="col-5 fw-bold text-end">
                    {% translate "Ratenzahlung" %}:
                </div>
                <div class="col-7">
                    {{ share_owner.ratenzahlung|yesno:_("Yes,No") }}
                </div>
            </div>
            <div class="row m-1">
                <div class="col-5 fw-bold text-end">
                    {% translate "Willing to gift a share" %}:
                </div>
                <div class="col-7">
                    {{ share_owner.willing_to_gift_a_share|yesno:_("Yes,No") }}
                </div>
            </div>
            {% if perms.accounts.manage %}
                <div class="row m-1 mt-4 justify-content-end">
                    <form class="d-flex justify-content-end"
                          method="post"
                          action="{% url 'coop:send_shareowner_membership_confirmation_welcome_email' share_owner.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="{% tapir_button_action %} align-self-right">
                            <span class="material-icons">send</span>{% translate 'Send membership confirmation email' %}
                        </button>
                    </form>
                </div>
            {% endif %}
        {% else %}
            {% translate "User is not a cooperative member." %}
        {% endif %}
    </div>
</div>
