{% extends "core/email_base.html" %}
{% load i18n %}
{% load utils %}
{% block body %}
    {% get_display_name_short member_infos as display_name_short %}
    {% blocktranslate with display_name_short=display_name_short %}
        <p>Hello {{ display_name_short }},</p>
        <p>
            This is an automatic e-mail from SuperCoop. We would like to inform you that a co-shopper has just been
            added to your Tapir account.
        </p>
        <p>
            From now on the following persons can shop in the store using your membership number:
        </p>
    {% endblocktranslate %}
    <ul>
        {% if tapir_user.co_purchaser %}<li>{{ tapir_user.co_purchaser }}</li>{% endif %}
        {% if tapir_user.co_purchaser_2 %}<li>{{ tapir_user.co_purchaser_2 }}</li>{% endif %}
    </ul>
    {% blocktranslate with email_address_member_office=EMAIL_ADDRESS_MEMBER_OFFICE %}
        <p style="margin-top: 10px;">
            If this is an error and does not correspond to your request, please send a short
            <a href="mailto:{{ email_address_member_office }}">email to the Member Office</a> to let us know.
        </p>
        <p>
            Cooperative greetings,<br />
            The Member Office
        </p>
    {% endblocktranslate %}
{% endblock body %}
