{% extends "core/email_base.html" %}

{% load i18n %}

{% block title %}
    {% translate "Extra shares bought" %}
{% endblock %}

{% block body %}
    {% blocktranslate with first_name=member_infos.first_name num_shares=num_shares %}
        <p>
            Dear {{ first_name }},
        </p>
        <p>
            Thank you for your support!<br/>
            This document confirms that you have purchased X additional shares.
        </p>
        <p>
            Reminder: Your membership number is {{ share_owner.id }}.<br/>
            This number is important for your communication with us and the membership office. You will need it often.
        </p>
        <p>
            You want to tell others about the vision and idea of SuperCoop? On our website you can find all information about the model and membership: https://supercoop.de.
        </p>
        <p>
            If you have any questions, feel free to contact {{ contact_email_address}} and we will answer you as soon as possible. We are happy to have you join us!
        </p>
        <p>
            Cooperative greetings<br />
            Your board<br />
            Eugénie, Jessica, Johanna and Marie for the SuperCoop Team<br />
        </p>
    {% endblocktranslate %}
{% endblock %}