<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>

(English below)

<p>Liebe*r {{ owner.get_info.get_display_name }},</p>

<p>herzlich Willkommen als offizielles Fördermitglied der SuperCoop Berlin eG! Mit dem Zeichnen von {% if owner.get_active_share_ownerships.count == 1 %}einem Genossenschaftsanteil{% else %}{{ owner.get_active_share_ownerships.count }} Anteilen{% endif %}hast du dich dafür entschieden, gemeinsam mit uns und vielen weiteren Genoss*innen das Ernährungssystem mitzugestalten!</p>

<p>Wir freuen uns sehr, dich als Fördermitglied der SuperCoop eG begrüßen zu dürfen und bestätigen die Aufnahme in die Genossenschaft mit der Mitgliedsnummer {{ owner.id }}. Deine Mitgliedschaftsbestätigung findest du als PDF im Anhang.</p>

<p>Bei Fragen kannst du dich gerne an mitglied@supercoop.de wenden.</p>

<p>Kooperative Grüße<br />
    Eugénie, Jessica, Johanna und Marie für das SuperCoop Team</p>

<hr />

<p>Dear {{ owner.get_info.get_display_name }},</p>

<p>Welcome as an official investing member of SuperCoop Berlin eG! By subscribing to {% if owner.get_active_share_ownerships.count == 1 %}a cooperative share{% else %}{{ owner.get_active_share_ownerships.count }} cooperative shares{% endif %}, you have decided to shape the food system together with us and many other coop members!</p>

<p>We are very happy to confirm your admission to the cooperative with the membership number {{ owner.id }}. See the attached PDF for full details.</p>

<p>Cooperative greetings,<br />
    Eugénie, Jessica, Johanna and Marie<br />
Executive Board<br />
    SuperCoop Berlin eG</p>
</body>
</html>

