{% extends "core/email_base.html" %}
{% load i18n %}
{% load utils %}
{% block body %}
    {% blocktranslate with  get_display_name_short receiving_member as receive_member get_display_name_full resigned_member as resigned_member contact_email_address=contact_email_address %}
        <p>Dear {{ receive_member }},</p>
        <p>
            Good news for you and unfortunately bad news for us!
            <br>
            {{ resigned_member }} has cancelled his membership
            of SuperCoop Berlin eG and bequeathed her/his share(s) to you.
            Don't be surprised if you suddenly see more shares in your Tapir account.
            If this was done without your consent you can contact the member-office
            ({{ contact_email_address }}).
        </p>
        <p>Cooperative greetings,</p>
        <p>Your SuperCoop-Board</p>
    {% endblocktranslate %}
{% endblock body %}
