<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
(English below)

<p>Hallo {{ owner.get_info.get_display_name }},</p>

<p>herzlich willkommen als offizielles Mitglied unserer SuperCoop Genossenschaft! Im Anhang findest du deine Mitgliedschaftsbestätigung. Wir freuen uns sehr, dass du mit an Bord bist und wir SuperCoop gemeinsam weiterentwickeln.</p>

{% if not owner.attended_welcome_session %}
    <p>Dein erster Schritt als aktives SuperCoop-Mitglied ist die Teilnahme an einem Willkommenstreffen, bei dem du die wichtigsten Informationen erhältst, die du brauchst, um voll an der Coop teilzunehmen. Wir haben in den nächsten 3 Monaten über 400 Mitglieder zu begrüßen, daher bitten wir dich, dich so schnell wie möglich für ein Willkommenstreffen anzumelden. Gute Nachrichten - es zählt als deine erste Schicht! Bitte melde dich <a href="https://www.eventbrite.com/e/nur-fur-supercoop-berlin-eg-mitglieder-info-session-tickets-157074230251">HIER</a> an.</p>
{% endif %}

<p>In dieser E-Mail wollen wir dir die wichtigsten Informationen zu SuperCoop kurz und knackig zusammenfassen.</p>

<h2>1. SuperCoop Wiki</h2>
<p>Unser ganz eigenes <a href="https://wiki.supercoop.de/wiki/Main_Page">Wiki</a> ist das Herzstück unserer Kommunikation. Hier findest du alle wichtigen Termine und Links, Informationen zu den Arbeitsgruppen, laufenden Projekten und deinen Mit-Genoss*innen. Das Wiki ist im Aufbau und wird von uns allen gefüllt und weiterentwickelt. Schau am besten in die <a href="https://wiki.supercoop.de/wiki/Getting_started_on_Wiki_-_Mit_dem_Wiki_arbeiten">Get started-Seite</a> rein und leg deine eigene Profil-Seite im SuperCoop-Wiki an.</p>

<h2>2. Mitgliederbüro</h2>
<p>Unser Mitgliederbüro befindet sich in den <a href="https://drive.google.com/file/d/1pBncUk3UXjL0PsQAvSwu86c-pRD0yC0X/view?usp=sharing">Osram-Höfen</a> (Oudenarder Str. 16, 13347, links neben der Polizeiwache) im Wedding. Du findest uns dort Samstag von 10-14 Uhr. Komm sehr gerne vorbei und lerne andere SuperCoop’ies persönlich kennen. Du kannst hier alle Fragen loswerden. Alternativ kannst du auch allgemeine Fragen zur Mitgliedschaft an mitglied@supercoop.de senden.</p>

<h2>3. Arbeitsgruppen</h2>
<p>Wie du schon weißt, arbeiten alle Mitglieder mindestens 3 Stunden alle vier Wochen bei SuperCoop mit. Deine Arbeitsgruppe gibt an, welche Art von Arbeit du bei SuperCoop machst. Um dir den Einstieg so leicht wie möglich zu machen, haben wir im Wiki alle <a href="https://wiki.supercoop.de/wiki/Working_Groups">Arbeitsgruppen</a> zusammengefasst. Zudem findest du eine Übersicht mit allen <a href="https://wiki.supercoop.de/wiki/Offene_Schichten_-_Open_Shifts">offenen Schichten</a>, in die du dich direkt eintragen kannst.</p>

<p>Die Arbeitsgruppen und Aufgaben passen sich dynamisch der Entwicklung von SuperCoop an und werden laufend aktualisiert. Wenn du also in einer Arbeitsgruppe startest, heißt das nicht, dass du auf ewig nur dort mitarbeiten darfst.</p>

<p>Zu beachten ist, dass Mitglieder (außer in Ausnahmefällen) verpflichtet sind, die ersten sechs Schichten in unserem Laden in den Osram Höfen zu leisten, sobald wir mit den Vorbereitungen für die Eröffnung im Spätsommer dieses Jahres beginnen. Im Moment gibt es jedoch nicht genügend Schichten für alle Mitglieder, also keine Sorge, wenn du dich nicht sofort für eine Schicht anmelden kannst.</p>

<h2>4. Plenum</h2>
<p>Alle Mitglieder sind zu unserem <a href="https://wiki.supercoop.de/wiki/Plenum">Plenum</a> eingeladen (das derzeit online abgehalten wird, wenn Entscheidungen getroffen werden müssen), um über Vorschläge abzustimmen und aktuelle Themen zu besprechen. Termine, Links und weitere Details werden im Wiki und in der Mittwochs-E-Mail (siehe Punkt 7) bekannt gegeben.</p>

<h2>5. Mitgliederhandbuch</h2>
<p><a href="https://docs.google.com/document/d/12qqzJxgDIilSnVrh4yVJhqA_AJ6PLGpkw4JGDe3nBRg">Das Mitgliederhandbuch</a> enthält alle Informationen, die du über die Mitgliedschaft bei SuperCoop wissen musst: wie du einsteigst, wie die Schichtsysteme funktionieren, unsere Strukturen der Entscheidungsfindung und vieles mehr!</p>

<h2>6. Slack</h2>
<p>Als direkten Kommunikationskanal für die Arbeitsgruppen, Projekte und allgemeine Informationen nutzen wir die Chat-App Slack. Du kannst dich kostenlos registrieren und Slack direkt im Browser oder als App verwenden. Melde dich <a href="https://supercoopberlin.slack.com/join/shared_invite/zt-o5mrrdh0-RdsN0dhlz8qyCCl9clLQYA#/shared-invite/email">hier</a> an! Wenn du Hilfe beim Einstieg willst, wende dich bitte an das Mitgliederbüro (siehe oben).</p>

<h2>7. Mittwochs-Mail</h2>
<p>Mittwoch ist SuperCoop-Tag! Dann landen nämlich frische News mit aktuellen Terminen, Infos zu Produkten oder Veröffentlichungen in deinem E-Mail-Postfach. Es ist auch eine Erinnerung daran, dass der wöchentliche Bestellzyklus begonnen hat!</p>

<h2>8. Direkter Kontakt</h2>
<p>Wenn du den Vorstand direkt kontaktieren möchtest, benutze bitte die E-Mail contact@supercoop.de oder den Slack-Kanal #coordination_team.</p>

<h2>9. Social Media-Kanäle</h2>
<p>Oh ja, wir sind auch im <a href="https://supercoop.de">World Wide Web</a> zu finden! Folge uns sehr gerne auf <a href="https://www.facebook.com/SuperCoopBerlin/">Facebook</a>, <a href="https://www.instagram.com/supercoopberlin">Instagram</a>, <a href="https://www.linkedin.com/company/supercoopberlin/">LinkedIn</a> oder <a href="https://nebenan.de/places/organizations/3885">Nebenan.de</a> und verbreite dort die Idee von SuperCoop weiter. Spread the word!</p>

<h2>10. Webshop</h2>
<p>Das Beste zum Schluss: Du kannst die ersten SuperCoop Produkte in unserem <a href="https://erp.supercoop.de/shop">Webshop</a> bestellen. Der wöchentliche Bestellzyklus geht von Mittwoch bis Sonntag Mitternacht, abholen könnt ihr eure Bestellung dann in der darauffolgenden Woche. Besuch unseren Webshop für weitere Details zu Produkten und Abholzeiten!</p>

<p>Da wir selbstorganisiert arbeiten, sind wir auf die Eigenverantwortung jedes Mitglieds angewiesen. Schau dir also bitte die <a href="https://wiki.supercoop.de/wiki/Working_Groups">Arbeitsgruppen</a> in Ruhe an und melde dich dann proaktiv bei der/dem Verantwortlichen für die Gruppe deiner Wahl, um deine erste Schicht zu planen oder Fragen zu klären. Oder trag dich einfach für eine <a href="https://wiki.supercoop.de/wiki/Offene_Schichten_-_Open_Shifts">offene Schicht</a> im Wiki ein.</p>

<p>Wie schön, dass du mit dabei bist und wir sehen uns hoffentlich bald im Wiki, auf Slack, im Plenum oder in den Osram-Höfen!</p>

<p>Kooperative Grüße,<br />
    Eugénie, Jessica, Johanna und Marie für das SuperCoop Berlin eG Team</p>

<hr />

<p>Hello {{ owner.get_info.get_display_name }},</p>

<p>Welcome as an official member of our cooperative, SuperCoop Berlin eG! Please find the details of your membership confirmation attached. We are thrilled to welcome you aboard and begin developing SuperCoop together with you!</p>

{% if not owner.attended_welcome_session %}
    <p>Your first step as an active SuperCoop member is to attend a Welcome Session where you will receive the key information you need in order to fully participate in the coop. We have 400+ members to welcome in the next 3 months so we ask that you please sign up for a Welcome Session as soon as possible. Good news - it counts as your first shift! Please sign up <a href="https://www.eventbrite.com/e/nur-fur-supercoop-berlin-eg-mitglieder-info-session-tickets-157074230251">HERE</a>.</p>
{% endif %}

<p>See below for key details to kickstart your SuperCoop membership:</p>

<h2>1. SuperCoopWiki</h2>
<p>We've created our very own <a href="https://wiki.supercoop.de/wiki/Main_Page">Wiki</a>, and it is the heart of our communication. There you will find all the important details on our working groups, member meetings, webshop, your fellow co-owners/colleagues and more! It is a "living" tool that we all may edit and add to as our coop grows. Check out the <a href="https://wiki.supercoop.de/wiki/Getting_started_on_Wiki_-_Mit_dem_Wiki_arbeiten">get started</a> page to... well, get started!</p>

<h2>2. Membership Office</h2>
<p>Come by <a href="https://drive.google.com/file/d/1pBncUk3UXjL0PsQAvSwu86c-pRD0yC0X/view?usp=sharing">Osram-Höfe</a> (Oudenarder Str. 16, 13347, left of the police station) on Saturdays from 10am to 2pm. There you can meet other SuperCoopers in person and ask any questions you may have. Alternatively you can send general membership questions to mitglied@supercoop.de.</p>

<h2>3. Working groups</h2>
<p>As you know, all members work at least 3 hours every four weeks at SuperCoop. Your working group indicates what kind of work you do at the coop. Some working groups are permanent (e.g. stocking the shelves), while others may be only needed temporarily (e.g. crowdfunding). It is also possible to change working groups.</p>

<p>Members (barring any exceptional cases) are required to do their first six shifts at our store location in Osram Höfe once we begin preparing for the opening later this summer. At the moment there are not enough shifts for all our members, so please do not worry if you cannot find a shift to sign up for right away. Learn more about our current <a href="https://wiki.supercoop.de/wiki/Working_Groups">working groups</a> and <a href="https://wiki.supercoop.de/wiki/Offene_Schichten_-_Open_Shifts">open shifts</a> on our wiki!</p>

<h2>4. Plenum</h2>
<p>All members are invited to our <a href="https://wiki.supercoop.de/wiki/Plenum">plenum</a> (currently held online when decision making is required) to vote on proposals and raise topics for discussion. Dates, links and other details are announced on the wiki and Wednesday email.</p>

<h2>5. Member Manual</h2>
<p><a href="https://docs.google.com/document/d/19v91mj2MAJTtrPLCw54VMS6qlaiJqBqUAuiC6z_AKpw">The member manual</a> contains all your need-to-know information about membership at SuperCoop: how to get started, how the shift systems work, our governance structure and much more!</p>

<h2>6. Wednesday Email</h2>
<p>Wednesday is SuperCoop day! That's when fresh news about current events, information on products or publications land in your email inbox. It is also a reminder that the weekly ordering cycle has begun!</p>

<h2>7. Slack</h2>
<p>We use the chat app Slack as a direct communication channel for the working groups, projects and general information. You can register for free and use Slack directly in your browser or via the app. <a href="https://join.slack.com/t/supercoopberlin/shared_invite/zt-o5mrrdh0-RdsN0dhlz8qyCCl9clLQYA">Join here</a>! If you want help getting started, please contact the Membership Office (see above).</p>

<h2>8. Direct Contact</h2>
<p>If you wish to contact the Vorstand directly, please use the email contact@supercoop.de or the slack channel #coordination team.</p>

<h2>9. Social Media Channels</h2>
<p>Oh yeah, and we are also on the <a href="https://supercoop.de">Internet</a>! Follow us on <a href="https://www.facebook.com/SuperCoopBerlin/">Facebook</a>, <a href="https://www.instagram.com/supercoopberlin/">Instagram</a>, <a href="https://www.linkedin.com/company/supercoopberlin">LinkedIn</a> or <a href="https://nebenan.de/places/organizations/3885">Nebenan.de</a> and spread the word about SuperCoop.</p>

<h2>10. Webshop</h2>
<p>And the best for last: we already have some exciting products ready to order on our webshop! The weekly order cycle runs from Wednesday to Sunday midnight, and you can pick up your order the following week. Visit our <a href="https://erp.supercoop.de/shop">webshop</a> for more details on products and pick-up times!</p>

<p>As we are self-organised, we rely on the individual responsibility of each member. Please take your time to check out our <a href="https://wiki.supercoop.de/wiki/Working_Groups">working groups</a> and then proactively contact the person responsible for the group of your choice to plan your first shift or clarify any questions. Or simply sign up for an <a href="https://wiki.supercoop.de/wiki/Offene_Schichten_-_Open_Shifts">open shift</a> on our wiki!</p>

<p>We’re so glad you're joining us and we hope to see you soon whether on the wiki, Slack, at the Plenum or at Osram-Höfe!</p>

<p>Cooperative Greetings,<br />
    Eugénie, Jessica, Johanna und Marie for SuperCoop Berlin eG Team</p>
</body>
</html>

