{% extends "core/email_base.html" %}
{% load i18n %}
{% load utils %}
{% block body %}
    {% get_display_name_short share_owner as display_name %}
    {% blocktranslate with display_name=display_name contact_email_address=contact_email_address coop_full_name=coop_full_name management_email_address=management_email_address supervisors_email_address=supervisors_email_address %}
        <p>Hello {{ display_name }},</p>
        <p>
            Welcome as an official member of our cooperative, {{ coop_full_name }}! Please find the details of your
            membership confirmation attached. It is important that you complete METRO's online hygiene training before
            starting your first shift at the Coop. You can find all the information on this under point 3.
        </p>
        <p>
            We are thrilled to welcome you aboard and begin running SuperCoop together
            with you!
        </p>
        <p>See below for key details to kickstart your SuperCoop membership:</p>
        <h2>1. Member Office</h2>
        <p>The Member Office is the hub for supporting members in all things SuperCoop!</p>
        <p>
            Please visit the Member Office to sign up for your first shift (or indicate that you qualify for a <a href="https://docs.google.com/document/d/19v91mj2MAJTtrPLCw54VMS6qlaiJqBqUAuiC6z_AKpw/edit#heading=h.rjj2v2m92fqa">work
            exemption</a>). They will create an account for you on Tapir, our online shift management system, and guide you
            through the steps of choosing your shift and working group.
        </p>
        <div>
            For general questions about your membership, please contact the Member Office via email (<a href="mailto:{{ contact_email_address }}">{{ contact_email_address }}</a>) or by visiting <a href="https://www.google.com/maps/place/SuperCoop+Berlin/@52.553371,13.3585897,15z/data=!4m5!3m4!1s0x0:0x72e80db955fa8d3!8m2!3d52.5533091!4d13.3586012">SuperCoop</a>.
            Their opening hours are:
            <ul>
                <li>Monday - Friday from 4:30 - 7:30 p.m.</li>
                <li>Saturdays from 11 a.m. - 2 p.m.</li>
            </ul>
        </div>
        <h2>
            2. <a href="https://members.supercoop.de/">Tapir</a>
        </h2>
        <p>
            <a href="https://members.supercoop.de/">Tapir</a> is our shift management system created by and for SuperCoop
            members! There you can sign up for shifts and see additional information about your membership, such as how many
            shares you own.
        </p>
        <div>
            Links to the following are also available on Tapir:
            <ul>
                <li>The current week in the ABCD calendar (including also the ABCD calendar for the rest of the year),</li>
                <li>wiki,</li>
                <li>member manual,</li>
                <li>opening hours,</li>
                <li>Member Office contact information</li>
                <li>as well as statistics about shifts and our cooperative in general.</li>
            </ul>
        </div>
        <p>
            To create a profile on Tapir, please visit the Member Office in the supermarket (see office hours above). Don’t
            forget to
            <a href="https://docs.google.com/document/d/19v91mj2MAJTtrPLCw54VMS6qlaiJqBqUAuiC6z_AKpw/edit#heading=h.aal5b9whb07w">
                add a co-shopper</a> to your account too!
        </p>
        <p>
            Once your profile has been created, you will receive a confirmation email including a link to create a password.
            You can then use these same login credentials to log into the <a href="https://wiki.supercoop.de/wiki/Main_Page">SuperCoop Wiki</a>.
        </p>
        <p>
            <strong>Tip:</strong> Bookmark the <a href="https://members.supercoop.de/">link to Tapir</a> in your browser so
            it’s easy to find in the future!
        </p>
        <h2>3. Hygiene Training</h2>
        <p>
            New members must complete an online hygiene training from METRO BEFORE their first shift:
            <a href="https://kw.my/jEM8PK/#/">https://kw.my/jEM8PK/#/</a>. The training takes about 30 minutes and ends with
            a short questionnaire. If you answer
            80% of the questions correctly, you will receive a certificate. Please show this to an employee during your
            first shift.
        </p>
        <p>
            During your first shift, the team leader or an employee will provide an additional 10 minute introduction and
            show you the most important stations and rules in the store. If you could not do the online training at home,
            there is also the possibility to do it at our Welcome Desk during your shift.
        </p>
        <h2>4. Member Card</h2>
        <p>
            Your Member Card can be activated through your Tapir account. Member cards are consent based because we use them
            to collect data regarding the sum of the total purchase as well as the frequency of purchases. We use this
            information to support our financial planning and calculate projections of future revenues. It also helps us
            understand if certain measures we are taking to improve the assortment are having an impact on how regularly
            people shop at the coop. Conversely, if we see the regularity or total sum of purchases drop, we know we have to
            investigate this further. In this way, using the member card to track certain data also helps us better
            understand the needs of our members!
        </p>
        <p>
            To learn more about the member card and data collection, please visit our wiki:
            <a href="https://wiki.supercoop.de/wiki/Mitgliederkarte">https://wiki.supercoop.de/wiki/Mitgliederkarte</a>. Any
            concerns about data protection can be addressed to our data
            protection officer and working group at <a href="mailto:datenschutz-supercoop@posteo.de">datenschutz-supercoop@posteo.de</a>.
        </p>
        <h3>Here’s how it works:</h3>
        <div>
            <ol>
                <li>
                    Log into your Tapir profile: <a href="https://members.supercoop.de/">https://members.supercoop.de/</a>
                </li>
                <li>
                    Scroll down and you will see an option to give your consent, including an explanation of what data we
                    are
                    collecting. (Please note that you can give or remove consent at any time with just one click.)
                </li>
                <li>Once you have given consent, you will see a barcode that has been created especially for you.</li>
                <li>
                    The final and most important step (besides giving consent of course) is to remember to scan it at the
                    checkout counter! You have different options for how you can do this, including: logging into Tapir on
                    your
                    phone and showing it from there, downloading it as a PDF and saving it to your phone, taking a
                    screenshot,
                    or printing it out! (We're happy to print them out for you in the shop if needed!)
                </li>
            </ol>
        </div>
        <p>
            Last, but not certainly least, you can also load credit onto your member card and use it to pay for your
            groceries! This helps both you and the coop avoid transaction fees when making a purchase, and it can be done
            directly at the checkout counter (Kasse)! 🎉
        </p>
        <h2>5. Working groups</h2>
        <p>
            Your <strong>Working Group</strong> tells you <strong>what kind of work you do</strong> in the Coop.
        </p>
        <p>
            <strong>Please note:</strong> The most important thing is to select a shift time which you can consistently
            attend. As we are self-organised, we rely on the individual responsibility of each member to attend their shift
            and keep SuperCoop running.
        </p>
        <div>
            Members (barring any exceptional cases) should complete their first six shifts with one of the following core
            working groups:
            <ul>
                <li>
                    <strong>Receiving and Stocking</strong> (receiving deliveries, keeping our shelves and coolers stocked,
                    and
                    checking expiration dates - Rote Karte not required)
                </li>
                <li>
                    <strong>Cashier</strong>
                </li>
                <li>
                    <strong>Welcome Desk</strong> (greeting people at the store entrance, checking member numbers and
                    answering
                    visitors' questions about SuperCoop)
                </li>
                <li>
                    <strong>Maintenance</strong> (cleaning the coop after closing)
                </li>
            </ul>
        </div>
        <p>
            Please note that working groups and tasks dynamically adapt to the development of SuperCoop and are constantly
            updated. You may change working groups as needed.
        </p>
        <p>
            You also have opportunities to get involved at SuperCoop in addition to your regular shift. To make it as easy
            as
            possible for you to get started, we have summarized all <a href="https://wiki.supercoop.de/wiki/Working_Groups">additional
            working groups</a> in the wiki. Please see the Wiki for further information on how to get involved.
        </p>
        <h2>6. Member Manual</h2>
        <p>
            Before sending your questions to the Member Office, please consult the <a href="https://docs.google.com/document/d/19v91mj2MAJTtrPLCw54VMS6qlaiJqBqUAuiC6z_AKpw">member manual</a>. It
            contains all your need-to-know information about membership at SuperCoop: how to get started, how the shift
            systems work, our governance structure and much more!
        </p>
        <h2>7. SuperCoopWiki</h2>
        <p>
            Another good source of information is the <a href="https://wiki.supercoop.de/wiki/Main_Page">SuperCoop Wiki</a>.
            There you will find all the important details on our working groups, member meetings, webshop, your fellow
            co-owners/colleagues and more! It is a "living" tool that we all may edit and
            add to as our coop grows. Check out the <a href="https://wiki.supercoop.de/wiki/Getting_started_on_Wiki_-_Mit_dem_Wiki_arbeiten">get started</a>
            page to... well, get started!
        </p>
        <h2>8. Plenum</h2>
        <p>
            All members are invited to our <a href="https://wiki.supercoop.de/wiki/Plenum">plenum</a> (currently held online
            when decision-making is required) to vote on proposals and raise topics for discussion. Dates, links and other
            details are announced on the wiki and in our bi-weekly newsletter.
        </p>
        <h2>9. Newsletter</h2>
        <p>
            Wednesday is SuperCoop day! Every two weeks fresh news about current events, information on products or
            publications will land in your email inbox.
        </p>
        <h2>10. Slack</h2>
        <p>
            We use the chat app Slack as a direct communication channel for the working groups, projects and general
            information. You can register for free and use Slack directly in your browser or via the app. <a href="https://join.slack.com/t/supercoopberlin/shared_invite/zt-o5mrrdh0-RdsN0dhlz8qyCCl9clLQYA">Join
            here!</a> If you want help getting started, please contact the Membership Office (see above).
        </p>
        <h2>11. Direct Contact</h2>
        <p>
            If you wish to contact the Vorstand directly, please use the email <a href="mailto:{{ management_email_address }}">{{ management_email_address }}</a>.
        </p>
        <p>
            To contact the Aufsichtsrat (advisory board), please use the email address <a href="mailto:{{ supervisors_email_address }}">{{ supervisors_email_address }}</a>. They may be contacted
            regarding any topic which is relevant to the interests of SuperCoop members.
        </p>
        <h2>12. Social Media Channels</h2>
        <p>
            Oh yeah, and we are also on the <a href="https://supercoop.de">Internet</a>! Follow us on <a href="https://www.facebook.com/SuperCoopBerlin/">Facebook</a>, <a href="https://www.instagram.com/supercoopberlin/">Instagram</a>, <a href="https://www.linkedin.com/company/supercoopberlin">LinkedIn</a>
            or <a href="https://nebenan.de/places/organizations/3885">Nebenan.de</a> and spread the word about SuperCoop.
        </p>
        <p>
            We're so glad you're joining us and we hope to see you soon whether on the wiki, Slack, at the Plenum or at
            Osram-Höfe!
        </p>
        <p>
            Cooperative Greetings,
            <br />
            Your SuperCoop-Board
        </p>
    {% endblocktranslate %}
{% endblock body %}
