{% extends "core/email_base.html" %}
{% load i18n %}
{% block body %}
    {% blocktranslate trimmed with user_display_name=member_infos.get_display_name %}
        <p>Dear {{ user_display_name }},</p>
        <p>
            we've just created an account for you in our {{ coop_name }} member system. Here you can view your upcoming shifts,
            book an additional shift if you'd like or mark your shift as “looking for a stand-in” (for example when you go
            on vacation).
        </p>
    {% endblocktranslate %}
    <p>
        {% if tapir_user.shift_user_data.attendance_mode == "regular" %}
            {% if tapir_user.shift_attendance_templates.first %}
                {% blocktranslate trimmed with slot_display_name=tapir_user.shift_attendance_templates.first.slot_template.get_display_name %}
                    Your regular ABCD-shift is: {{ slot_display_name }}. You will receive a reminder email in advance of your first shift.
                {% endblocktranslate %}
            {% endif %}
        {% else %}
            {% translate "Flying members: Please keep in mind that you must have at least one shift “banked” for each shift cycle." %}
        {% endif %}
    </p>
    {% url "password_reset_confirm" uidb64=uid token=token as password_reset_confirm_url %}
    {% url "password_reset" as password_reset_request_url %}
    <p>
        {% blocktranslate trimmed with username=tapir_user.username %}
            <p>Your username is <strong>{{ username }}</strong>. In order to log in to your account, you first have to set a password: <a href="{{ site_url }}{{ password_reset_confirm_url }}">Click here to set your password</a></p>
            <p>This link is only valid for a few weeks. Should it expire, you can get a new one here : <a href="{{ site_url }}{{ password_reset_request_url }}">Click here to get a new link</a></p>
        {% endblocktranslate %}
    </p>
{% endblock body %}
