{% extends "core/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% load core %}
{% block title %}
    {% translate "Cancel shift:" %} {{ form.instance }}
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="card mb-2">
            <h5 class="card-header bg-warning">
                {% translate "Cancel shift:" %} <a href="{{ form.instance.get_absolute_url }}">{{ form.instance }}</a>
            </h5>
            <div class="card-body">
                <div>
                    {% blocktranslate trimmed %}
                        Cancelling a shift is used for example for holidays. It has the following consequences:
                        <ul>
                            <li>It is not possible to register to the shift anymore.</li>
                            <li>Members who are registered from their ABCD shift get a shift point.</li>
                            <li>Members who registered just to this shift don't get a point.</li>
                        </ul>
                    {% endblocktranslate %}
                </div>
                <form role="form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="{% tapir_button_action %}">
                            <span class="material-icons">cancel</span>
                            {% translate 'Confirm cancellation' %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
