{% extends "core/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% load core %}
{% block title %}
    {% translate "Register for shift slot" %}: {{ slot.get_display_name }}
{% endblock title %}
{% block head %}
    {{ form.media }}
{% endblock head %}
{% block content %}
    <div class="container">
        <div class="card mb-2" id="register_to_shift_slot_card">
            <h5 class="card-header d-flex align-items-center gap-1">
                <span>{% translate "Register for shift slot" %}:</span>
                <a href="{{ slot.shift.get_absolute_url }}">{{ slot.get_display_name }}</a>
            </h5>
            <div class="card-body">
                {% if slot.shift.description %}<p>{{ slot.shift.description }}</p>{% endif %}
                <form role="form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="d-flex justify-content-end gap-2">
                        <button type="submit" class="{% tapir_button_action %}" id="register_button">
                            <span class="material-icons">person_add</span>
                            {% translate 'Register' %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
