{% extends "core/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% load core %}
{% block title %}
    {% translate "Register for shift slot" %}: {{ slot_template.get_display_name }}
{% endblock title %}
{% block head %}
    {{ form.media }}
{% endblock head %}
{% block content %}
    <div class="container">
        <div class="card mb-2" id="shift_form_card">
            <h5 class="card-header d-flex align-items-center gap-1">
                <span>{% translate "Register for ABCD Shift" %}:</span>
                <a href="{{ slot_template.shift_template.get_absolute_url }}">{{ slot_template.shift_template.get_display_name }}</a>
            </h5>
            <div class="card-body">
                <form role="form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="{% tapir_button_action %}">
                            <span class="material-icons">person_add</span>
                            {% translate 'Register' %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
        {% if blocked_slots|length > 0 %}
            <div class="card mb-2 border-warning">
                <h5 class="card-header bg-warning">{% translate 'Some shifts are already occupied' %}</h5>
                <div class="card-body">
                    {% blocktranslate trimmed %}
                        <p>A flying member has already registered to the shifts linked below.</p>
                        <p>
                            It is still possible to sign someone up for this shift using the ABCD system. This would
                            mean that the member is signing up to work this shift on a recurring 4-week basis (i.e.
                            once per shift cycle).
                        </p>
                        <p>
                            IMPORTANT: If a flying member had previously signed up for the same shift, the ABCD member
                            will have to sign up for a different shift for that particular cycle.
                        </p>
                    {% endblocktranslate %}
                    <div>
                        {% translate 'Already occupied shifts :' %}
                        <ul id="occupied_shifts_list">
                            {% for slot in blocked_slots %}
                                <li>
                                    <a href="{{ slot.shift.get_absolute_url }}">{{ slot.shift.get_display_name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}
