{% extends "shifts/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load shifts %}
{% load i18n %}
{% load core %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'shifts/css/shifts.css' %}">
    <script src="{% static 'shifts/ShiftFiltersManager.js' %}?version=2" defer></script>
{% endblock head %}
{% block content %}
    <div class="card-group mb-2">
        <div class="card">
            <h5 class="card-header">
                {% block card_title %}
                {% endblock card_title %}
            </h5>
            <div class="card-body">
                {% block card_helptext %}
                {% endblock card_helptext %}
            </div>
        </div>
        {% shift_filters %}
    </div>
    <div class="card mb-2">
        <h5 class="card-header">{% translate "Date range" %}</h5>
        <div class="card-body d-flex gap-4">
            <script>
                function onFilter() {
                    let url = "{% url "shifts:calendar" %}";
                    url += "?date_from=" + document.getElementById("date-from").value;
                    url += "&date_to=" + document.getElementById("date-to").value;
                    window.location = url;
                }
            </script>
            <div class="d-flex align-items-baseline gap-2">
                <label for="date-from" class="form-label">{% translate "From" %}</label>
                <input id="date-from"
                       type="date"
                       value="{{ date_from }}"
                       class="form-control"
                       style="max-width: 160px" />
            </div>
            <div class="d-flex align-items-baseline gap-2">
                <label for="date-to" class="form-label">{% translate "To" %}</label>
                <input id="date-to"
                       type="date"
                       value="{{ date_to }}"
                       class="form-control"
                       style="max-width: 160px" />
            </div>
            <button class="{% tapir_button_link %}" onclick="onFilter()">{% translate "Filter" %}</button>
        </div>
    </div>
    {% for week, shifts_by_day in shifts_by_weeks_and_days.items %}
        <div class="card mb-2">
            {% with week_group=week_to_group|dictionary_get:week %}
                <h5 class="card-header">
                    KW {{ week|date:"W" }} {% translate 'starting' %} {{ week }},
                    {% translate 'Week ' %}{{ week_group.name }}
                </h5>
            {% endwith %}
            <div class="card-body d-flex flex-row flex-wrap">
                {% for day, shift_infos in shifts_by_day.items %}
                    <div class="d-flex flex-column">
                        <h5 style="text-align: center;">{{ day|date:"l" }}</h5>
                        <h6 style="text-align: center;">
                            {{ day|date:"M d" }}
                            {% if perms.welcomedesk.view %}
                                <a href="{% url 'shifts:shift_day_printable' day|date:'d-m-y' %}"
                                   class="{% tapir_button_link %}">
                                    <span class="material-icons">print</span>
                                </a>
                            {% endif %}
                        </h6>
                        {% for shift in shift_infos %}
                            <!-- a bit of margin so the boxes don't overlap -->
                            <div style="margin: 3px">
                                <a href="{% url 'shifts:shift_detail' shift.pk %}">{% shift_block shift True %}</a>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock content %}
