<a class="shift-block-container" href="{{ shift.url }}" style="{{ shift.style }}">

    <div id="{% if shift.is_template %}template{% else %}shift{% endif %}_{{ shift.id }}" class="shift-block bg-{{ shift.background }}" style="height:{{ shift.height }}px;">
        <div class="shift-name">{{ shift.name }}</div>
        <div class="shift-time">{{ shift.start_time|time:"H:i" }} - {{ shift.end_time|time:"H:i" }}</div>
        <div class="shift-date">{% if shift.start_date is not None %}{{ shift.start_date|date:"D d/m/y" }}{%  else %}{{ shift.weekday }}{% endif %}</div>
        <div style="display: flex">
            {% for state in shift.attendances %}
                {% if state == "template" %}
                    <div class="material-icons" style="font-size: 12px;">offline_pin</div>
                {% elif state == "single" %}
                    <div class="material-icons" style="font-size: 12px;">check_circle</div>
                {% else %}
                    <div class="material-icons" style="font-size: 12px;">radio_button_unchecked</div>
                {% endif %}
            {% endfor %}
        </div>
    {% if shift.template_group != None %}
        <div class="shift-group">{{ shift.template_group }}</div>
    {% endif %}
    </div>
</a>