{% extends "core/base.html" %}

{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card m-2">
            <h5 class="card-header d-flex justify-content-between align-items-center">
                {% translate "Shift management" %}
            </h5>
            <div class="card-body">
                <a class="btn tapir-btn btn-outline-info" href="{% url 'shifts:create_shift' %}">
                    <span class="material-icons">add_circle_outline</span>
                    Create a shift
                </a>
            </div>
        </div>
    </div>
{% endblock %}