{% load core %}
{% load i18n %}
{% load utils %}
<style>
    @page {
        size: A4 portrait;
        margin: 20;
    }

    @media print {
        html, body {
            width: 210mm;
            height: 297mm;
        }
    }

    table, th, td {
        border: 2px solid black;
        border-collapse: collapse;
        text-align: center;
        padding: 5px;
    }

    th {
        font-weight: bold;
    }

    table {
        width: 100%;
        font-size: 14px;
        page-break-inside: avoid;
    }

    h1 {
        text-align: center;
    }

    .small-text {
        font-size: 10px;
    }


</style>
<h1>{{ shifts.0.start_time|date:'d.m.y' }}</h1>
{% for shift in shifts %}
    <p>
        <table>
            <thead>
                <tr>
                    <th colspan="6" style="background-color: #ccc;">{{ shift.get_display_name }}</th>
                </tr>
                <tr>
                    <th></th>
                    <th>{% translate 'Slot' %}</th>
                    <th>{% translate 'Member' %}</th>
                    <th style="width: 20%;">{% translate 'Attended' %}</th>
                    <th style="width: 20%;">{% translate 'Missed' %}</th>
                    <th style="width: 20%;">{% translate 'Excused' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for slot in shift.slots.all %}
                    <tr>
                        <td>
                            <h5>#{{ forloop.counter }}</h5>
                        </td>
                        <td>
                            {{ slot.name }}
                            <br />
                            <span class="small-text">
                                {% if slot.required_capabilities|length > 0 %}
                                    {% translate 'Required qualifications: ' %}{{ slot.get_required_capabilities_display }}
                                {% endif %}
                            </span>
                        </td>
                        <td>
                            {% with slot.get_valid_attendance as attendance %}
                                {% if attendance %}
                                    {% get_display_name_short attendance.user %}
                                    {% if attendance.user.pronouns %}({{ attendance.user.pronouns }}){% endif %}
                                    #{{ attendance.user.share_owner.id }}
                                    <br />
                                    {% feature_flag_enabled "feature_flags.shifts.shift_partner" as shift_partner_enabled %}
                                    {% if shift_partner_enabled and attendance.user.shift_user_data.shift_partner %}
                                        <span>({% translate "Shift partner: " %}{% get_display_name_short attendance.user.shift_user_data.shift_partner.user %})</span>
                                    {% endif %}
                                    {% if attendance.state == attendance.State.LOOKING_FOR_STAND_IN %}
                                        ({% translate "Looking for a stand-in" %})
                                    {% endif %}
                                    <br />
                                    <br />
                                    <br />
                                    {% if attendance.user.shift_user_data.capabilities|length > 0 %}
                                        <span class="small-text">
                                            {% translate 'Has qualifications: ' %}{{ attendance.user.shift_user_data.get_capabilities_display }}
                                        </span>
                                    {% endif %}
                                {% endif %}
                            {% endwith %}
                        </td>
                        <td>
                            <!-- Attended -->
                        </td>
                        <td>
                            <!-- Missed -->
                        </td>
                        <td>
                            <!-- Excused -->
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </p>
{% endfor %}
