{% extends "shifts/shift_template_overview.html" %}

{% load shifts %}

{% block shift_template %}
    <form class="form-inline" method="POST"
          action="{% url "shifts:shifttemplate_register_user" shift_template.pk user.pk %}?next={% url "accounts:user_detail" user.pk %}">
        {% csrf_token %}
        <button type="submit" style="background: none; margin: 0; padding: 0; border: none;">
            {% shift_template_block shift_template %}
        </button>
    </form>
{% endblock %}
