{% extends "shifts/base.html" %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block head %}
    {{ form.media }}
{% endblock %}

{% block content %}
    <div class="card m-2" id="shift_detail_card">
        <h5 class="card-header d-flex justify-content-between align-items-center">
            <span>Shift Template: {{ object.name }} {{ object.get_weekday_display }} {{ object.start_time|time:"H:i" }} - {{ object.end_time|time:"H:i" }} ({{ object.group.name }})</span>
            {% if perms.shifts.manage %}
                <a class="btn tapir-btn btn-outline-info" href="{% url "admin:shifts_shifttemplate_change" object.pk %}">
                    <span class="material-icons button-icon">edit</span>
                    {% translate "Edit" %}
                </a>
            {% endif %}
        </h5>
        <ul class="list-group list-group-flush">
            {% if object.description %}
                <li class="list-group-item">
                    {{ object.description }}
                </li>
            {% endif %}
            <li class="list-group-item">
                <table class="table" aria-label="{% translate 'List of slots for this ABCD shifts' %}">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{% translate 'Details' %}</th>
                        <th>{% translate 'Registered user' %}</th>
                        <th>{% translate 'Shifts' %}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for slot in object.slot_templates.all %}
                        <tr>
                            <td><h5>#{{ forloop.counter }}</h5></td>
                            <td>
                                {{ slot.name }}
                                {% if slot.optional %}({% translate 'optional' %}){% endif %}
                            </td>
                            {% with slot.attendance_template as attendance %}
                                {% if attendance %}
                                    <td>
                                        {% if perms.shifts.manage %}
                                            <a href="{{ attendance.user.get_absolute_url }}">
                                                {{ attendance.user.get_display_name }}
                                            </a>
                                        {% else %}
                                            <span>{{ attendance.user.first_name }}</span>
                                        {% endif %}

                                        {% if perms.shifts.manage %}
                                            <form style="display: inline;"
                                                  method="post"
                                                  action="{% url "shifts:shift_attendance_template_delete" attendance.pk %}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn tapir-btn btn-sm btn-secondary ms-2">
                                                    <span class="material-icons">person_remove</span>
                                                    {% translate "Unregister" %}
                                                </button>
                                            </form>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if perms.shifts.manage %}
                                            <!-- TODO: Past and future shift attendances -->
                                        {% endif %}
                                    </td>
                                {% else %}
                                    <td>
                                        {% if perms.shifts.manage %}
                                            <a class="btn tapir-btn btn-secondary abcd_shift_register_button"
                                               href="{% url "shifts:slottemplate_register" slot.pk %}{% if selected_user %}?selected_user={{ selected_user.pk|urlencode }}{% endif %}">
                                                <span class="material-icons">person_add</span>
                                                {% translate "Register" %}
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td></td>
                                {% endif %}
                            {% endwith %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div>
                    <h5>{% translate "Future generated Shifts" %}</h5>
                    <ul class="list-group">
                        {% for shift in object.get_future_generated_shifts %}
                            <li class="list-group-item">
                                <a href="{{ shift.get_absolute_url }}">
                                    {{ shift.get_display_name }}

                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div>
                    <h5>{% translate "Past generated Shifts" %}</h5>
                    <ul class="list-group">
                        {% for shift in object.get_past_generated_shifts %}
                            <li class="list-group-item">
                                <a href="{{ shift.get_absolute_url }}">
                                    {{ shift.get_display_name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}
