{% load i18n %}

<div class="card">
    <h5 class="card-header">{% trans "Filters" %}</h5>
    <div class="card-body">
        <p>{% trans "Use the buttons below to filter the shifts that are relevant to you." %}</p>
        <p>
        <div class="btn-group btn-group-toggle" data-toggle="buttons" id="slot-status-group">
            <label class="btn btn-outline-dark">
                <input type="radio" name="slot_status_options" autocomplete="off"
                       value="no-filter"> {% trans 'No filter' %}
            </label>
            <label class="btn btn-outline-dark">
                <input type="radio" name="slot_status_options" autocomplete="off"
                       value="free-slot"> {% trans 'Has a free slot' %}
            </label>
            <label class="btn btn-outline-dark active">
                <input type="radio" name="slot_status_options" autocomplete="off" value="needs-help"
                       class="active-on-load"> {% trans 'Most help needed' %}
            </label>
        </div>
        </p>
        <p>
        <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons" id="slot-name-group">
            <label class="btn btn-outline-dark active">
                <input type="radio" name="slot_name_options" autocomplete="off" value="any"
                       class="active-on-load"> {% trans 'Any' %}
            </label>
            {% for name in shift_slot_names %}
                <label class="btn btn-outline-dark">
                    <input type="radio" name="slot_name_options" autocomplete="off" value="{{ name.0 }}"> {{ name.1 }}
                </label>
            {% endfor %}
        </div>
        </p>
    </div>
</div>
<div class="card" id="filter-legend">
    <h5 class="card-header">{% trans "Legend" %}</h5>
    <div class="card-body">

        <p>
            <span class="btn shift-filter-legend" style="color: black" id="legend-highlighted">Text set on load</span>
            <span class="btn shift-filter-legend" style="color: black"
                  id="legend-hidden">{% trans 'Other shifts' context "Filters" %}</span>
        </p>

        <div><span class="material-icons"
                   style="font-size: 14px;">radio_button_unchecked</span><span> {% trans 'Free slot' %}</span></div>
        <div><span class="material-icons"
                   style="font-size: 14px;">offline_pin</span><span> {% trans 'ABCD attendance' %}</span></div>
        <div><span class="material-icons"
                   style="font-size: 14px;">check_circle</span><span> {% trans 'Flying attendance' %}</span></div>
        <div><span class="material-icons"
                   style="font-size: 14px;">sync</span><span> {% trans 'Looking for a stand-in' %}</span></div>
    </div>
</div>