{% extends "shifts/base.html" %}

{% load bootstrap4 %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="card m-2">
        <h5 class="card-header">
            {% trans 'ABCD weeks calendar' %}
        </h5>
        <div class="card-body">
            <p><a href="{% static "shifts/ABCD_weeks_calendar_DE.png" %}">{% trans 'Download the calendar as a file.' %}</a></p>
            <p><ul>
                {% for date, group in date_to_group.items %}
                    <li>KW {{ date|date:"W" }} {% trans 'starting' %} {{ date|date:"d.m.y" }}, {% trans 'Week ' %}{{ group }}</li>
                {% endfor %}
            </ul></p>
        </div>
    </div>
{% endblock %}
