{% extends "shifts/base.html" %}

{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% load shifts %}
{% load coop %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "shifts/css/calendar.css" %}">
{% endblock %}

{% block content %}
    <div class="card m-2">
        <h5 class="card-header">
            {% translate 'ABCD weeks calendar' %}
        </h5>
            <div class="card-body">
                <a href="{% static "shifts/ABCD_weeks_calendar_EN.pdf" %}">{% translate 'Download calendar as pdf' %}</a>
                 <a href="{% url "shifts:shift_template_group_calendar"  otheryear %}">{{ otheryear }}</a>
                {{ shiftcal }}
            </div>
    </div>
{% endblock %}
