{% extends "accounts/base.html" %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "coop:shareowner_list" %}">{% trans "Users" %}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ form.instance.user.get_absolute_url }}">{{ form.instance.user.get_full_name }}</a>
            </li>
            <li class="breadcrumb-item">{% trans "Edit user shift data" %}</li>
        </ol>
    </nav>

    <div class="container">
        <div class="card m-2">
            <div class="card-body">
                <form role="form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <span class="text-right">
                        {% buttons %}
                            <button type="submit" class="btn tapir-btn btn-primary">
                                <span class="material-icons">save</span>
                                {% trans 'Save' %}
                            </button>
                        {% endbuttons %}
                    </span>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
