{% extends "core/base.html" %}

{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% load core %}

{% block title %}
    {% translate "Shift management" %}
{% endblock %}

{% block head %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card mb-2">
            <h5 class="card-header">
                {% translate "Add shifts" %}
            </h5>
            <div class="card-body">
                <a class="{% tapir_button_link_to_action %}" href="{% url 'shifts:create_shift' %}">
                    <span class="material-icons button-icon">add_circle_outline</span>{% translate 'Add a shift' %}
                </a>
                <a class="{% tapir_button_link_to_action %}" href="{% url 'shifts:shift_template_create' %}">
                    <span class="material-icons button-icon">add_circle_outline</span>{% translate 'Add an ABCD shift' %}
                </a>
            </div>
        </div>

        <div class="card mb-2">
            <h5 class="card-header">
                {% translate "Lists" %}
            </h5>
            <div class="card-body">
                <a class="{% tapir_button_link %}" href="{% url 'shifts:members_on_alert' %}">
                    <span class="material-icons button-icon">priority_high</span>{% translate 'Members on alert' %}
                </a>
                <a class="{% tapir_button_link %}" href="{% url 'shifts:shift_exemption_list' %}">
                    <span class="material-icons button-icon">beach_access</span>{% translate 'Shift exemptions' %}
                </a>
            </div>
        </div>

        {% feature_flag_enabled feature_flag_frozen_members as is_enabled %}
        {% if is_enabled %}
            <div class="card mb-2">
                <h5 class="card-header">
                    {% translate "Update frozen statuses" %}
                </h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        {% blocktranslate %}
                            <p>For every member, checks if they should get the frozen status, if they should get
                                unfrozen, or if
                                they should get the warning that they will be frozen soon.</p>
                            <p>This command is run automatically once per day. You can trigger it here manually for test
                                purposes or to accelerate a status update.</p>
                        {% endblocktranslate %}
                        <a class="{% tapir_button_action %}" href="{% url 'shifts:run_freeze_checks_manually' %}">
                            <span class="material-icons button-icon">ac_unit</span>{% translate 'Update frozen statuses' %}
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}

        <div class="card mb-2">
            <h5 class="card-header">
                {% translate "Generate shifts from ABCD shifts" %}
            </h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {% blocktranslate %}
                        <p>This generates shifts for the coming 200 days according to the ABCD-shift-calendar.</p>
                        <p>This command is run automatically once per day. You can trigger it manually to see results faster.</p>
                    {% endblocktranslate %}
                    <a class="{% tapir_button_action %}" href="{% url 'shifts:generate_shifts_manually' %}">
                        <span class="material-icons button-icon">date_range</span>{% translate 'Generate shifts' %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}