{% extends "core/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% load core %}
{% block title %}
    {{ card_title }}
{% endblock title %}
{% block head %}
    {{ block.super }}
    {{ form.media }}
{% endblock head %}
{% block content %}
    <div class="container">
        <div class="card mb-2" id="shift_form_card">
            <h5 class="card-header d-flex justify-content-between align-items-center">{{ card_title }}</h5>
            <ul class="list-group list-group-flush">
                {% if not form.instance.pk %}
                    <li class="list-group-item">
                        {% translate "Be careful when creating a shift slot, as you won't be able to delete it afterwards." %}
                    </li>
                {% endif %}
                <li class="list-group-item">
                    <form role="form" method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="{% tapir_button_action %}">
                                <span class="material-icons">save</span>
                                {% translate 'Save' %}
                            </button>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
{% endblock content %}
