{% load shifts %}
{% load i18n %}
{% load django_bootstrap5 %}
<div class="shift-block-container" style="{{ shift.style }}">
    <div id="{% if shift.is_template %}template{% else %}shift{% endif %}_{{ shift.id }}"
         class="shift-block btn btn-outline-dark {{ shift.filter_classes }}"
         style="height:{{ shift.height }}px">
        <div class="shift-time shift-block-title">
            {% if shift.flexible_time %}
                {% translate "Flexible time" %}
            {% else %}
                {{ shift.start_time|time:"H:i" }} - {{ shift.end_time|time:"H:i" }}
            {% endif %}
            {% if request.user|user_watching_shift:shift.id %}
                <div style="vertical-align: text-bottom" class="material-icons">visibility</div>
            {% endif %}
        </div>
        <div class="shift-date">
            {% if shift.start_date is not None %}
                {{ shift.start_date|date:"D d/m/y" }}
            {% else %}
                {{ shift.weekday|slice:":3" }}
            {% endif %}
        </div>
        <div class="d-flex flex-column">
            {% for slot_name, attendances in shift.attendances.items %}
                <div style="max-width: 220px">
                    {{ slot_name }}:
                    {% for state in attendances %}
                        {% if state == "regular" %}
                            <div class="material-icons">offline_pin</div>
                        {% elif state == "single" %}
                            <div class="material-icons">check_circle</div>
                        {% elif state == "standin" %}
                            <div class="material-icons rotate">sync</div>
                        {% else %}
                            <div class="material-icons">radio_button_unchecked</div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        {% if shift.template_group %}<div class="shift-group">{{ shift.template_group }}</div>{% endif %}
    </div>
</div>
