{% extends "shifts/base.html" %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="card m-2" id="shift_exemption_form">
            <h5 class="card-header">
                {% if object %}
                    {% trans "Edit shift exemption for: " %}<a href="{{ object.shift_user_data.user.get_absolute_url }}">{{ object.shift_user_data.user.get_display_name }}</a></h5>
                {% else %}
                    {% trans "Create shift exemption for: " %}<a href="{{ selected_user.get_absolute_url }}">{{ selected_user.get_display_name }}</a></h5>
                {% endif %}
            <div class="card-body">
                <form role="form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <span class="text-right">
                        {% buttons %}
                            <button type="submit" class="btn tapir-btn btn-primary">
                                <span class="material-icons">save</span>
                                {% trans 'Save' %}
                            </button>
                        {% endbuttons %}
                    </span>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
