{% extends "shifts/base.html" %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}
    {% translate 'Shift exemption' %}: {{ object.shift_user_data.user.get_display_name }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card mb-2" id="shift_exemption_form">
            <h5 class="card-header">
                {% if object.pk %}
                    {% translate "Edit shift exemption for: " %}
                {% else %}
                    {% translate "Create shift exemption for:" %}
                {% endif %}
                <a href="{{ object.shift_user_data.user.get_absolute_url }}">
                    {{ object.shift_user_data.user.get_display_name }}
                </a>
            </h5>
            <div class="card-body">
                <form role="form" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn tapir-btn btn-primary">
                            <span class="material-icons">save</span>
                            {% translate 'Save' %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
