{% extends "shifts/base.html" %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<div class="card m-2">
    <h5 class="card-header">
        {% blocktranslate with user_display_name=object.user.get_display_name slot_display_name=object.slot.get_display_name %}
        Remove {{ user_display_name }} from Shift {{ slot_display_name }}?
        {% endblocktranslate %}
    </h5>
    <div class="card-body">
        {% blocktranslate %}
            No entries will be added to their shift account and it will be as if the user had never registered. This should only happen if the registration was in error. If the user was excused, please use the "Excuse" button instead and record a reason for better record-keeping.
        {% endblocktranslate %}
        <form method="post">
            {% csrf_token %}
            <button class="float-right m-3 btn btn-danger" type="submit">{% blocktranslate with user_display_name=object.user.get_display_name %}Remove {{ user_display_name }} from Shift{% endblocktranslate %}</button>
        </form>
    </div>
</div>
{% endblock %}