{% extends "shifts/base.html" %}

{% load bootstrap4 %}
{% load static %}
{% load shifts %}

{% block head %}
{{ block.super }}
    <link rel="stylesheet" href="{% static "shifts/css/shifts.css" %}">
{% endblock %}

{% block content %}
    <div id="upcoming-shifts-timetable" class="d-flex flex-wrap">
    {% for week, shifts_by_day in shifts_by_weeks_and_days.items %}
        <div class="card m-2">
            <h5 class="card-header">KW {{ week|date:"W" }} starting {{ week }}</h5>
            <div class="card-body d-flex flex-row">
                {% for day, shift_infos in shifts_by_day.items %}
                    <div class="d-flex flex-column">
                    <h5 style="text-align: center;">{{ day|date:"l" }}</h5>
                        <h6 style="text-align: center;">{{ day|date:"M d" }}</h6>
                        {% for shift in shift_infos %}
                            <!-- a little bit of margin so the boxes don't overlap -->
                            <div style="margin: 3px">
                                <a href="{% url "shifts:shift_detail" shift.pk %}">
                                    {% shift_block shift True %}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}
