{% extends "shifts/base.html" %}

{% load bootstrap4 %}
{% load static %}

{% block head %}
{{ block.super }}
    <link rel="stylesheet" href="{% static "shifts/css/shifts.css" %}">
{% endblock %}

{% block content %}
    <div class="card m-2">
        <div class="card-body">
            <h5 class="card-title">Today, {{ today|date }}</h5>
            {% include "shifts/day_snippet.html" with shifts=shifts_today only %}
        </div>
    </div>
    {% for day, shifts in shifts_by_days.items %}
        <div class="card m-2">
            <div class="card-body">
                <h5 class="card-title">{{ day|date }}</h5>
                {% include "shifts/day_snippet.html" with shifts=shifts only %}
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
