{% load utils %}
{% load i18n %}
{% load shifts %}
{% load core %}
<div class="card mb-2">
    <h5 class="card-header d-flex justify-content-between align-items-center flex-wrap gap-2"
        id="user_shift_card">
        {% translate "Shifts" %}
        <span class="d-flex justify-content-end flex-fill flex-wrap gap-2">
            {% if perms.shifts.manage and user.shift_user_data %}
                <a class="{% tapir_button_link_to_action %}"
                   id="edit_shift_user_data_button"
                   href="{% url 'shifts:edit_shift_user_data' user.shift_user_data.pk %}">
                    <span class="material-icons button-icon">edit</span>{% translate 'Edit' %}
                </a>
            {% endif %}
        </span>
    </h5>
    <div class="card-body">
        <div class="row m-1">
            <div class="col-12 col-sm-4 fw-bold text-sm-end">{% translate "Status" %}:</div>
            <div class="col-12 col-sm-8">{% get_attendance_mode_display user.shift_user_data %}</div>
        </div>
        <div class="row m-1">
            {% if user.shift_attendance_templates.count > 0 %}
                <div class="col-12 col-sm-4 fw-bold text-sm-end">{% translate "ABCD Shift" %}:</div>
                <div class="col-12 col-sm-8">
                    {% for shift_attendance_template in user.shift_attendance_templates.all %}
                        <span>
                            <a href="{{ shift_attendance_template.slot_template.shift_template.get_absolute_url }}">
                                {{ shift_attendance_template.slot_template.get_display_name }}
                            </a>
                        </span>
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}
                </div>
            {% elif user.shift_user_data.attendance_mode == 'regular' %}
                <div class="col-12 col-sm-4 fw-bold text-sm-end">{% translate "ABCD Shift" %}:</div>
                <div class="col-12 col-sm-8">
                    <span class="text-danger">{% translate "Missing" %}</span>
                    {% if perms.shifts.manage %}
                        <a class="{% tapir_button_link %} btn-sm"
                           href="{% url 'shifts:shift_template_overview' %}?selected_user={{ user.pk|urlencode }}"
                           id="find_abcd_shift_button">
                            <span class="material-icons">search</span>{% translate "Find an ABCD shift" %}
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="row m-1">
            <div class="col-12 col-sm-4 fw-bold text-sm-end">{% translate "Upcoming Shift" %}:</div>
            <div class="col-12 col-sm-8">
                {% with next_slot=user.shift_user_data.get_upcoming_shift_attendances.first.slot %}
                    {% if next_slot %}
                        <a href="{{ next_slot.shift.get_absolute_url }}" id="upcoming_shift">{{ next_slot.get_display_name }}</a>
                        (in {{ next_slot.shift.start_time|timeuntil }})
                        <br />
                        <a data-bs-toggle="collapse" href="#upcoming-shifts">{% translate "Show more" %}</a>
                        <div class="collapse" id="upcoming-shifts">
                            {% for shift_attendance in user.shift_user_data.get_upcoming_shift_attendances %}
                                <a href="{% url 'shifts:shift_detail' shift_attendance.slot.shift.pk %}">
                                    {% shift_block shift_attendance.slot.shift %}
                                </a>
                            {% endfor %}
                        </div>
                    {% else %}
                        <span class="text-danger">{% translate "None" context "No upcoming shift" %}</span>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="row m-1">
            <div class="col-12 col-sm-4 fw-bold text-sm-end">{% translate "Shift Status" %}:</div>
            <div class="col-12 col-sm-8 d-flex gap-2" id="user-shift-status">
                {% if user.shift_user_data.is_balance_ok %}
                    <span class="text-success">{% translate "OK" %}</span>
                    {% if user.shift_user_data.get_account_balance < 0 %}
                        ({% translate "Shift for ongoing cycle pending" %})
                    {% elif user.shift_user_data.get_account_balance > 0 %}
                        ({% blocktranslate with num_banked_shifts=user.shift_user_data.get_account_balance %}
                        {{ num_banked_shifts }} banked shifts
                    {% endblocktranslate %})
                    {% endif %}
                {% else %}
                    <span class="text-danger">{% translate "On alert" %} ({{ user.shift_user_data.get_account_balance|stringformat:"+d" }})</span>
                {% endif %}
                <a href="{% url 'shifts:user_shift_account_log' user.pk %}"
                   class="{% tapir_button_link %} btn-sm"><span class="material-icons">visibility</span>{% translate 'log' %}</a>
            </div>
        </div>
        <div class="row m-1">
            <div class="col-12 col-sm-4 fw-bold text-sm-end">{% translate "Qualifications" %}:</div>
            <div class="col-12 col-sm-8">
                {% if user.shift_user_data.capabilities %}
                    {{ user.shift_user_data.get_capabilities_display }}
                {% else %}
                    {% translate "None" context "No qualifications" %}
                {% endif %}
            </div>
        </div>
        <div class="row m-1">
            <div class="col-12 col-sm-4 fw-bold text-sm-end">{% translate "Exemption" %}:</div>
            <div class="col-12 col-sm-8">
                <span id="shift_exemption_value">
                    {% with exemption=user.shift_user_data.get_current_shift_exemption %}
                        {% if exemption %}
                            {{ exemption.description }} {% translate 'until' %}
                            {% if exemption.end_date %}
                                {{ user.shift_user_data.get_current_shift_exemption.end_date|date:"d.m.y" }}
                            {% else %}
                                ∞
                            {% endif %}
                        {% else %}
                            {% translate "None" context "No shift exemption" %}
                        {% endif %}
                    {% endwith %}
                </span>
                <a href="{% url 'shifts:shift_exemption_list' %}?shift_user_data_id={{ user.shift_user_data.id }}"
                   class="{% tapir_button_link %} btn-sm"
                   id="shift_exemption_list_button">
                    <span class="material-icons">visibility</span>
                    {% translate 'View all' %}
                </a>
            </div>
        </div>
        {% feature_flag_enabled "Enable Solidarity Shifts" as solidarity_shifts_enabled %}
        {% if solidarity_shifts_enabled %}
            <div class="row m-1">
                <div class="col-12 col-sm-4 fw-bold text-sm-end">{% translate "Solidarity" %}:</div>
                <div class="col-12 col-sm-8 d-flex gap-1">
                    <form method="post"
                          action="{% url 'shifts:solidarity_shift_used' object.pk %}">
                        {% csrf_token %}
                        <button type="submit"
                                class="{% tapir_button_action %} btn-sm {% disabled_if_user_cant_receive_solidarity user %}">
                            <span class="material-icons">favorite</span>{% translate 'Receive Solidarity' %}
                        </button>
                    </form>
                    <form method="post"
                          action="{% url 'shifts:solidarity_shift_given' object.pk %}">
                        {% csrf_token %}
                        <button type="button"
                                class="{% tapir_button_action %} btn-sm {% disabled_if_user_cant_give_solidarity user %}"
                                data-bs-toggle="modal"
                                data-bs-target="#modalSubmitGiveSolidarity">
                            <span class="material-icons">favorite</span>{% translate 'Give Solidarity' %}
                        </button>
                        <div class="modal fade"
                             id="modalSubmitGiveSolidarity"
                             tabindex="-1"
                             aria-labelledby="submitGiveSolidarityModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="submitGiveSolidarityModalLabel">
                                            Give Solidarity
                                            Shift
                                        </h1>
                                        <button type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {% translate 'One of your banked shifts will be donated as a solidarity shift. Do you want to continue?' %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button"
                                                class="{% tapir_button_link %} btn-sm"
                                                data-bs-dismiss="modal">{% translate 'Cancel' %}</button>
                                        <button type="submit"
                                                class="{% tapir_button_action %} btn-sm {% disabled_if_user_cant_give_solidarity user %}">
                                            {% translate 'Confirm' %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row m-1">
                <div class="col-12 col-sm-4 fw-bold text-sm-end">{% translate "Solidarity Status" %}:</div>
                <div class="col-12 col-sm-8 d-flex">
                    {% get_used_solidarity_shifts_current_year user.shift_user_data as used_solidarity_shifts_current_year %}
                    {% if used_solidarity_shifts_current_year >= 2 %}
                        {% blocktranslate with used_solidarity_shifts_current_year=used_solidarity_shifts_current_year %}
                            <p>You already used {{ used_solidarity_shifts_current_year }} out of 2 Solidarity Shifts
                                this year</p>
                        {% endblocktranslate %}
                    {% elif used_solidarity_shifts_current_year < 2 and user.shift_user_data.get_available_solidarity_shifts and user.shift_user_data.get_account_balance < 0 %}
                        {% blocktranslate with used_solidarity_shifts_current_year=used_solidarity_shifts_current_year %}
                            <p>There are Solidarity Shifts available for you to use. You
                                used {{ used_solidarity_shifts_current_year }} out of 2 Solidarity Shifts this year</p>
                        {% endblocktranslate %}
                    {% elif used_solidarity_shifts_current_year < 2 and user.shift_user_data.get_available_solidarity_shifts and user.shift_user_data.get_account_balance <= 0 %}
                        {% blocktranslate %}
                            <p data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Solidarity Shifts can only be received while having a negative balance">
                                You cannot receive a Solidarity Shift at the moment</p>
                        {% endblocktranslate %}
                    {% elif not user.shift_user_data.get_available_solidarity_shifts %}
                        {% blocktranslate %}
                            <p>There are no Solidarity Shifts available at the moment</p>
                        {% endblocktranslate %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% feature_flag_enabled "feature_flags.shifts.shift_partner" as shift_partner_enabled %}
        {% if shift_partner_enabled %}
            <div class="row m-1">
                <div class="col-12 col-sm-4 fw-bold text-sm-end">{% translate "Shift partner" %}:</div>
                <div class="col-12 col-sm-8 d-flex">
                    {% if user.shift_user_data.shift_partner_of %}
                        <span>{% get_html_link_or_just_name user.shift_user_data.shift_partner_of.user request.user %}</span>
                    {% elif user.shift_user_data.shift_partner %}
                        <span>{% get_html_link_or_just_name user.shift_user_data.shift_partner.user request.user %}</span>
                    {% else %}
                        {% blocktranslate asvar tooltip %}
                                You can email the member office to ask for a shift partner to be registered. <br />
                                See member manual section III.F.6
                            {% endblocktranslate %}
                        <span data-bs-toggle="tooltip" data-bs-html="true" title="{{ tooltip }}">
                            {% translate "None" context "No shift partner" %}
                        </span>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="row m-1">
            <div class="col-12 col-sm-4 fw-bold text-sm-end">
                <a href="{% url 'shifts:shiftwatch_overview' user.pk %}">{% translate "Watched Shifts" %}:</a>
            </div>
            <div class="col-12 col-sm-8">
                {% with watched_shifts=user.user_watching_shift.all %}
                    {% if watched_shifts %}
                        {% for shift_watch in watched_shifts %}
                            <a href="{{ shift_watch.shift.get_absolute_url }}">{{ shift_watch.shift.get_display_name }}</a>
                            <br>
                        {% endfor %}
                    {% else %}
                        <span class="text-danger">{% translate "None" context "No watched shifts" %}</span>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
