{% load i18n %}
{% load shifts %}

<div class="card m-2">
    <h5 class="card-header d-flex justify-content-between align-items-center">
        {% trans "Shifts" %}
        <a href="{% url "shifts:upcoming_timetable" %}">
            <button type="button" class="btn btn-outline-info" >{% trans 'Register to a shift' %}</button>
        </a>
    </h5>
    <div class="card-body">
        <div class="row m-1">
            {% if user.shift_user_data.attendance_mode == 'flying' %}
                <div class="col-4 font-weight-bold text-right">{% trans "Status" %}:</div>
                <div class="col-8">
                    {{ user.shift_user_data.get_attendance_mode_display }}

                    {% if perms.accounts.manage %}
                        <form style="display: inline;" method="POST"
                              action="{% url "shifts:set_user_attendance_mode_regular" user.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary btn-sm">
                                {% trans "Set Regular 🏠️" %}
                            </button>
                        </form>
                    {% endif %}
                </div>


            {% else %}
                <div class="col-4 font-weight-bold text-right">{% trans "Regular Shift" %}:</div>
                <div class="col-8">
                    {% if user.shift_attendance_templates.count > 0 %}
                        {% comment %}Usually there will only be one {% endcomment %}
                        {% for shift_attendance_template in user.shift_attendance_templates.all %}
                            <span class="repeated-shift">
                                <a href="{{ shift_attendance_template.slot_template.shift_template.get_absolute_url }}">
                                {{ shift_attendance_template.slot_template.get_display_name }}
                                </a>
                            </span>

                            {% if perms.shifts.manage %}
                            <form class="form-inline" method="POST"
                                  action="{% url "shifts:shift_attendance_template_delete" shift_attendance_template.pk %}?next={% url "accounts:user_detail" user.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-secondary btn-sm unregister-repeated-shift-button">
                                    ❌ {% trans "Unregister" %}
                                </button>
                            </form>
                            {% endif %}
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}

                    {% else %}
                        <span class="text-danger">{% trans "Missing" %}</span>

                        <a class="btn btn-secondary btn-sm" href="{% url "shifts:shift_template_overview" %}?selected_user={{ user.pk|urlencode }}">
                            {% trans "Find a shift" %}
                        </a>

                        {% if perms.accounts.manage %}
                            <form style="display: inline;" method="POST"
                                  action="{% url "shifts:set_user_attendance_mode_flying" user.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-secondary btn-sm">
                                    {% trans "Set Flying️" %} ✈
                                </button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <div class="row m-1">
            <div class="col-4 font-weight-bold text-right">{% trans "Upcoming Shift" %}:</div>
            <div class="col-8">
                {% with next_slot=user.shift_user_data.get_upcoming_shift_attendances.first.slot %}
                    {% if next_slot %}
                        <a href="{{ next_slot.get_absolute_url }}" id="upcoming_shift">
                            {{ next_slot.shift.start_time|date:"l F d" }} {{ next_slot.shift.start_time|time:"H:i" }}
                        </a>
                        (in {{ next_slot.shift.start_time|timeuntil }})<br />
                        <a data-toggle="collapse" href="#upcoming-shifts">{% trans "Show more" %}</a>
                        <div class="collapse" id="upcoming-shifts">
                            {% for shift_attendance in user.shift_user_data.get_upcoming_shift_attendances %}
                                <a href="{% url "shifts:shift_detail" shift_attendance.slot.shift.pk %}">
                                    {% shift_block shift_attendance.slot.shift %}
                                </a>
                            {% endfor %}
                        </div>
                    {% else %}
                        <span class="text-danger">{% trans "None" %}</span>
                    {% endif %}
                {% endwith %}
            </div>
        </div>

        <div class="row m-1">
            <div class="col-4 font-weight-bold text-right">{% trans "Account Balance" %}:</div>
            <div class="col-8">
                {% if user.shift_user_data.is_balance_ok %}
                    <span class="text-success">{% trans "OK" %}</span>
                {% elif user.shift_user_data.is_balance_positive %}
                    <span style="color: darkgreen;">{% trans "Positive Buffer" %} ({{ user.shift_user_data.get_account_balance|stringformat:"+d" }})</span>
                {% else %}
                    <span class="text-danger">{% trans "Negative" %} ({{ user.shift_user_data.get_account_balance|stringformat:"+d" }})</span>
                {% endif %}
            </div>
        </div>

        <div class="row m-1">
            <div class="col-4 font-weight-bold text-right">{% trans "Special Capabilties" %}:</div>
            <div class="col-8">
                {% if user.shift_user_data.capabilities %}
                    {{ user.shift_user_data.get_capabilities_display }}
                {% else %}
                    {% trans "None" %}
                {% endif %}
            </div>
        </div>


    </div>
</div>
