{% extends "shifts/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load core %}
{% block content %}
    <div class="card mb-2" id="user_shift_account_log">
        <h5 class="card-header d-flex justify-content-between align-items-center">
            <span>
                {% translate 'Shift account log for: ' %}
                <a href="{{ user.get_absolute_url }}">{{ user.get_display_name }}</a>
            </span>
            {% if perms.shifts.manage %}
                <a class="{% tapir_button_link_to_action %}"
                   href="{% url 'shifts:create_shift_account_entry' user.pk %}">
                    <span class="material-icons">add_circle_outline</span>{% translate 'Add a manual entry' %}
                </a>
            {% endif %}
        </h5>
        <div class="card-body">
            <table class="{% tapir_table_classes %}"
                   id="attendance_table"
                   aria-label="{% translate 'List of changes to this members shift account ' %}">
                <thead>
                    <tr>
                        <th>{% translate 'Date' %}</th>
                        <th>{% translate 'Value' %}</th>
                        <th>{% translate 'Description' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in entries %}
                        <tr>
                            <td>{{ entry.date }}</td>
                            <td>{{ entry.value }}</td>
                            <td class="description">{{ entry.description }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
