.shift-block, .shift-block-container {
    min-width: 240px;
}

.shift-list {
    gap: 10px;
}

.supercoop-authentification {
    display: grid;
    grid-template-areas:
        "login"
        "register";
    grid-template-columns: 1fr;
}

@media (min-width: 992px) {
    .supercoop-authentification {
        grid-template-areas: "login register";
        grid-template-columns: 1fr 1fr;
    }
}

.supercoop-register {
    grid-area: register;
}

.supercoop-login {
    grid-area: login;
}
