{% extends "core/email_base.html" %}
{% load i18n %}
{% load utils %}
{% block body %}
{% get_display_name_short tapir_user as display_name_short %}

<p>Olá {{ display_name_short }},</p>

<p>Esta é uma mensagem automática da <strong>Rizoma – Secção Consumo</strong>.</p>

<p>
    Notámos que não compareceste ao seguinte turno para o qual estavas inscrita: {{ shift.get_display_name }}
</p>
<p>Antes de mais, esperamos que esteja tudo bem contigo! 🫒</p>
<p>
    Sabemos que imprevistos acontecem, mas lembra-te que a Rizoma só funciona graças à participação ativa de todas as
    pessoas cooperantes. Quando alguém falta a um turno, a equipa fica mais sobrecarregada, as prateleiras podem ficar
    vazias e o serviço aos membros torna-se mais difícil.
</p>
<p>Se a tua ausência foi justificada ou se houve algum erro, por favor entra em contacto com o GTT-membros o mais
    rapidamente possível — basta responder a este email.</p>
<p>
    Para manter o sistema de turnos a funcionar bem, é importante <strong>cancelar o turno com pelo menos 24 horas de
        antecedência</strong> ou <strong>encontrar um/a substituto/a se não puderes comparecer</strong>. Podes consultar
    o <a href="https://docs.google.com/document/d/1BxEWHsJ2y6o3c4z7a-ShwRXMXdQwx_BPOIfVB3igvwg/edit">Manual de
        Membros</a>para mais detalhes. É da tua responsabilidade procurar ativamente alguém que te substitua — incluindo
    registar o turno no Tapir e procurar ajuda através de canais como o Slack.
</p>
<p>Como regra geral, <strong>cada turno em falta sem substituição deve ser compensado com dois turnos de
        reposição</strong>. No entanto, como estamos ainda numa fase de adaptação esta regra começará a aplicar-se
    apenas durante o próximo ano.
</p>
<p>
    Pedimos que te inscrevas nos teus turnos de compensação no Tapir dentro das próximas quatro semanas, para equilibrar
    a tua conta. Se isso não acontecer, o teu direito de compra poderá ser temporariamente suspenso até que voltes a
    participar ativamente (ver <a
        href="https://drive.google.com/file/d/12SmzltFmv51Rw_99WI2HBRfe4fhHNgbE/view">Regulamento da Secção
        Consumo</a>).
</p>
<p>Obrigada pela tua compreensão e pelo teu compromisso com a Rizoma💚</p>
<p>
    Saudações cooperativas,<br />
    <strong>GTT-membros</strong>
</p>

<hr />

<p>Hi {{ display_name_short }},</p>

<p>This is an automated message from <strong>Rizoma – Consumo Section</strong>.</p>

<p>
    We noticed that you did not attend the following shift for which you were registered: {{ shift.get_display_name }}
</p>
<p>First of all, we hope everything is okay with you! 🫒
</p>
<p>
    We know that unforeseen circumstances can happen, but please remember that
    <strong>Rizoma only works thanks to the active participation of all cooperative members</strong>.
    When someone misses a shift, the rest of the team becomes more overloaded, shelves may stay empty, and serving
    members becomes more difficult.
</p>
<p>If your absence was justified or if there has been an error, please contact <strong>GTT-membros</strong> as soon as
    possible — you can simply reply to this email.</p>
<p>
    To keep the shift system running smoothly, it’s important to <strong>cancel your shift at least 24 hours in advance
        or find a substitute</strong> if you can’t attend. You can check the <a
        href="https://docs.google.com/document/d/1BxEWHsJ2y6o3c4z7a-ShwRXMXdQwx_BPOIfVB3igvwg/edit">Members Manual</a>
    for more details. It’s your responsibility to actively look for a replacement — including posting your shift on
    <strong>Tapir</strong> and asking for help through channels such as <strong>Slack</strong>.
</p>
<p>As a general rule, <strong>each missed shift without a replacement must be compensated with two make-up
        shifts</strong>. However, since we’re still in a transition phase, this rule will only start to apply from next
    year.
</p>
<p>
    Please sign up for your make-up shifts in Tapir within the next four weeks to balance your account. If this doesn’t
    happen, your purchasing account may be temporarily suspended until you resume active participation (see <a
        href="https://drive.google.com/file/d/12SmzltFmv51Rw_99WI2HBRfe4fhHNgbE/view">Consumo Section Regulations</a>).
</p>
<p>Thank you for your understanding and for your commitment to Rizoma 💚</p>
<p>
    Cooperative Greetings,<br />
    <strong>GTT-membros</strong>
</p>
{% endblock body %}