{% load i18n %}
{% if campaign %}
    <div>
        <a class="nav-link" href="{% url "statistics:main_statistics" %}">
            <span data-bs-toggle="tooltip"
                  title="{% translate 'Current: ' %}{{ current_sum }}€ {% translate 'Click this link to learn more.' %}">
                <span>{{ campaign.name }}</span>
                <span class="progress" style="width: 400px; height:30px;">
                    <span class="progress-bar"
                          role="progressbar"
                          style="width: {{ progress }}%">{{ current_sum }}€</span>
                </span>
                <span>{% translate "Goal: " %}{{ campaign.goal }}€</span>
            </span>
        </a>
    </div>
{% endif %}
