{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% translate 'Password reset' %}</title>
    </head>
    <body>
        {% url 'password_reset_confirm' uidb64=uid token=token as password_reset_url %}
        {% language user.preferred_language %}
            {% blocktranslate trimmed with first_name=user.first_name username=user.username %}
                <p>Hi {{ first_name }},</p>

                <p>
                    Someone asked for password reset for {{ email }}.<br/>
                    Your username is {{ username }} <br/>
                    Follow this link to reset your password: <a href="{{ protocol }}://{{ domain }}{{ password_reset_url }}">{{ protocol }}://{{ domain }}{{ password_reset_url }}</a>
                </p>
            {% endblocktranslate %}
        {% endlanguage %}
    </body>
</html>
