{% load i18n %}
{% load utils %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% translate 'Password reset' %}</title>
    </head>
    <body>
        {% url 'password_reset_confirm' uidb64=uid token=token as password_reset_url_short %}
        {% with protocol|add:"://"|add:domain|add:password_reset_url_short as password_reset_url_full %}
            {% language user.preferred_language %}
                {% get_display_name_short user as display_name_short %}
                {% blocktranslate with display_name_short=display_name_short username=user.username %}
                    <p>Hi {{ display_name_short }},</p>
                    <p>
                        Someone asked for password reset for {{ email }}.<br />
                        Your username is {{ username }} <br />
                        Follow this link to reset your password: <a href="{{ password_reset_url_full }}">{{ password_reset_url_full }}</a>
                        If the link doesn't work, try to open it in a private browser window (sometimes called "incognito mode"), or in another browser.
                    </p>
                {% endblocktranslate %}
            {% endlanguage %}
        {% endwith %}
    </body>
</html>
