{% load i18n %}
{% load utils %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% translate 'Password reset' %}</title>
    </head>
    <body>
        {% url 'password_reset_confirm' uidb64=uid token=token as password_reset_url %}
        {% language user.preferred_language %}
            {% get_display_name_short user as display_name_short %}
            {% blocktranslate with display_name_short=display_name_short username=user.username %}
        <p>Hi {{ display_name_short }},</p>

        <p>
            Someone asked for password reset for {{ email }}.<br />
            Your username is {{ username }} <br />
            Follow this link to reset your password: <a href="{{ protocol }}://{{ domain }}{{ password_reset_url }}">{{ protocol }}://{{ domain }}{{ password_reset_url }}</a>
        </p>
    {% endblocktranslate %}
        {% endlanguage %}
    </body>
</html>
