.member-filter-form {
    padding-bottom: 20px;
}

.member-filter-form-filters {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    align-items: center;
}

.member-filter-form-filters > div {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 350px;
}

.member-filter-form-filters > div > label {
    margin-bottom: unset;
}

.member-filter-form-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 10px;
}