.member-filter-form {
    padding-bottom: 20px;
}

.member-filter-form-filters {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    align-items: center;
}

.member-filter-form-filters > div {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 300px;
}

.member-filter-form-filters > div > label {
    margin-bottom: unset;
}

.member-filter-form-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

/* Target specific date inputs by their name attributes */
.member-filter-form-filters input[type="date"] {
    width: 100px !important;  /* Smaller width for date input fields */
    font-size: 0.9rem;  /* Slightly smaller font */
}