{% extends "core/base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load core %}
{% block title %}
    {% translate "Confirm delete" %} {{ object }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="card mb-2">
            <h5 class="card-header">
                <span>{% translate "Confirm delete" %}</span>
            </h5>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <p>
                        Are you sure you want to delete <b>{{ object }}</b>?
                    </p>
                    {{ form }}
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn tapir-btn btn-danger">
                            <span class="material-icons">delete</span>
                            {% translate 'Delete' %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
