{% extends "core/base.html" %}

{% load i18n %}

{% block title %}
    {% translate "Email list" %}
{% endblock %}

{% block content %}
    <div class="card mb-2">
        <h5 class="card-header d-flex justify-content-between align-items-center">
            {% translate "Email list" %}
        </h5>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped" aria-label="{% translate 'List of all emails' %}">
                    <thead>
                        <th>{% translate "Code" %}</th>
                        <th>{% translate "Name" %}</th>
                        <th>{% translate "Description" %}</th>
                        <th>{% translate "Subject" %}</th>
                        <th>{% translate "Preview" %}</th>
                        <th>{% translate "Fectch example" %}</th>
                    </thead>
                    {% for email in emails %}
                        <tr>
                            <td>{{ email.code }}</td>
                            <td>{{ email.name }}</td>
                            <td>{{ email.description }}</td>
                            <td>TODO</td>
                            <td>TODO</td>
                            <td>TODO</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}