.shift-template-block-container, .shift-block-container {
    display: block;
}

.shift-template-block-container, .shift-block-container, .shift-block {
    height: 100%;
}

.shift-template-block-container, .shift-block, .shift-block-container {
    min-width: 240px;
}

.shift-block {
    font-size: 12px;
    padding:3px;
    margin:2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    position: relative;
    text-align: unset;
    color: #000;
}

.shift-block .shift-block-title {
    font-weight: bold;
}

.shift-block .material-icons {
    font-size: 14px;
}

.shift-block:hover {
    transform: scale(1.015);
    transition: all .2s;
}

.shift-date {
    position: absolute;
    top: 3px;
    right: 3px;
}

.shift-list {
    gap: 10px;
}

.shift-template-block {
    outline: solid 2px var(--gray);
}

.shift-group {
    position: absolute;
    top: 16px;
    right: 6px;
    font-size: 24px;
}

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}