{% load static %}
{% load django_bootstrap5 %}
{% load accounts %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% blocktranslate with display_name=member_infos.get_display_name %}
            Confirmation acquisition of additional shares in {{ coop_name }} for {{ display_name }}
        {% endblocktranslate %}
    </title>
    <link rel="stylesheet" href="{% static 'coop/css/membership_agreement_pdf.css' %}">
</head>

<body>

<!-- Falzmarken -->
<span style="border-top: 1px solid grey; width: 5mm; position: fixed; left: -15mm; top: 60mm;"></span>
<span style="border-top: 1px solid grey; width: 5mm; position: fixed; left: -15mm; top: 165mm;"></span>

<!-- A DIN 5008 Letter has 2,7cm of top margin -->
<div style="display: flex">
    <div style="margin-top: 17.7mm; margin-bottom: 30mm; margin-right: 30mm;">
        <span style="font-size: 6pt;">
            {{ member_infos.get_display_name }},<br/>
            {{ member_infos.street }},<br/>
            {% if member_infos.street_2 %} {{ member_infos.street_2 }},<br/>{% endif %}
            {{ member_infos.postcode }} {{ member_infos.city }}
        </span>
        <div style="margin-top: 2mm;">
            SuperCoop Berlin eG<br/>
            Oudenarder Straße 16<br/>
            13347 Berlin
        </div>
    </div>
    <div style="flex-grow: 1"></div>
    <div style="margin-top: 13mm;">
        <img src="{% static 'coop/img/supercoop_logo.png' %}" style="width: 60mm;" alt="SuperCoop Logo"/>
    </div>
</div>

<div style="text-align: center; font-size: 14pt; font-weight: bold;">
    {% translate "Confirmation acquisition of additional shares in SuperCoop Berlin eG" %}
</div>

<div style="margin-top: 10mm; line-height: 1.8rem;">
    <div style="display: flex; justify-content: flex-end">Berlin, {% now "j. F Y" %}</div>
    {% blocktranslate with first_name=member_infos.first_name %}
        <p>Dear {{ first_name }},</p>

        <p>
            Thank you for your support!<br/>
            This document confirms that you have purchased {{ num_shares }} additional shares.
        </p>

        <p>
            Reminder: Your membership number is {{ member_number }}.<br/>
            This number is important for your communication with us and the membership office. You will need it often.
        </p>

        <p>
            You want to tell others about the vision and idea of SuperCoop?
            On our website you can find all information about the model and membership: https://supercoop.de.
        </p>

        <p>
            If you have any questions, feel free to contact mitglied@supercoop.de and
            we will answer you as soon as possible. We are happy to have you join us!
        </p>

        <p>
            Cooperative greetings<br/>
            Your board<br/>
            Eugénie, Jessica, Johanna and Marie for the SuperCoop Team<br/>
        </p>
    {% endblocktranslate %}
</div>

</body>
</html>