{% load static %}
{% load django_bootstrap5 %}
{% load accounts %}
{% load i18n %}
{% load utils %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
{% get_display_name_legal share_owner as display_name_legal %}
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="UTF-8">
        <title>
            {% blocktranslate %}
            Bestätigung der Antragsstellung für einen neuen Anteil in {{ COOP_NAME }}
            {% endblocktranslate %}
        </title>
        <link rel="stylesheet"
              href="{% static 'coop/css/membership_agreement_pdf.css' %}">
    </head>
    <body>
        <!-- Falzmarken -->
        <span style="border-top: 1px solid grey;
                     width: 5mm;
                     position: fixed;
                     left: -15mm;
                     top: 60mm"></span>
        <span style="border-top: 1px solid grey;
                     width: 5mm;
                     position: fixed;
                     left: -15mm;
                     top: 165mm"></span>
        <!-- A DIN 5008 Letter has 2,7cm of top margin -->
        <div style="display: flex">
            <div style="margin-top: 17.7mm; margin-bottom: 30mm; margin-right: 30mm;">
                <span style="font-size: 6pt;">{{ COOP_FULL_NAME }}, {{ COOP_STREET }}, {{ COOP_PLACE }}</span>
                <div style="margin-top: 2mm;">
                    {{ display_name_legal }}
                    <br />
                    {% if share_owner.get_info.street_2 %}
                        {{ share_owner.get_info.street_2 }}
                        <br />
                    {% endif %}
                    {{ share_owner.get_info.street }}
                    <br />
                    {{ share_owner.get_info.postcode }} {{ share_owner.get_info.city }}
                </div>
            </div>
            <div style="flex-grow: 1"></div>
            <div style="margin-top: 13mm;">
                <img src="{% static 'coop/img/supercoop_logo.png' %}"
                     style="width: 60mm"
                     alt="SuperCoop Logo" />
            </div>
        </div>
        <div style="text-align: center; font-size: 14pt; font-weight: bold;">
            {% blocktranslate %}Bestätigung der Antragsstellung für {{ num_shares }} Anteil(en) in {{ COOP_FULL_NAME }}{% endblocktranslate %}
        </div>
        <div style="margin-top: 10mm; line-height: 1.8rem; font-size: 10pt;">
            <div style="display: flex; justify-content: flex-end">Berlin, {{ date|date:"j. F Y" }}</div>
            {% get_display_name_short share_owner as display_name_short %}
            {% blocktranslate with display_name_short=display_name_short %}
            <p>Liebe/r {{ display_name_short }},</p>

            <p>
                vielen Dank für deine Unterstützung!<br />
                Dieses Dokument bestätigt, dass du einen Antrag auf die Zeichnung von {{ num_shares }} Anteil(en) zu
                je {{ VALUE_OF_SHARE }} € gestellt hast unter Zustimmung der Bedingungen.
                Bitte überweise den Betrag auf folgendes Konto:<br>
                <br>
                    Betrag: {{ money }} €<br>
                    Kontoinhaber: SuperCoop Berlin eG<br>
                    IBAN: DE98 4306 0967 1121 3790 00<br>
                    BIC: GENODEM1GLS<br>
                    Betreff: Vorname, Name: Anteil und Eintrittsgeld<br>
                <br>
                Nach Zahlungseingang wird diese Information auch in deinem Tapir-Profil aktualisiert.
            </p>

            <p>
                {{ additional_information }}
            </p>

            <p>
                Bei Fragen kontaktiere bitte das Mitgliederbüro
                (<a href="mailto:{{ EMAIL_ADDRESS_MEMBER_OFFICE }}">{{ EMAIL_ADDRESS_MEMBER_OFFICE }}</a>)
                und wir helfen dir so schnell wie möglich weiter.
            </p>

            <p>
                Kooperative Grüße<br />
                Dein {{COOP_NAME}}-Vorstand
            </p>
            {% endblocktranslate %}
        </div>
        <div style="margin-top: 20mm; font-size: 9pt; color: #666;">
            <p>{% translate "Generiert am" %} {{ date|date:"d.m.Y" }} {% translate "um" %} {{ date|time:"H:i" }}</p>
        </div>
    </body>
</html>
