{% load static %}
{% load django_bootstrap5 %}
{% load accounts %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Beteiligungserklärung {{ share_owner.first_name }} {{ share_owner.last_name }}</title>
        <link rel="stylesheet"
              href="{% static 'coop/css/membership_agreement_pdf.css' %}"/>
    </head>
    <body>
        <!-- Falzmarken -->
        <span style="border-top: 1px solid grey;
                     width: 5mm;
                     position: fixed;
                     left: -15mm;
                     top: 60mm"></span>
        <span style="border-top: 1px solid grey;
                     width: 5mm;
                     position: fixed;
                     left: -15mm;
                     top: 165mm"></span>
        <!-- A DIN 5008 Letter has 2,7cm of top margin -->
        <div style="display: flex">
            <div style="margin-top: 17.7mm; margin-bottom: 30mm; margin-right: 30mm;">
                {% if share_owner %}
                    <span style="font-size: 6pt;">
                        {{ share_owner.first_name }} {{ share_owner.last_name }},
                        {% if share_owner.street and share_owner.city %}
                            {% if share_owner.street_2 %}{{ share_owner.street_2 }},{% endif %}
                            {{ share_owner.street }},
                            {{ share_owner.postcode }} {{ share_owner.city }}
                        {% endif %}
                    </span>
                {% endif %}
                <div style="margin-top: 2mm;">
                    {{ coop_full_name }}
                    <br />
                    {{ coop_street }}
                    <br />
                    {{ coop_place }}
                </div>
            </div>
            <div style="flex-grow: 1"></div>
            <div style="margin-top: 13mm;">
                <img src="{% static 'coop/img/supercoop_logo.png' %}"
                     style="width: 60mm"
                     alt="SuperCoop Logo"/>
            </div>
        </div>
        <div style="text-align: center; font-size: 14pt; font-weight: bold;">Beteiligungserklärung {{ coop_full_name }}</div>
        <div style="margin-top: 10mm; line-height: 1.8rem;">
            <div style="line-height: 2.7rem">
                <div style="display: flex; flex-direction: row;">
                    <div style="margin-right: 3mm;">Vorname und Name:</div>
                    <div style="border-bottom: 2px solid black;
                                flex: 1;
                                vertical-align: bottom">
                        <span style="margin-left: 5mm;">{{ share_owner.first_name }} {{ share_owner.last_name }}</span>
                    </div>
                    <div style="margin-right: 3mm; margin-left: 3mm;">geboren am:</div>
                    <div style="border-bottom: 2px solid black;
                                flex: 1;
                                vertical-align: bottom">
                        <span style="margin-left: 5mm;">
                            {% if share_owner.birthdate %}{{ share_owner.birthdate }}{% endif %}
                        </span>
                    </div>
                </div>
                <div style="color: grey; display: flex; flex-direction: row;">
                    <div style="margin-right: 3mm;">
                        <strong>oder</strong> Firma:
                    </div>
                    <div style="border-bottom: 2px solid grey;
                                flex: 1;
                                vertical-align: bottom">
                        <span style="margin-left: 5mm;"><!-- Company Name --></span>
                    </div>
                    <div style="margin-right: 3mm; margin-left: 3mm;">vertreten durch:</div>
                    <div style="border-bottom: 2px solid black;
                                flex: 1;
                                vertical-align: bottom">
                        <span style="margin-left: 5mm;"><!-- Company Representative --></span>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row;">
                    <div style="margin-right: 3mm;">Adresse:</div>
                    <div style="border-bottom: 2px solid black;
                                flex: 1;
                                vertical-align: bottom">
                        <span style="margin-left: 5mm;">
                            {% if share_owner.street and share_owner.city %}
                                {{ share_owner.street }}
                                {% if share_owner.street_2 %}{{ share_owner.street_2 }}{% endif %}
                                ,
                                {{ share_owner.postcode }} {{ share_owner.city }}
                            {% endif %}
                        </span>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row;">
                    <div style="margin-right: 3mm;">E-Mail:</div>
                    <div style="border-bottom: 2px solid black;
                                flex: 1;
                                vertical-align: bottom">
                        <span style="margin-left: 5mm;">{{ share_owner.email }}</span>
                    </div>
                    <div style="margin-right: 3mm; margin-left: 3mm;">Telefon:</div>
                    <div style="border-bottom: 2px solid black;
                                flex: 1;
                                vertical-align: bottom">
                        <span style="margin-left: 5mm;">{{ share_owner.phone_number|format_phone_number }}</span>
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; margin-top: 10mm;">
                <div style="margin-right: 8mm; width: 5mm;">
                    <span style="position: absolute; left: 2mm;" class="material-icons">check_box_outline_blank</span>
                    {% if share_owner and not share_owner.share_ownerships %}
                        <span style="position: absolute; left: 2mm;" class="material-icons">close</span>
                    {% endif %}
                </div>
                <div style="flex: 1">
                    Ich beantrage hiermit die Aufnahme in die {{ coop_full_name }}. Ich möchte mich mit insgesamt
                    <span style="display: inline-block;
                                 width: 20mm;
                                 border-bottom: 2px solid black;
                                 text-align: center">{{ share_owner.num_shares }}</span>
                    Anteil(en) an der Genossenschaft beteiligen. Ich verpflichte mich, die nach Satzung und Gesetz vorgesehenen Zahlungen
                    in Höhe von 100 € je Geschäftsanteil plus einem Eintrittsgeld in Höhe von 10 € zu leisten, das der Deckung von
                    Verwaltungskosten dient. Insgesamt verpflichte ich mich daher,
                    <span style="display: inline-block;
                                 width: 20mm;
                                 border-bottom: 2px solid black;
                                 text-align: center">
                        {{ share_owner.get_initial_amount|floatformat:0 }}
                    </span>€
                    zu leisten. Die Satzung von {{ coop_full_name }} ist mir (entweder digital oder in gedruckter Form) ausgehändigt worden kann hier eingesehen werden:
                    <a href="https://supercoop.de/unsere-genossenschaft/">https://supercoop.de/unsere-genossenschaft/</a>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; margin-top: 5mm;">
                <div style="margin-right: 8mm; width: 5mm;">
                    <span class="material-icons">check_box_outline_blank</span>
                    {% if share_owner.share_ownerships %}
                        <span style="position: absolute; left: 2mm;" class="material-icons">close</span>
                    {% endif %}
                </div>
                <div style="flex: 1">
                    Ich bin Mitglied von {{ coop_full_name }} und möchte mich mit
                    <span style="display: inline-block;
                                 width: 10mm;
                                 border-bottom: 2px solid black;
                                 text-align: center">
                        {{ num_additional_shares }}
                    </span>
                    weiteren Anteilen an der Genossenschaft beteiligen. Ich verpflichte mich, die nach Satzung und Gesetz
                    vorgesehenen Zahlungen in Höhe von 100 € je Geschäftsanteil zu leisten. Zusammen mit dem Pflichtanteil
                    verpflichte ich mich daher, insgesamt
                    <span style="display: inline-block;
                                 width: 10mm;
                                 border-bottom: 2px solid black;
                                 text-align: center"></span>
                    €  zu leisten.
                </div>
            </div>
            <div style="display: flex; flex-direction: row; margin-top: 5mm;">
                <div style="margin-right: 8mm; width: 5mm;">
                    <span class="material-icons">check_box_outline_blank</span>
                    {% if share_owner.is_investing %}
                        <span style="position: absolute; left: 2mm;" class="material-icons">close</span>
                    {% endif %}
                </div>
                <div style="flex: 1">
                    Ich möchte als investierendes Mitglied (= Fördermitglied) in die Mitgliederliste eingetragen werden.
                    <br />
                    <strong>Hinweis</strong>: Investierende Mitglieder sind fördernde Mitglieder. Sie haben kein Stimmrecht in der
                    Generalversammlung und können die Leistungen der Genossenschaft nicht nutzen.
                </div>
            </div>
            <div style="display: flex; flex-direction: row; margin-top: 5mm;">
                <div style="margin-right: 8mm; width: 5mm;">
                    <span style="position: absolute; left: 2mm;" class="material-icons">check_box_outline_blank</span>
                    {% if share_owner %}<span style="position: absolute; left: 2mm;" class="material-icons">close</span>{% endif %}
                </div>
                <div style="flex: 1">
                    Ich nehme zur Kenntnis, dass die Satzung eine Kündigungsfrist von 3 Jahren zum Ende des Geschäftsjahres
                    bestimmt. Die lange Laufzeit dient zur finanziellen Stabilität und ist ein wesentlicher Kern des
                    Genossenschaftsprinzips, das auf langfristige Ziele ausgerichtet ist. Eine Übertragung von Geschäftsanteilen
                    ist auch vorher bereits möglich und in der Satzung geregelt.
                </div>
            </div>
            <div style="display: flex; flex-direction: row; margin-top: 5mm;">
                <div style="margin-right: 8mm; width: 5mm;">
                    <span class="material-icons">check_box_outline_blank</span>
                    {% if share_owner.ratenzahlung %}
                        <span style="position: absolute; left: 2mm;" class="material-icons">close</span>
                    {% endif %}
                </div>
                <div style="flex: 1">
                    <span style="display: inline-block;
                                 width: 100mm;
                                 border-bottom: 2px solid black;
                                 text-align: center">
                        {% if share_owner.ratenzahlung %}Ratenzahlung{% endif %}
                    </span>
                    <br />
                    (Weiteres, z.Bsp. Ratenzahlung, wenn möglich mit Angabe der Zahlungsintervalle)
                </div>
            </div>
            <div style="display: flex; flex-direction: row; margin-top: 5mm;">
                <div style="margin-right: 8mm; width: 5mm;">
                    <span class="material-icons">check_box_outline_blank</span>
                    {% if share_owner %}<span style="position: absolute; left: 2mm;" class="material-icons">close</span>{% endif %}
                </div>
                <div style="flex: 1">
                    Ich werde meine (Rest-)Zahlungen per Überweisung leisten und auf folgendes Konto überweisen:
                    <br />
                    <div style="margin-left: 10mm; line-height: 1.2; margin-top: 3mm;">
                        Kontoinhaber: {{ coop_full_name }}
                        <br />
                        IBAN: <span style="font-family: monospace">DE98 4306 0967 1121 3790 00</span>
                        <br />
                        BIC: <span style="font-family: monospace">GENODEM1GLS</span>
                        <br />
                        Betreff: Anteil und Eintrittsgeld {{ share_owner.first_name }} {{ share_owner.last_name }}
                    </div>
                </div>
            </div>
            <div style="border: 1px solid black;
                        margin-top: 10mm;
                        padding: 2mm;
                        font-size: 7pt;
                        line-height: 1.0rem">
                <strong>Datenschutzerklärung</strong>
                Verantwortlich für die Datenverarbeitung ist die {{ coop_full_name }}, {{ coop_street }}, {{ coop_place }}.
                Erreichbar unter contact@supercoop.de. Der Name, die Anschrift und das Geburtsdatum werden für die
                Mitgliederliste der Genossenschaft benötigt (Art. 6 Absatz 1 c DS-GVO i.V.m. § 30 Absatz 2 Satz 1 Nr.1 GenG).
                Über die Adresse oder die E-Mail-Adresse werden Sie von der Genossenschaft zu Versammlungen eingeladen (Art. 6
                Absatz 1c DS-GVO i.V.m § 46 Absatz 1 Satz 1 GenG i.V.m. § 6 Nr.4 GenG) und im Rahmen der Mitgliedschaft über
                Angebote der Genossenschaft informiert (Art.6 Absatz 1 b DS-GVO i.V.m. § 1 Absatz 1 GenG i.V.m. der Satzung).
                Die Genossenschaft hat ein berechtigtes Interesse an einer unkomplizierten und rechtssicheren Erfüllung ihrer
                Verbindlichkeiten. Die Bereitstellung der personenbezogenen Daten ist gesetzlich bzw. durch die Satzung
                vorgeschrieben, die Nichtbereitstellung hätte zur Folge, dass die Mitgliedschaft nicht zustande kommen kann.
                <br />
                <br/>
                Die personenbezogenen Daten werden nicht an Dritte weitergeleitet, soweit nicht im Einzelfall dafür eine
                Einwilligung erteilt wird. Wir sind allerdings gesetzlich verpflichtet, in einigen Fällen Dritten die Einsicht
                in die personenbezogenen Daten zu gewähren. Das betrifft zum Beispiel andere Mitglieder, den gesetzlichen
                Prüfungsverband oder Behörden, insbesondere das Finanzamt. Die Daten werden unterschiedlich aufbewahrt: Alle
                steuerlich relevanten Informationen werden zehn Jahre aufbewahrt (§ 147 AO). Die Daten in der Mitgliederliste
                (Name und Anschrift nach § 30 Absatz 2 Satz 1 Nr. 1 GenG) werden auch nach dem Ausscheiden nicht gelöscht (§ 30
                Absatz 2 Satz 1 Nr. 3 GenG). Sie haben das Recht auf Auskunft seitens des Verantwortlichen über die betreffenden
                personenbezogenen Daten sowie auf Berichtigung oder Löschung oder auf Einschränkung der Verarbeitung (soweit dem
                nicht eine gesetzliche Regelung entgegensteht). Auch kann eine Datenübertragung angefordert werden, sollte der
                Unterzeichnende eine Übertragung seiner Daten an eine dritte Stelle wünschen. Darüber hinaus haben Sie das Recht
                auf Beschwerde bei einer Aufsichtsbehörde (Landesbeauftragte für Datenschutz).
            </div>
            <div style="display: flex; margin-top: 30mm;">
                <div style="border-top: 1px solid black; width: 80mm;">
                    (Ort, Datum)
                </div>
                <div style="flex-grow: 1">
                </div>
                <div style="border-top: 1px solid black; width: 80mm;">
                    (Unterschrift Mitglied)
                </div>
            </div>
            <div style="border-top: 2px solid black;
                        width: 100%;
                        margin-top: 10mm;
                        margin-bottom: 4mm">
            </div>
            <div style="text-align: center;">
                Zulassung durch die Genossenschaft. Dem Antrag wird entsprochen:
            </div>
            <div style="display: flex; margin-top: 20mm;">
                <div style="border-top: 1px solid black; width: 80mm;">
                    (Ort, Datum, Unterschrift)
                </div>
                <div style="flex-grow: 1">
                </div>
                <div style="border-top: 1px solid black; width: 80mm;">
                    (Ort, Datum, Unterschrift)
                </div>
            </div>
        </div>
    </body>
</html>
