body {
  font-size: .875rem;
}

/* Sidebar, stolen from https://getbootstrap.com/docs/4.1/examples/dashboard/ */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover {
  color: #007bff;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
The fonts are from https://github.com/jossef/material-design-icons-iconfont
The css is from https://google.github.io/material-design-icons/#icon-font-for-the-web
*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/static/core/material-icons/MaterialIcons-Regular.6.4.2.eot); /* For IE6-8 */
  src:
    url(/static/core/material-icons/MaterialIcons-Regular.6.4.2.woff2) format('woff2'),
    url(/static/core/material-icons/MaterialIcons-Regular.6.4.2.woff) format('woff'),
    url(/static/core/material-icons/MaterialIcons-Regular.6.4.2.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.tapir-btn, .tapir-tooltip-item {
  display: inline-flex;
  gap: 5px;
  flex-direction: row;
  align-items: center;
}

.tapir-btn > .material-icons {
  font-size: 16px;
}

.btn-outline-info {
  color: #a3509f;
  border-color: #a3509f;
}


.tapir-tooltip-icon {
  font-size: 16px;
}

.tooltip-inner {
  max-width: 350px;
}

#about-link {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}