body {
  font-size: .875rem;
}

/*
The fonts are from https://github.com/jossef/material-design-icons-iconfont
The css is from https://google.github.io/material-design-icons/#icon-font-for-the-web
*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/static/core/material-icons/MaterialIcons-Regular.6.4.2.eot); /* For IE6-8 */
  src:
    url(/static/core/material-icons/MaterialIcons-Regular.6.4.2.woff2) format('woff2'),
    url(/static/core/material-icons/MaterialIcons-Regular.6.4.2.woff) format('woff'),
    url(/static/core/material-icons/MaterialIcons-Regular.6.4.2.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.tapir-btn, .tapir-tooltip-item {
  display: inline-flex;
  gap: 5px;
  flex-direction: row;
  align-items: center;
}

.tapir-btn > .material-icons {
  font-size: 16px;
}

.tapir-tooltip-icon {
  font-size: 16px;
}

.tooltip-inner {
  max-width: 350px;
}

#about-link {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}