{% extends "core/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}
{% load core %}
{% block title %}
{% translate "Login" %}
{% endblock title %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
{% endblock head %}
{% block content %}
<div class="d-flex justify-content-center">
  <div class="card mt-4">
    <h5 class="card-header d-flex justify-content-between align-items-center text-white bg-info">{% translate "Welcome to Tapir!" %}</h5>
    
<div class="card-body">
  {% blocktranslate %}
    <p>This is the new Shift Management System for Consumption Section (“Secção Consumo”) at Rizoma!</p>
    <p>If this is the first time you are using this system, you probably have to do the following first:</p><p>
    </p>
    <ol>
      <li>
        First <a href="https://rizoma.coops.pt/autorizacao/loginporlink">reset the password for your email address here</a>. This will send you an email with a link allowing you to reset the password.
      </li>
      <li>
        <strong>Consult the <a href="https://docs.google.com/document/d/1BxEWHsJ2y6o3c4z7a-ShwRXMXdQwx_BPOIfVB3igvwg/edit?tab=t.0#heading=h.y3i060nt8f2g">Members Manual</a></strong> to learn how to use the new system and more about the updated rules.
        </li>
    </ol>

    <p>If you are facing any issues, you can use the "💬 button" on the bottom right to contact us directly and we will try to help you as soon as we can, or you can write us at <a href="mailto:support@rizomacoop.pt">support@rizomacoop.pt</a></p>

  {% endblocktranslate %}
    </div>

  </div>
</div>

<div class="d-flex justify-content-center tapir-authentication">
  <div class="card tapir-login mt-4" id="login-card">
    <h5 class="card-header d-flex justify-content-between align-items-center">{% translate "Sign in" %}</h5>
    <div class="card-body">
      <form role="form" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label class="form-label" for="id_username">{% translate "Email" %}</label>
          <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150"
            class="form-control" placeholder="{% translate "Email" %}" required="" id="id_username" autocomplete="off">
        </div>
        <div class="mb-3">
          <label class="form-label" for="id_password">{% translate "Password" %}</label>
          <div class="input-group" id="custom_password_group">
            <input type="password" name="password" autocomplete="current-password" class="form-control"
              placeholder="{% translate "Password" %}" required="" id="id_password">
            <div class="input-group-append" style="cursor: pointer;">
              <span title="{% translate 'Click here to show/hide the password' %}" id="password_toggle"
                style="height: 100%">
                <span id="password_toggle_icon" class="material-icons">visibility</span>
              </span>
            </div>
          </div>
        </div>
        <p>
          <a href="https://rizoma.coops.pt/autorizacao/loginporlink" target="_blank">{% translate "Forgot your password or your username?" %}</a>
        </p>
        <button type="submit" class="{% tapir_button_action %} btn-block">
          <span class="material-icons">login</span>
          {% translate "Sign in" %}
        </button>
      </form>
    </div>
  </div>
</div>
<script>
  const passwordInput = document.getElementById('id_password');
  const passwordToggleIcon = document.getElementById('password_toggle_icon');

  document.getElementById('password_toggle').addEventListener('click', () => {
    if (passwordInput.type == 'password') {
      passwordInput.type = "text";
      passwordToggleIcon.innerText = "visibility_off"
    } else {
      passwordInput.type = "password";
      passwordToggleIcon.innerText = "visibility"
    }

  })
</script>
{% endblock content %}