{% load bootstrap4 %}
{% load static %}

<!doctype html>
<html>

<head>
    <meta charset="utf-8">

    <title>{% block title %}Tapir{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <!-- fancy icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!-- To make the datepicker from admin work --->
    <script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>


    {% block head %}{% endblock %}

</head>

<body>
{% bootstrap_messages %}

<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="#">SuperCoop Berlin</a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "shifts:index" %}">Shifts</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
               <!--
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              -->
                {% block sidebar %}{% endblock %}
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="container">
            {% block content %}{% endblock %}
            </div>
        </main>
      </div>
    </div>

</body>
</html>
