{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}
{% load coop %}

<!doctype html>
<html>

<head>
    <meta charset="utf-8">

    <title>{% block title %}Tapir{% endblock %}</title>
    <link rel="stylesheet" href="{% static "bootstrap/5.1.3/css/bootstrap.min.css" %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static "css/base.css" %}">

    <!-- jQuery is required by select2, so load it here at the top -->
    <script src="{% static "jQuery/jquery-3.5.1.min.js" %}"></script>

    {% block head %}{% endblock %}
    <script>
        $(function () {
            $('[data-bs-toggle="tooltip"]').tooltip();
            $('[data-bs-toggle="tooltip"]').each(function () {
                const tooltip_element = $(this)[0];
                tooltip_element.innerHTML += "<span class='material-icons tapir-tooltip-icon'>info</span>";
                tooltip_element.classList.add("tapir-tooltip-item");
            })
        })
    </script>
</head>

<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top shadow px-3">
    <a class="navbar-brand" href="#">
        <img alt="SuperCoop Berlin Logo" height=30" src="{% static 'images/Logo_white.png' %}">
    </a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">Members</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://wiki.supercoop.de">Wiki</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://wiki.supercoop.de/wiki/Member_Manual">{% translate 'Member manual' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://wiki.supercoop.de/wiki/%C3%96ffnungszeiten">{% translate 'Shop opening hours' %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="mailto:mitglied@supercoop.de" data-bs-toggle="tooltip" title="Currently you can only contact the member office per email at : mitglied@supercoop.de. More contact options will be available later.">{% translate 'Contact the member office' %}</a>
            </li>
            <li>
                <a class="nav-link" href="https://wiki.supercoop.de/wiki/Finanzierung">{% shop_extension_progress_bar %}</a>
            </li>
        </ul>
    </div>

    <form class="form-inline" method="get" action="{% url "coop:shareowner_list" %}">
        <span class="mr-5">
        <input id="member_search" name="display_name" type="text" placeholder="{% translate "Search Members" %}" class="form-control">
        </span>
    </form>

    {% if request.user.is_authenticated %}
        <a class="text-light nav-link" href="{% url "accounts:user_me" %}">{{ request.user.first_name }} {{ request.user.last_name }}</a>
        <a class="text-light nav-link" href="{% url "logout" %}" id="logout">Logout</a>
    {% else %}
        <a class="text-light nav-link" href="{% url "login" %}">Login</a>
    {% endif %}
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                {% block sidebar %}
                    {% if perms.coop.manage %}
                        <h6 class="sidebar-heading px-3 mt-4 mb-1 text-muted">{% translate "Cooperative" %}</h6>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "coop:shareowner_list" %}">
                                    {% translate "Members" %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "coop:draftuser_list" %}">
                                    {% translate "Applicants" %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "coop:statistics" %}">
                                    {% translate "Statistics" %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "coop:matching_program_list" %}">
                                    {% translate "Matching program" %}
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                    <h6 class="sidebar-heading px-3 mt-4 mb-1 text-muted">Shifts</h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "shifts:calendar_future" %}">
                                {% translate "Shift calendar" %}
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url "shifts:shift_template_overview" %}">
                                {% translate "ABCD-shifts week-plan" %}
                            </a>
                        </li>

                        <li class="nav-item">
                            {% get_current_week_group as group %}
                            <a class="nav-link" href="{% url "shifts:shift_template_group_calendar" %}">{% translate 'ABCD weeks calendar<br />Current week: ' %}{{ group.name }}</a>
                        </li>

                        {% if perms.shifts.manage %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "shifts:calendar_past" %}">
                                    {% translate "Past shifts" %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "shifts:shift_exemption_list" %}">
                                    {% translate "Shift exemptions" %}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    {% if perms.welcomedesk.view %}
                        <h6 class="sidebar-heading px-3 mt-4 mb-1 text-muted">{% translate "Welcome Desk" %}</h6>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "coop:welcome_desk_search" %}" id="welcome_desk_link">
                                    {% translate "Welcome Desk" %}
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                    {% if perms.coop.manage %}
                        <h6 class="sidebar-heading px-3 mt-4 mb-1 text-muted">{% translate "Financing campaign" %}</h6>
                        <ul class="nav flex-column">
                            {% financing_nav_links %}
                        </ul>
                    {% endif %}
                    <a class="nav-link text-muted" id="about-link" href="{% url "coop:about" %}">
                        {% translate "About Tapir" %}
                    </a>
                {% endblock %}
            </div>
        </nav>

        <main role="main" class="col-md-9 ms-sm-auto col-lg-10 px-4">
            <!-- make it a bit wider than the default to fit the shift stuff -->
            <div class="container" style="max-width: 1500px;">
                {% bootstrap_messages %}
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>
</div>
</body>

<script src="{% static "bootstrap/5.1.3/js/bootstrap.bundle.min.js" %}"></script>
</html>
