{% load bootstrap4 %}
{% load static %}
{% load i18n %}

<!doctype html>
<html>

<head>
    <meta charset="utf-8">

    <title>{% block title %}Tapir{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <!-- fancy icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <!-- To make the datepicker from admin work --->
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>


    {% block head %}{% endblock %}

</head>

<body>
{% bootstrap_messages %}

<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#"><img height=30" src="{% static 'images/Logo_white.png' %}"></a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "shifts:index" %}">Shifts</a>
            </li>
        </ul>
    </div>
    {% if request.user is not None %}
        <a class="text-light nav-link" href="{% url "accounts:user_me" %}">{{ request.user.first_name }} {{ request.user.last_name }}</a>
        <a class="text-light nav-link" href="{% url "accounts:logout" %}">Logout</a>
    {% else %}
        <a class="text-light nav-link" href="{% url "accounts:login" %}">Login</a>
    {% endif %}
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                {% block sidebar %}
                    <h6 class="sidebar-heading px-3 mt-4 mb-1 text-muted">{% translate "Cooperative" %}</h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "coop:active_shareowner_list" %}">
                                {% trans "Members" %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "coop:draftuser_list" %}">
                                {% trans "Applicants" %}
                            </a>
                        </li>
                    </ul>
                    <h6 class="sidebar-heading px-3 mt-4 mb-1 text-muted">Shifts</h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "shifts:shift_upcoming" %}">
                                {% trans "Dashboard" %}
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url "shifts:shift_template_overview" %}">
                                {% trans "Regular Shifts" %}
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url "admin:shifts_shifttemplate_changelist" %}">
                                {% trans "Edit Shift Templates" %}
                            </a>
                        </li>

                    </ul>
                {% endblock %}
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>
</div>

</body>
</html>
