{% extends "core/base.html" %}

{% load core %}
{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}
{% load utils %}

{% block title %}
    {% translate 'Main statistics' %}
{% endblock %}

{% block head %}
    <script src="{% static 'statistics/chart_4.4.0.js' %}"></script>
    <script src="{% static 'statistics/tapir_charts.js' %}" defer></script>
{% endblock head %}

{% block content %}
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-2">
                <h5 class="card-header">{% translate "Total number of members" %}</h5>
                <div class="card-body">
                    <p>
                        {% blocktranslate with number_of_members_now=number_of_members_now %}
                            All members of the cooperative - whether investing or active: {{ number_of_members_now }}.
                        {% endblocktranslate %}
                    </p>
                    <p>
                <span class="{% tapir_button_link %}"
                      onclick="chartManager.show_stats_chart(
                              this,
                              '{% url "statistics:member_count_evolution_json" %}',
                              'member_count_evolution_canvas',
                              )">
                    <span class="material-icons">leaderboard</span>
                    <span class="button-text">{% translate "Show graph: " %}{% translate "Evolution of member count" %}</span>
                </span>
                        <span class="{% tapir_button_link %}"
                              onclick="chartManager.show_stats_chart(
                                      this,
                                      '{% url "statistics:new_members_per_month_json" %}',
                                      'new_members_per_month_canvas',
                                      )
                                      ">
                    <span class="material-icons">leaderboard</span>
                    <span class="button-text">{% translate "Show graph: " %}{% translate "New members per month" %}</span>
                </span>
                        <canvas id="member_count_evolution_canvas" style="display: none;"></canvas>
                        <canvas id="new_members_per_month_canvas" style="display: none;"></canvas>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-2">
                <h5 class="card-header">{% translate "Targets for break-even" %}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5>{% translate 'Shopping basket' %}</h5>
                        <p>
                            {% blocktranslate with target_basket=target_average_monthly_basket %}
                                The current target food basket value per member and per month to reach the break-even is
                                {{ target_basket }}€.
                            {% endblocktranslate %}
                        </p>
                    </li>
                    <li class="list-group-item">
                        <h5>{% translate 'Members eligible to purchase' %}</h5>
                        <p>
                            {% blocktranslate with target_number_of_purchasing_members=1140 %}
                                <p>
                                    All working members and all members who have an exemption (such as parental leave,
                                    over 70, etc.). Members who are frozen (and have not yet signed up for their
                                    catch-up shifts) or on break (3 shift cycles or longer away) are not eligible to
                                    purchase.
                                </p>
                                <p>
                                    Target number of purchasing members for
                                    break-even: {{ target_number_of_purchasing_members }}.
                                </p>
                            {% endblocktranslate %}
                        </p>
                        <p>
                            <span class="{% tapir_button_link %}"
                                  onclick="chartManager.show_stats_chart(this,
                                          '{% url "statistics:purchasing_members_json" %}',
                                          'purchasing_members_canvas')">
                            <span class="material-icons">leaderboard</span>
                            <span class="button-text">{% translate "Show graph: " %}{% translate "Members eligible to purchase" %}</span>
                        </span>
                        </p>
                        <p>
                            <canvas id="purchasing_members_canvas" style="display: none;"></canvas>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-2">
                <h5 class="card-header">{% translate "Working members" %}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p>
                            {% blocktranslate with number_of_abcd_slots=number_of_abcd_slots %}
                                Working members are active members who do not have an exemption. Exemptions are, for
                                example, one year of parental leave, prolonged illness or members over 70 years of age.
                                The number of working members is compared with the number of jobs to be filled each
                                shift cycle : {{ number_of_abcd_slots }}.
                            {% endblocktranslate %}
                        </p>
                        <p>
                            <span class="{% tapir_button_link %}"
                                  onclick="chartManager.show_stats_chart(this,
                                          '{% url "statistics:working_members_json" %}',
                                          'working_members_canvas')">
                            <span class="material-icons">leaderboard</span>
                            <span class="button-text">{% translate "Show graph: " %}{% translate "Working members" %}</span>
                        </span>
                        </p>
                        <p>
                            <canvas id="working_members_canvas" style="display: none;"></canvas>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-2">
                <h5 class="card-header">{% translate "Frozen members" %}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p>
                            {% blocktranslate %}
                                Any member who is registered as an active member but is 4 or more shifts short and
                                therefore
                                not eligible to purchase again until they sign up for the appropriate make-up shifts.
                            {% endblocktranslate %}
                        </p>
                        <p>
                            <span class="{% tapir_button_link %}"
                                  onclick="chartManager.show_stats_chart(this,
                                          '{% url "statistics:frozen_members_json" %}',
                                          'frozen_members_canvas')">
                            <span class="material-icons">leaderboard</span>
                            <span class="button-text">{% translate "Show graph: " %}{% translate "Frozen members" %}</span>
                        </span>
                        </p>
                        <p>
                            <canvas id="frozen_members_canvas" style="display: none;"></canvas>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-2">
                    <h5 class="card-header">{% translate "Co-purchasers" %}</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <p>
                                {% blocktranslate %}
                                    Each member can designate one person (whether in their own household or not) to shop
                                    under the same membership number. This can be investing members or non-members.
                                {% endblocktranslate %}
                            </p>
                            <p>
                            <span class="{% tapir_button_link %}"
                                  onclick="chartManager.show_stats_chart(this,
                                          '{% url "statistics:co_purchasers_json" %}',
                                          'co_purchasers_canvas')">
                                <span class="material-icons">leaderboard</span>
                                <span class="button-text">{% translate "Show graph: " %}{% translate "Co-Purchasers" %}</span>
                            </span>
                            </p>
                            <p>
                                <canvas id="co_purchasers_canvas" style="display: none;"></canvas>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            {% if campaigns.exists %}
                <div class="col-xl-6">
                    <div class="card mb-2">
                        <h5 class="card-header">{{ campaigns.0.name }}</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p>
                                    {% blocktranslate %}
                                        Here you can follow the progress of the funding campaign. Both additional shares
                                        (all shares that are subscribed to over and above the compulsory share) and
                                        subordinated loans are counted. The period runs from 12.09.2023 - 09.12.2023.
                                        What one person can't achieve, many can!
                                    {% endblocktranslate %}
                                </p>
                                {% if perms.coop.admin %}
                                    <p>
                                        (Visible only to the Vorstand) the current number of extra shares
                                        is {{ extra_shares }}.
                                    </p>
                                {% endif %}
                            </li>
                            {% for campaign in campaigns %}
                                <li class="list-group-item">
                                    <p>
                                    <span class="{% tapir_button_link %}"
                                          onclick="chartManager.show_stats_chart(this,
                                                  '{% url "statistics:financing_campaign_json" campaign.id %}',
                                                  'financing_campaign_canvas_{{ campaign.id }}')">
                                        <span class="material-icons">leaderboard</span>
                                        <span class="button-text">{% translate "Show graph: " %}{{ campaign.name }}</span>
                                    </span>
                                    </p>
                                    <p>
                                        <canvas id="financing_campaign_canvas_{{ campaign.id }}"
                                                style="display: none;"></canvas>
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}