{% extends "core/base.html" %}
{% load statistics %}
{% load core %}
{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}
{% load utils %}
{% block title %}
    {% translate 'Stats for Marie' %}
{% endblock title %}
{% block head %}
    <script src="{% static 'statistics/chart_4.4.0.js' %}"></script>
    <script src="{% static 'statistics/tapir_charts.js' %}" defer></script>
{% endblock head %}
{% block content %}
    <div class="row">
        <div class="col">
            <div class="card mb-2">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">{% translate "Number of frozen members per month" %}</h5>
                    <a class="{% tapir_button_link %}"
                       href="{% url "statistics:number_of_frozen_members_per_month_csv" %}">Download CSV</a>
                </div>
                <div class="card-body">
                    <p>
                        {% translate "Number of frozen members per month" as chart_name %}
                        {% on_demand_chart chart_name "statistics:number_of_frozen_members_per_month_json" %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
